Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

build(docker): make graphite optional
  compose.yml
Labels: none

build: deps updated [skip ci]
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/console/svelte.config.js
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.yml
  docs/hasura.md
  nhost/metadata/databases/default/tables/auth_provider_requests.yaml
  nhost/metadata/databases/default/tables/auth_providers.yaml
  nhost/metadata/databases/default/tables/auth_refresh_token_types.yaml
  nhost/metadata/databases/default/tables/auth_refresh_tokens.yaml
  nhost/metadata/databases/default/tables/auth_roles.yaml
  nhost/metadata/databases/default/tables/auth_user_providers.yaml
  nhost/metadata/databases/default/tables/auth_user_roles.yaml
  nhost/metadata/databases/default/tables/auth_user_security_keys.yaml
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/storage_buckets.yaml
  nhost/metadata/databases/default/tables/storage_files.yaml
  nhost/metadata/databases/default/tables/storage_virus.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

fix(hasura): adding storage and auth hasura metadata [skip ci]
  .env.example
  compose.yml
  docs/hasura.md
  nhost/metadata/databases/default/tables/auth_provider_requests.yaml
  nhost/metadata/databases/default/tables/auth_providers.yaml
  nhost/metadata/databases/default/tables/auth_refresh_token_types.yaml
  nhost/metadata/databases/default/tables/auth_refresh_tokens.yaml
  nhost/metadata/databases/default/tables/auth_roles.yaml
  nhost/metadata/databases/default/tables/auth_user_providers.yaml
  nhost/metadata/databases/default/tables/auth_user_roles.yaml
  nhost/metadata/databases/default/tables/auth_user_security_keys.yaml
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/storage_buckets.yaml
  nhost/metadata/databases/default/tables/storage_files.yaml
  nhost/metadata/databases/default/tables/storage_virus.yaml
  nhost/metadata/databases/default/tables/tables.yaml
Labels: documentation

fix(hasura): adding storage and auth hasura metadata [skip ci]
  nhost/metadata/databases/default/tables/auth_users.yaml
Labels: none

build: deps updated
  apps/console-fb/.dockerignore
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: add page-container
  apps/console/src/lib/components/layout/page-layout.svelte
  apps/console/src/lib/components/layout/page-toc-layout.svelte
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/dashboard/play/+page.svelte
  apps/console/svelte.config.js
  infra/base/traefik/certs/.gitkeep
  packages/skeleton-ui/src/components/table/table.svelte
  packages/skeleton-ui/styles/default.pcss
Labels: none

build: deps updated
  Dockerfile
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.yml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: deps updated
  compose.override.yml
  compose.yml
  infra/base/traefik/traefik.yml
Labels: none

fix: add basic auth for dashboard service via traefik
  compose.yml
  infra/base/traefik/.htpasswd
  infra/base/traefik/dynamic.yml
  infra/base/traefik/traefik.yml
Labels: none

fix: deps updated
  .env.example
  .vscode/cspell.json
  compose.yml
Labels: none

fix: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: update nhost config
  compose.yml
  docs/wip.md
  nhost/nhost.toml
  nhost/overlays/bggkthwysdvphygfecpa.json
  nhost/overlays/local.json
Labels: documentation

fix: fix service start order when starting with docker compose
  apps/console/README.md
  compose.override.yml
  compose.yml
  docs/hasura.md
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/seeds/default/0_users.sql
Labels: documentation

build: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

build: deps updated
  .env.example
  apps/console-fb/vite.config.ts
  apps/console-sc/vite.config.ts
  apps/console/README.md
  apps/console/vite.config.ts
  apps/playground/vite.config.ts
Labels: playground, documentation

fix: fix signout redirect issue
  apps/console/README.md
  apps/console/src/routes/auth/signout/+page.server.ts
Labels: documentation

fix: fix signout redirect issue
  apps/console/src/routes/(app)/dashboard/policies/+page.ts
Labels: none

build: docker images updated, auto create s3 bucket
  .secrets.example
  compose.override.yml
  compose.yml
  docs/hasura-roles.md
  nhost/nhost.toml
Labels: documentation

build: fix env
  .secrets.prod
Labels: none

build: fix env
  .gitignore
  .secrets.example
  .secrets.prod.example
  compose.yml
Labels: none

build: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

refactor: hasura schema reorder
  apps/console/README.md
  compose.yml
  docs/hasura.md
  nhost/migrations/default/1684206403640_init/up.sql
Labels: documentation

refactor: hasura schema reorder
  apps/console/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  apps/console/src/routes/(app)/dashboard/policies/[id]/+page.svelte
  apps/console/src/routes/(app)/dashboard/policies/[id]/+page.ts
  nhost/migrations/default/1684206403640_init/up.sql
Labels: none

docs: add chmod for htpasswd
  apps/console/README.md
  docs/wip.md
  nhost/overlays/local.json
Labels: documentation

fix: deps updated
  .github/workflows/release.yml
  bun.Dockerfile
  docs/wip.md
Labels: documentation, workspace

fix: cleaup permissions
  apps/console/README.md
  compose.yml
  docs/hasura-auth.md
  docs/hasura-roles.md
  docs/images/hasura-auth.png
  docs/nhost.md
  nhost/metadata/actions.yaml
  nhost/metadata/databases/databases.yaml
  nhost/metadata/databases/default/tables/public_action.yaml
  nhost/metadata/databases/default/tables/public_device_pool.yaml
  nhost/metadata/databases/default/tables/public_devices.yaml
  nhost/metadata/databases/default/tables/public_direction.yaml
  nhost/metadata/databases/default/tables/public_organization.yaml
  nhost/metadata/databases/default/tables/public_policies.yaml
  nhost/metadata/databases/default/tables/public_protocol.yaml
  nhost/metadata/databases/default/tables/public_rules.yaml
  nhost/metadata/databases/default/tables/public_subject_type.yaml
  nhost/nginx-service.toml
  nhost/nhost.toml
  nhost/overlays/local.json
  nhost/seeds/default/001_users.sql
  nhost/seeds/default/011_devices.sql
  nhost/seeds/default/012_rules.sql
  nhost/seeds/default/013_pools.sql
  nhost/seeds/default/014_policies.sql
  nhost/seeds/default/0_users.sql
  nhost/tests/devices.http
  nhost/tests/policies.http
Labels: documentation

fix: enable resources
  compose.yml
  nhost/nhost.toml
  nhost/overlays/bggkthwysdvphygfecpa.json
Labels: none

fix: enable resources
  compose.yml
Labels: none

build: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

build: deps updated
  pnpm-lock.yaml
Labels: none

fix(hasura): permissions
  apps/console/schema.graphql
  docs/hasura-auth.md
  nhost/metadata/databases/default/tables/public_device_pool.yaml
  nhost/metadata/databases/default/tables/public_devices.yaml
  nhost/metadata/databases/default/tables/public_policies.yaml
  nhost/metadata/databases/default/tables/public_pools.yaml
  nhost/metadata/databases/default/tables/public_rules.yaml
  nhost/metadata/databases/default/tables/public_user_org_groups.yaml
Labels: documentation

fix(auth): rules
  apps/console-fb/houdini.config.js
  apps/console-fb/schema.graphql
  apps/console/houdini.config.js
  apps/console/package.json
  apps/console/schema.graphql
  nhost/seeds/default/001_users.sql
Labels: none

fix: env vars
  .env.example
Labels: none

fix: env vars
  .env.example
  compose.yml
  docs/wip.md
  nhost/seeds/default/011_devices.sql
  nhost/seeds/default/012_rules.sql
  nhost/seeds/default/013_pools.sql
  nhost/seeds/default/014_policies.sql
Labels: documentation

fix(docker): use user:group in compose.yml
  compose.yml
  docs/wip.md
Labels: documentation

fix: env vars
  .gitignore
  docs/wip.md
Labels: documentation

chore: deps updated
  compose.yml
  nhost/clamav-service.toml
  nhost/nhost.toml
Labels: none

chore: deps updated
  docs/hasura-auth.md
Labels: documentation

chore: update deps
  apps/console-fb/src/lib/server/middleware/authjs.ts
  docs/hasura-auth.md
  docs/hasura.md
  docs/wip.md
  nhost/tests/devices.http
  nhost/tests/hasura.http
  nhost/tests/policies.http
  nhost/tests/pool_device.http
  nhost/tests/pools.http
  nhost/tests/rules.http
Labels: documentation

chore: deps updated
  apps/console-fb/src/lib/graphql/QUERY.GetDevice.gql
  apps/console-fb/src/lib/graphql/QUERY.GetPool.gql
Labels: none

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json
