Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

build: fix deps [skip ci]
  .github/workflows/ci.yml
Labels: workspace

build: fix deps [skip ci]
  .prettierignore
  Dockerfile
  apps/docs/.eslintignore
  apps/docs/.prettierignore
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/web/.eslintignore
  apps/web/.prettierignore
  apps/web/astro.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: web, docs

build: fix deps [skip ci]
  .prettierignore
  Dockerfile
  apps/docs/.eslintignore
  apps/docs/.prettierignore
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/web/.eslintignore
  apps/web/.prettierignore
  apps/web/astro.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: web, docs

build: fix deps [skip ci]
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.all.yml
  compose.yml
  packages/eslint-config/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui

build: fix deps [skip ci]
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.all.yml
  compose.yml
  packages/eslint-config/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui

fix: authjs updates
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/server/middleware/houdini.old.ts
  apps/console-fb/svelte.config.js
  apps/console-fb/vite.config.ts
  apps/console/vite.config.ts
  apps/playground/package.json
  packages/skeleton-ui/styles/default.pcss
Labels: playground

fix: authjs updates
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/server/middleware/houdini.old.ts
  apps/console-fb/svelte.config.js
  apps/console-fb/vite.config.ts
  apps/console/vite.config.ts
  apps/playground/package.json
  packages/skeleton-ui/styles/default.pcss
Labels: playground

fix: dockerfile make SCOPE=console default
  Dockerfile
Labels: none

fix: dockerfile make SCOPE=console default
  Dockerfile
Labels: none

feat: using *.traefik.me for local backend running
  .env.example
  .gitignore
  Makefile
  README.md
  apps/console-fb/.env.example
  apps/console-fb/package.json
  apps/console-fb/src/hooks.client.ts
  apps/console-fb/src/hooks.server.ts
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/utils/zod.utils.ts
  apps/console-fb/src/lib/variables/variables.server.ts
  apps/console-fb/src/lib/variables/variables.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/console-fb/vite.config.ts
  apps/console/.env.example
  apps/console/README.md
  apps/console/src/hooks.server.ts
  apps/console/vite.config.ts
  compose.all.yml
  compose.override.yml
  compose.yml
  docs/hasura.md
  infra/base/traefik/certs/localhost.direct.zip
  infra/base/traefik/dynamic.yml
  infra/overlays/development/kustomization.yaml
  infra/overlays/local/kustomization.yaml
  infra/overlays/production/kustomization.yaml
  nhost/nhost.ai.toml
  nhost/nhost.toml
  nhost/overlays/local.json
Labels: documentation

feat: using *.traefik.me for local backend running
  .env.example
  .gitignore
  Makefile
  README.md
  apps/console-fb/.env.example
  apps/console-fb/package.json
  apps/console-fb/src/hooks.client.ts
  apps/console-fb/src/hooks.server.ts
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/utils/zod.utils.ts
  apps/console-fb/src/lib/variables/variables.server.ts
  apps/console-fb/src/lib/variables/variables.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/console-fb/vite.config.ts
  apps/console/.env.example
  apps/console/README.md
  apps/console/src/hooks.server.ts
  apps/console/vite.config.ts
  compose.all.yml
  compose.override.yml
  compose.yml
  docs/hasura.md
  infra/base/traefik/certs/localhost.direct.zip
  infra/base/traefik/dynamic.yml
  infra/overlays/development/kustomization.yaml
  infra/overlays/local/kustomization.yaml
  infra/overlays/production/kustomization.yaml
  nhost/nhost.ai.toml
  nhost/nhost.toml
  nhost/overlays/local.json
Labels: documentation

fix: updated deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: updated deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

style: fix lint
  .env.example
  apps/console-fb/.env.example
  apps/console/.env.example
  packages/skeleton-ui/components/debug.svelte
Labels: none

style: fix lint
  .env.example
  apps/console-fb/.env.example
  apps/console/.env.example
  packages/skeleton-ui/components/debug.svelte
Labels: none

fix(docker): using COMPOSE_FILE COMPOSE_PROFILES
  .env.example
  Makefile
  apps/console/README.md
Labels: documentation

fix(docker): using COMPOSE_FILE COMPOSE_PROFILES
  .env.example
  Makefile
  apps/console/README.md
Labels: documentation

fix: enabled storage servcie to start during local dev
  apps/console/README.md
  compose.yml
Labels: documentation

fix: enabled storage servcie to start during local dev
  apps/console/README.md
  compose.yml
Labels: documentation

fix: enabled storage servcie to start during local dev
  apps/console/README.md
Labels: documentation

fix: enabled storage servcie to start during local dev
  apps/console/README.md
Labels: documentation

fix: deps updated
  Makefile
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: deps updated
  Makefile
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: Makefile updated with new features
  Makefile
  README.md
  apps/console/README.md
Labels: documentation

fix: Makefile updated with new features
  Makefile
  README.md
  apps/console/README.md
Labels: documentation

fix: using root level .env .secrets as well for svelte apps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/playground/package.json
  docs/turborepo.md
  pnpm-lock.yaml
Labels: playground, documentation

fix: updated deps
  apps/console-fb/package.json
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/console-fb/svelte.config.js
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/console/svelte.config.js
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/svelte.config.js
  apps/web/package.json
  config.yaml
  docs/hasura.md
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

fix: deps updated
  .env.example
  .secrets.example
  Makefile
  README.md
  apps/console-fb/.env.example
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console/README.md
  apps/console/src/routes/auth/signin/+page.server.ts
  compose.override.yml
  compose.yml
  docs/hasura.md
  infra/README.md
  infra/base/kustomization.yaml
Labels: documentation

style: fix lint
  apps/console-sc/src/routes/+page.svelte
  apps/console/README.md
  packages/skeleton-ui/src/components/table/table-head.svelte
  packages/skeleton-ui/src/components/table/table-pagination.svelte
  packages/skeleton-ui/src/components/table/table-row-count.svelte
  packages/skeleton-ui/src/components/table/table-rows-per-page.svelte
  packages/skeleton-ui/src/components/table/table-search.svelte
  packages/ui/README.md
  packages/ui/index.ts
  packages/ui/src/utils.ts
  packages/ui/styles/default.pcss
  packages/ui/tsconfig.json
Labels: ui, documentation

fix: updated deps
  apps/console-fb/package.json
  apps/console-fb/src/lib/components/toast/Toasts.svelte
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: updated deps
  apps/console-fb/src/lib/components/table/DataTable.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/[id]/RemoveDevicePoolButton.svelte
Labels: none

fix: add vercel injectSpeedInsights
  apps/console-fb/package.json
  apps/console-fb/src/routes/+layout.svelte
  apps/playground/svelte.config.js
  pnpm-lock.yaml
Labels: playground

fix(console-fb): remove vercel config file
  apps/console-fb/src/routes/+layout.svelte
  apps/console-fb/vercel.json
  apps/playground/turbo.json
Labels: playground

fix: add env for integration tests
  .github/playwright.yml
  apps/console-fb/package.json
  apps/console-fb/turbo.json
  apps/console-sc/package.json
  apps/console-sc/turbo.json
  apps/console/package.json
  apps/console/tests/example.spec.ts
  apps/console/turbo.json
  apps/playground/package.json
  apps/playground/turbo.json
  apps/web/turbo.json
  packages/skeleton-ui/package.json
  pnpm-lock.yaml
Labels: web, playground, workspace

style: fix lint
  apps/console/tests/example.spec.ts
  apps/playground/turbo.json
  packages/ui/src/utils.ts
Labels: playground, ui

build: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.yml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

build: deps updated [skip ci]
  compose.override.yml
Labels: none

fix: using nhost dashboard
  .env.example
  .gitignore
  .secrets.example
  apps/console/README.md
  compose.override.yml
  compose.yml
  nhost/nhost.ai.toml
  nhost/nhost.toml
  nhost/overlays/bggkthwysdvphygfecpa.json
Labels: documentation

fix: change anonymous role to public
  .secrets.example
  apps/console-fb/src/lib/graphql/client.ts
  docs/hasura-roles.md
Labels: documentation

docs(hasura): updated hasura migrate create docs
  docs/hasura.md
Labels: documentation

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json
