Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

fix(smart): add static assects - part2
  apps/smart/package.json
  apps/smart/src/app.css
  apps/smart/src/app.pcss
  apps/smart/static/android-chrome-192x192.png
  apps/smart/static/android-chrome-512x512.png
  apps/smart/static/apple-touch-icon.png
  apps/smart/static/avatars/01.png
  apps/smart/static/avatars/02.png
  apps/smart/static/avatars/03.png
  apps/smart/static/avatars/04.png
  apps/smart/static/avatars/05.png
  apps/smart/static/avatars/shadcn.jpg
  apps/smart/static/favicon-16x16.png
  apps/smart/static/favicon-32x32.png
  apps/smart/static/favicon.ico
  apps/smart/static/favicon.png
  apps/smart/static/favicon.svg
  apps/smart/static/fonts/Geist/LICENSE.TXT
  apps/smart/static/fonts/Geist/geist.woff2
  apps/smart/static/images/logo.svg
  apps/smart/static/images/placeholder-logo.svg
  apps/smart/static/images/placeholder-user.jpg
  apps/smart/static/images/placeholder.svg
  apps/smart/static/og.png
  apps/smart/static/schema.json
  apps/smart/static/site.webmanifest
Labels: none

fix(smart): format
  .vscode/settings.json
  apps/console/package.json
  package.json
  packages/role-houdini/package.json
Labels: console, role-houdini, workspace

style(ui): fix format
  packages/ui/components.json
  packages/ui/svelte.config.js
  packages/ui/tsconfig.json
  packages/ui/turbo.json
Labels: ui

style(ui): fix format
  apps/console/package.json
  apps/smart/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/ui/src/hooks/is-mobile.svelte.ts
  packages/ui/src/utils.ts
  pnpm-lock.yaml
Labels: console, ui, skeleton-ui, workspace

fix(ui): add format ignore shadcn generated files
  .vscode/settings.json
  packages/ui/biome.jsonc
  packages/ui/components.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: ui

fix(ui): update shadcn coponents
  packages/ui/package.json
  packages/ui/src/components/ui/switch/switch.svelte
  packages/ui/src/components/ui/table/table-footer.svelte
  packages/ui/src/hooks/is-mobile.svelte.ts
  pnpm-lock.yaml
Labels: ui

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/README.md
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, documentation, workspace

fix(ui): remove aspectRatio plugin as it conflect with TW native aspectRatio
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/+page.svelte
  docs/ai-swarm.md
  packages/ui/tailwind.config.ts
Labels: ui, documentation

fix(smart): add sample svelte 5 actions
  .cursorrules
  DEVELOPERS.md
  apps/smart/src/lib/actions/click-outside.svelte.ts
  apps/smart/src/lib/actions/debounce.svelte.ts
  apps/smart/src/lib/actions/focus.ts
  apps/smart/src/lib/actions/hover.svelte.ts
  apps/smart/src/lib/actions/index.ts
  apps/smart/src/lib/actions/smart-past.svelte.ts
  apps/smart/src/lib/components/layout/app-sidebar.svelte
  apps/smart/src/lib/constants.ts
  apps/smart/src/lib/stores/index.ts
  apps/smart/src/lib/stores/state.svelte.ts
  apps/smart/src/lib/stores/use-shared.svelte.ts
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/examples/click-outside/+page.svelte
  apps/smart/src/routes/examples/debounce/+page.svelte
  apps/smart/src/routes/examples/hover/+page.svelte
  apps/smart/svelte.config.js
  docs/awesome-sveltekit.md
Labels: documentation

fix(smart): add sample svelte 5 actions
  apps/smart/src/lib/actions/click-outside.svelte.ts
  apps/smart/src/lib/actions/debounce.svelte.ts
  apps/smart/src/lib/actions/focus.ts
  apps/smart/src/lib/actions/smart-past.svelte.ts
  apps/smart/src/lib/constants.ts
  apps/smart/src/lib/stores/state.svelte.ts
  apps/smart/src/lib/stores/use-shared.svelte.ts
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/examples/click-outside/+page.svelte
  apps/smart/src/routes/examples/debounce/+page.svelte
  apps/smart/src/routes/examples/hover/+page.svelte
Labels: none

fix(smart): add data-table example
  apps/smart/package.json
  apps/smart/src/lib/components/layout/app-sidebar.svelte
  apps/smart/src/routes/examples/data-table/+page.svelte
  apps/smart/src/routes/examples/data-table/data-table-actions.svelte
  apps/smart/src/routes/examples/data-table/data-table-checkbox.svelte
  apps/smart/src/routes/examples/data-table/data-table-email-button.svelte
  apps/smart/src/routes/examples/data-table/data-table.svelte
  packages/ui/package.json
  pnpm-lock.yaml
Labels: ui

fix(smart): add crome origin trails for Summarization API
  apps/smart/src/app.html
  apps/smart/src/routes/examples/data-table/+page.svelte
  apps/smart/src/routes/examples/data-table/data-table-actions.svelte
  apps/smart/src/routes/examples/data-table/data-table-checkbox.svelte
  apps/smart/src/routes/examples/data-table/data-table-email-button.svelte
  apps/smart/src/routes/examples/data-table/data-table.svelte
  docs/ai-swarm.md
  packages/smart/README.md
Labels: documentation

build: deps updated
  apps/console/package.json
  apps/smart/package.json
  apps/web/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, console, ui, skeleton-ui

fix(smart): using aibrow until chrome fix writer,rewriter models
  apps/console/src/app.html
  apps/console/src/routes/(app)/ai/chat/README.md
  apps/smart/src/app.html
  docs/ai-swarm.md
  packages/smart/README.md
  packages/smart/src/components/chrome-ai.ts
  packages/smart/src/components/smart-textarea.svelte
Labels: console, documentation

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, workspace

fix(smart): replace chrome assistant API to languageModel API
  apps/smart/package.json
  packages/smart/src/components/assistant-stats.svelte
  packages/smart/src/components/chrome-ai.ts
  packages/smart/src/components/settings.svelte
  packages/smart/src/components/settings.ts
  pnpm-lock.yaml
Labels: none

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/README.md
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, documentation, workspace

fix(smart): add aibrow types
  .vscode/settings.json
  apps/smart/src/app.d.ts
Labels: none

fix: remove @spectacular npm scope for all apps under apps folder
  .github/workflows/docs-deploy.yml
  DEVELOPERS.md
  README.md
  apps/console/README.md
  apps/console/package.json
  apps/docs/package.json
  apps/smart/README.md
  apps/smart/package.json
  apps/web/README.md
  apps/web/package.json
  docs/playbook.md
  docs/turborepo.md
  package.json
  packages/smart/package.json
  pnpm-lock.yaml
Labels: web, docs, console, documentation, workspace

fix: update writing tool to use translation api
  packages/smart/src/components/smart-textarea.svelte
Labels: none

fix: update writing tool to use translation api
  packages/smart/src/components/smart-textarea.svelte
Labels: none

docs(docs): updated multi-tenancy
  docs/hasura-auth.md
  docs/images/multi-tenancy.webp
  docs/images/org-members.webp
Labels: documentation

docs(docs): updated multi-tenancy
  docs/hasura-auth.md
Labels: documentation

docs(docs): updated multi-tenancy
  docs/hasura-auth.md
Labels: documentation

fix(ui): move icons to ui package
  apps/console/src/routes/(app)/ai/smart/+page.server.ts
  apps/smart/package.json
  apps/smart/src/lib/actions/smart-past.svelte.ts
  apps/smart/src/lib/components/icons/index.ts
  apps/smart/src/lib/components/layout/app-header.svelte
  docs/ai-swarm.md
  package.json
  packages/ui/package.json
  packages/ui/src/components/ui/icons/apple.svelte
  packages/ui/src/components/ui/icons/github.svelte
  packages/ui/src/components/ui/icons/google.svelte
  packages/ui/src/components/ui/icons/hamburger.svelte
  packages/ui/src/components/ui/icons/index.ts
  packages/ui/src/components/ui/icons/logo.svelte
  packages/ui/src/components/ui/icons/paypal.svelte
  packages/ui/src/components/ui/icons/spinner.svelte
  packages/ui/src/components/ui/icons/svelte-logo.svelte
  packages/ui/src/components/ui/icons/svelte-white.svelte
  packages/ui/src/components/ui/icons/twitter.svelte
Labels: console, ui, documentation, workspace

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, workspace

build: deps updated
  package.json
  pnpm-lock.yaml
Labels: workspace

refactor(ui): move some actions from smart app to ui package
  apps/smart/src/routes/examples/click-outside/+page.svelte
  apps/smart/src/routes/examples/debounce/+page.svelte
  apps/smart/src/routes/examples/hover/+page.svelte
  packages/ui/package.json
  packages/ui/src/actions/click-outside.svelte.ts
  packages/ui/src/actions/clipboard.svelte.ts
  packages/ui/src/actions/debounce.svelte.ts
  packages/ui/src/actions/focus.ts
  packages/ui/src/actions/hover.svelte.ts
  packages/ui/src/actions/index.ts
  packages/ui/src/components/ui/icons/index.ts
  packages/ui/src/components/ui/icons/loading.svelte
  packages/ui/src/components/ui/icons/summary.svelte
  packages/ui/src/components/ui/icons/translate.svelte
  packages/ui/src/utils/element.ts
  packages/ui/src/utils/env.ts
  packages/ui/src/utils/index.ts
  packages/utils/src/fn.ts
  packages/utils/src/helpers.ts
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Labels: ui

fix(smart): adding mode smart components
  apps/smart/package.json
  apps/smart/src/lib/ai/actions/README.md
  apps/smart/src/lib/ai/actions/smart-past-lib.svelte.ts
  apps/smart/src/lib/ai/actions/smart-past.svelte.ts
  apps/smart/src/lib/ai/components/result.svelte
  apps/smart/src/lib/ai/components/settings.svelte
  apps/smart/src/lib/ai/components/smart-textarea.svelte
  apps/smart/src/lib/ai/smart.ts
  packages/smart/src/components/smart.ts
  pnpm-lock.yaml
Labels: documentation

fix(smart): smart components
  apps/console/schema.graphql
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/ai/chromeai/+page.svelte
  apps/console/src/routes/(app)/ai/pastesmart/+page.server.ts
  apps/console/src/routes/(app)/ai/pastesmart/+page.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/writing/+page.server.ts
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  apps/console/src/routes/(app)/ai/writing/schema.ts
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/api/smartpaste/+server.ts
  packages/smart/src/components/assistant-stats.svelte
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/constants.test.ts
  packages/smart/src/components/constants.ts
  packages/smart/src/components/index.ts
  packages/smart/src/components/sentiment.svelte
  packages/smart/src/components/settings.svelte
  packages/smart/src/components/smart-date-picker.svelte
  packages/smart/src/components/smart-date.svelte
  packages/smart/src/components/smart-paste.svelte
  packages/smart/src/components/smart-textarea.svelte
  packages/smart/src/components/smart.ts
Labels: console

build: deps updated
  apps/console/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, console, ui, workspace

fix(smart): migrate vercel ai sdk 4
  apps/console/schema.graphql
  apps/console/src/routes/(app)/ai/writing/+page.server.ts
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  apps/console/src/routes/(app)/ai/writing/schema.ts
  apps/console/src/routes/api/completions/+server.ts
  apps/console/src/routes/api/date/+server.ts
  packages/smart/src/components/smart-date-picker.svelte
  packages/smart/src/components/smart-textarea.svelte
Labels: console

style: fix lint
  .vscode/settings.json
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/writing/+page.server.ts
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  apps/console/src/routes/+layout.svelte
  packages/smart/src/components/assistant-stats.svelte
  packages/smart/src/components/smart-textarea.svelte
Labels: console

fix: ai sdk
  packages/smart/src/components/smart-textarea.svelte
Labels: none

style: fix lint
  packages/smart/src/components/smart-textarea.svelte
Labels: none

style: fix lint
  packages/smart/src/components/smart-textarea.svelte
Labels: none

style: fix lint
  packages/smart/src/components/smart-textarea.svelte
Labels: none

fix: update dockerfil to use new package names
  Dockerfile
  docs/docker.md
Labels: documentation

fix(smart): update ai components
  .vscode/settings.json
  apps/console/package.json
  apps/console/src/app.d.ts
  apps/console/src/app.html
  apps/console/src/lib/components/layout/flash-message-toast.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  apps/console/src/routes/+layout.svelte
  apps/smart/src/app.d.ts
  apps/smart/src/app.html
  apps/smart/src/lib/ai/components/settings.svelte
  docs/aibrow.md
  packages/smart/src/@types/browser-ai.d.ts
  packages/smart/src/@types/chrome-ai.d.ts
  packages/smart/src/components/index.ts
  packages/smart/src/components/settings.svelte
  packages/smart/src/components/smart.ts
  packages/smart/src/components/support.svelte
  pnpm-lock.yaml
Labels: console, documentation

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
