Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

fix: switch from env/static to env/dynamic for most of env variables
  apps/console/src/hooks.server.ts
  apps/console/src/lib/constants.ts
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/schema/user.ts
  apps/console/src/lib/server/limiter/limiter.ts
  apps/console/src/lib/server/utils/nhost.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/(auth)/signin/+page.server.ts
  apps/console/src/routes/(auth)/signup/+page.svelte
  apps/console/src/routes/+layout.server.ts
  apps/console/turbo.json
Labels: console

fix: deps updated, move nhost run files
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  docs/docker.md
  docs/nhost.md
  nhost/nginx-service.toml
  nhost/overlays/run-console-local.json
  nhost/overlays/run-console-service.json
  nhost/overlays/run-f27908df-3586-4d02-bb44-a762412d3912.json
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  run-clamav.toml
  run-console-local.toml
  run-console.toml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, documentation, hasura, workspace

fix: deps updated, move nhost run files
  docs/nhost.md
  nhost/overlays/run-f27908df-3586-4d02-bb44-a762412d3912.json
  run-console-local.toml
  run-console.toml
Labels: documentation, hasura

chore(version): v0.5.0
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix(biome): add useSortedClasses rule for biome
  .cursorrules
  packages/biome-config/root.jsonc
  packages/biome-config/svelte-library.jsonc
  packages/biome-config/svelte.jsonc
Labels: biome-config

fix(console): using sveltekit-search-params
  apps/console/package.json
  apps/console/src/routes/(app)/policies/components/search-policies-form.svelte
  pnpm-lock.yaml
Labels: console

fix(nhost): nhsot run docs [skip ci]
  apps/console/README.md
  run-console-ip.toml
Labels: console, documentation

fix(docs): updated awesome docs with Unovis [skip ci]
  Dockerfile
  docs/awesome-sveltekit.md
Labels: documentation

fix(console): use private URLs when creating nhost client on server side
  apps/console/src/lib/server/utils/nhost.ts
Labels: console

fix(console): update chrome ai API
  apps/console/src/ai.d.ts
  apps/console/src/lib/components/smart/assistant-stats.svelte
  apps/console/src/lib/components/smart/smart-date.svelte
  apps/console/src/lib/stores/chrome-ai.ts
  apps/console/src/routes/(app)/ai/chromeai/+page.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
Labels: console

fix(console): using dom-chromium-ai types for chrome-ai
  apps/console/package.json
  apps/console/src/ai.d.ts
  apps/console/src/app.d.ts
  apps/console/src/chrome-ai.d.ts
  apps/console/tsconfig.json
  pnpm-lock.yaml
Labels: console

build: deps updated [skip ci]
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, workspace

fix(console): changed vscode autoSave settings to onFocusChange [skip ci]
  .vscode/settings.json
  apps/console/tsconfig.json
  packages/role-houdini/package.json
Labels: console, role-houdini

docs: remove whitespace [skip ci]
  docs/hasura.md
Labels: documentation

docs: hasura docs [skip ci]
  docs/hasura.md
Labels: documentation

fix(console): refactor chrome-ai lib
  apps/console/src/lib/components/smart/@types/chrome-ai.d.ts
  apps/console/src/lib/components/smart/assistant-stats.svelte
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/constants.ts
  apps/console/src/lib/components/smart/index.ts
  apps/console/src/lib/components/smart/magic-spell-textarea.svelte
  apps/console/src/lib/components/smart/settings.svelte
  apps/console/src/lib/components/smart/settings.ts
  apps/console/src/lib/components/smart/smart-date.svelte
  apps/console/src/lib/links.ts
  apps/console/src/lib/stores/chrome-ai.ts
  apps/console/src/lib/stores/index.ts
  apps/console/src/routes/(app)/ai/chat/README.md
  apps/console/src/routes/(app)/ai/chromeai/+page.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/speech/+page.svelte
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/api/completions/+server.ts
Labels: console, documentation

fix(console): deps updated
  apps/console/package.json
  apps/console/src/lib/components/smart/assistant-stats.svelte
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, workspace

fix(console): switch from layerchart to unovis
  apps/console/package.json
  apps/console/src/routes/(app)/reports/+page.svelte
  apps/console/src/routes/(app)/reports/components/dagar.data.ts
  apps/console/src/routes/(app)/reports/components/dagre.svelte
  apps/console/src/routes/(app)/reports/components/layered-graph-layout.svelte
  apps/console/src/routes/(app)/reports/components/lgl.data.ts
  apps/console/src/routes/(app)/reports/components/mlc.data.ts
  apps/console/src/routes/(app)/reports/components/multi-line-chart.svelte
  apps/console/src/routes/(app)/reports/components/network.data.ts
  apps/console/src/routes/(app)/reports/components/network.svelte
  apps/console/src/routes/(app)/reports/components/sac.data.ts
  apps/console/src/routes/(app)/reports/components/stacked-area-chart.svelte
  apps/console/tailwind.config.ts
  pnpm-lock.yaml
Labels: console

fix: added turbo-run-clean command
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, workspace

chore(version): v0.5.1
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix: add AI settings
  apps/console/src/lib/components/smart/assistant-stats.svelte
  apps/console/src/lib/components/smart/settings.svelte
  apps/console/src/routes/(app)/settings/+page.svelte
Labels: console

fix(console): add examples for unovis graph
  apps/console/src/routes/(app)/network/+page.svelte
  apps/console/src/routes/(app)/network/components/network.data.ts
  apps/console/src/routes/(app)/network/components/network.svelte
  apps/console/src/routes/(app)/reports/components/network.svelte
  apps/console/src/routes/(app)/segments/+page.svelte
  apps/console/src/routes/(app)/segments/components/layered-graph-layout.svelte
  apps/console/src/routes/(app)/segments/components/lgl.data.ts
Labels: console

fix(console): add unovis examples
  apps/console/src/routes/(app)/network/+page.svelte
  apps/console/src/routes/(app)/reports/components/network.svelte
  apps/console/src/routes/(app)/segments/+page.svelte
Labels: console

fix: deps updated
  apps/console/package.json
  apps/web/package.json
  docs/vercel.md
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, console, ui, skeleton-ui, documentation, workspace

docs: updated vercel docs
  docs/vercel.md
  nhost/nhost.toml
Labels: documentation, hasura

fix(console): settings w.i.p
  apps/console/src/lib/components/smart/settings.svelte
Labels: console

build: deps updated [skip ci]
  apps/console/package.json
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/docs/package.json
  apps/web/package.json
  nhost/nhost.toml
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, hasura, workspace

fix(console): AI settings working
  apps/console/src/lib/components/smart/constants.ts
  apps/console/src/lib/components/smart/settings.svelte
  packages/role-houdini/package.json
Labels: console, role-houdini

fix(console): smart form
  apps/console/src/lib/components/smart/combo-box.svelte
  apps/console/src/lib/components/smart/settings.svelte
  apps/console/src/lib/components/smart/smart-date-picker.svelte
  apps/console/src/routes/(app)/ai/smart/+page.server.ts
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/api/combobox/+server.ts
Labels: console

fix: deps updated
  apps/console/package.json
  apps/console/src/lib/components/smart/settings.svelte
  apps/docs/package.json
  apps/web/package.json
  docs/hasura.md
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, documentation, workspace

fix: deps updated
  apps/console/src/lib/components/smart/combo-box.svelte
  apps/console/src/lib/components/smart/index.ts
  apps/console/src/routes/api/combobox/+server.ts
Labels: console

fix: deps updated
  apps/console/src/lib/components/smart/index.ts
Labels: console

docs: updated root README with Unovis
  README.md
Labels: documentation

fix(console): testing why vercel build geving error after setChromeAI() is used w.i.p
  apps/console/src/routes/+layout.svelte
Labels: console

fix(console): testing why vercel build geving error after setChromeAI() is used w.i.p
  apps/console/src/routes/+layout.svelte
  docs/awesome-sveltekit.md
Labels: console, documentation

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/settings.svelte
  apps/console/src/routes/+layout.svelte
Labels: console

build: deps updated [skip ci]
  apps/console/package.json
  apps/console/src/app.html
  apps/docs/package.json
  apps/web/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui

fix(console): set ChromeAI only on client side
  apps/console/src/app.html
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/@types/chrome-ai.d.ts
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/settings.svelte
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/@types/chrome-ai.d.ts
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/routes/+layout.svelte
Labels: console

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
