Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

fix(smart): update ai components
  packages/role-houdini/package.json
  packages/smart/package.json
  packages/smart/src/@types/browser-ai.d.ts
  packages/smart/src/@types/index.d.ts
  packages/smart/src/components/chrome-ai.ts
  packages/smart/src/components/helpers.ts
  packages/smart/src/components/settings.ts
  packages/smart/src/components/smart-textarea.svelte
  packages/smart/src/components/smart.ts
  packages/smart/src/components/support.svelte
  packages/smart/tsconfig.json
  pnpm-lock.yaml
Labels: role-houdini

fix: workarround for https://github.com/svecosystem/formsnap/issues/191
  packages/smart/src/components/smart-textarea.svelte
Labels: none

build: deps updated
  apps/console/package.json
  apps/console/src/routes/(app)/ai/writing/schema.ts
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/smart/src/@types/index.d.ts
  packages/smart/src/components/smart-textarea.svelte
  packages/smart/tsconfig.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui

fix(smart): using local model for combo-box
  apps/console/src/lib/constants.ts
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/smart/schema.ts
  apps/console/src/routes/(app)/ai/writing/schema.ts
  apps/console/src/routes/api/combobox/+server.ts
  packages/role-houdini/package.json
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/smart-textarea.svelte
Labels: console, role-houdini

fix(smart): using local model for combo-box
  packages/smart/src/components/combo-box.svelte
Labels: none

fix(smart): using local model for combo-box
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  apps/console/src/routes/(app)/settings/+page.svelte
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/date-picker.svelte
  packages/smart/src/components/date.svelte
  packages/smart/src/components/index.ts
  packages/smart/src/components/paste.svelte
  packages/smart/src/components/stats.svelte
  packages/smart/src/components/textarea.svelte
Labels: console

fix(smart): using local model for combo-box
  nhost/nhost.toml
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/index.ts
Labels: hasura

fix(nhost): update nhsot auth image version
  nhost/nhost.toml
Labels: hasura

fix(smart): writing tools, added accept button in results comp
  packages/smart/src/components/result.svelte
  packages/smart/src/components/textarea.svelte
Labels: none

fix(smart): add titles to buttons for tooltops
  packages/smart/src/components/result.svelte
  packages/smart/src/components/textarea.svelte
Labels: none

fix(smart): smart date now use local AI model via aibrow
  apps/console/src/routes/(app)/ai/smart/+page.server.ts
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/smart/schema.ts
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/date-picker.svelte.bak
  packages/smart/src/components/date.svelte
  packages/smart/src/components/index.ts
Labels: console

fix(smart): added more languages to smart writing tool
  packages/smart/src/components/textarea.svelte
Labels: none

fix(smart): wip smart past
  apps/console/src/routes/(app)/ai/pastesmart/+page.server.ts
  apps/console/src/routes/(app)/ai/pastesmart/+page.svelte
  apps/console/src/routes/(app)/ai/pastesmart/schema.ts
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  packages/skeleton-ui/src/actions/clipboard.ts
  packages/skeleton-ui/src/utils/element.ts
  packages/skeleton-ui/src/utils/env.ts
  packages/skeleton-ui/src/utils/index.ts
  packages/smart/package.json
  packages/smart/src/actions/smart-past.ts
  pnpm-lock.yaml
Labels: console, skeleton-ui

fix(nhost): nhost versions updated
  apps/console/schema.graphql
  nhost/metadata/inherited_roles.yaml
  nhost/nhost.toml
Labels: console, hasura

fix(smart): using smart-paste use action, replacing smart-paste component
  apps/console/src/routes/(app)/ai/pastesmart/+page.server.ts
  apps/console/src/routes/(app)/ai/pastesmart/+page.svelte
  apps/console/src/routes/(app)/ai/pastesmart/sample.svelte
  apps/console/src/routes/(app)/ai/pastesmart/schema.ts
  apps/console/src/routes/(app)/ai/pastesmart/schema2.ts
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  apps/console/src/routes/api/smartpaste/+server.ts
  apps/smart/package.json
  apps/smart/src/lib/ai/actions/README.md
  apps/smart/src/lib/ai/actions/smart-past-lib.svelte.ts
  apps/smart/src/lib/ai/actions/smart-past.svelte.ts
  apps/smart/src/lib/ai/actions/smart-paste.svelte.ts
  apps/smart/src/lib/ai/smart.ts
  nhost/nhost.toml
  packages/smart/package.json
  packages/smart/src/actions/index.ts
  packages/smart/src/actions/smart-past.ts
  packages/smart/src/actions/smart-paste.ts
  packages/smart/src/components/index.ts
  packages/smart/src/components/paste.svelte
  packages/smart/src/components/support.svelte
  packages/smart/src/components/textarea.svelte
  pnpm-lock.yaml
Labels: console, documentation, hasura

build: deps updated
  apps/console/package.json
  apps/console/src/app.d.ts
  apps/console/src/routes/(app)/ai/chat/README.md
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/src/app.d.ts
  apps/smart/src/lib/ai/actions/smart-paste.svelte.ts
  apps/smart/src/lib/ai/components/smart-textarea.svelte
  apps/smart/src/lib/ai/smart.ts
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/smart/src/actions/smart-paste.ts
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/date-picker.svelte.bak
  packages/smart/src/components/date.svelte
  packages/smart/src/components/settings.svelte
  packages/smart/src/components/smart.ts
  packages/smart/src/components/stats.svelte
  packages/smart/src/components/support.svelte
  packages/smart/src/components/textarea.svelte
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, documentation, workspace

fix: cleanup nhost.toml
  docs/hasura-auth.md
  nhost/nhost.toml
Labels: documentation, hasura

fix: updated diagram
  docs/datamodeling.md
Labels: documentation

fix(smart): added openai-zod-to-json-schema gjp-4-gpt libs
  apps/console/package.json
  apps/console/schema.graphql
  apps/console/src/routes/(app)/ai/pastesmart/+page.svelte
  apps/console/src/routes/(app)/ai/pastesmart/schema.ts
  apps/smart/package.json
  apps/smart/src/lib/ai/smart.svelte.ts
  apps/smart/src/lib/components/layout/app-sidebar.svelte
  apps/smart/src/routes/examples/debounce-runed/+page.svelte
  docs/ai-swarm.md
  packages/smart/package.json
  pnpm-lock.yaml
Labels: console, documentation

build: deps updated [skip ci]
  apps/console/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, console, ui, skeleton-ui, workspace

fix: roll back some dep versions came from svelte 5
  apps/console/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  pnpm-lock.yaml
Labels: console, skeleton-ui

fix(smart): add chat web component
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  packages/smart/src/components/chat.svelte
  packages/smart/src/components/index.ts
  packages/smart/src/components/sentiment.svelte
Labels: console

fix: updated deps
  apps/console/package.json
  apps/console/project.inlang/es.json
  apps/console/project.inlang/settings.json
  apps/console/schema.graphql
  apps/console/src/app.d.ts
  apps/console/src/lib/i18n.ts
  apps/console/src/routes/(app)/dashboard/+page.svelte
  apps/console/src/routes/+error.svelte
  apps/console/src/routes/+layout.svelte
  apps/console/vite.config.ts
  apps/console/vitest.config.ts
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/content.config.ts
  apps/docs/src/content/config.ts
  apps/smart/.gitignore
  apps/smart/package.json
  apps/smart/src/app.d.ts
  apps/smart/vite.config.ts
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/content.config.ts
  apps/web/src/content/newsletter/.gitkeep
  apps/web/src/layouts/layout.astro
  apps/web/tsconfig.json
  docs/hasura-auth.md
  docs/playbook.md
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, documentation, workspace

fix(nhost): updated seeds
  docs/hasura.md
  nhost/nhost.toml
  nhost/overlays/local.json
  nhost/seeds/default/011_rules.sql
  nhost/seeds/default/012_policies.sql
  nhost/tests/auth.http
Labels: documentation, hasura

fix(console): signup now runs on client-side
  apps/console/src/lib/i18n.ts
  apps/console/src/lib/schema/user.ts
  apps/console/src/lib/server/hooks/guard.ts
  apps/console/src/lib/server/hooks/tenant.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/lib/types/index.ts
  apps/console/src/routes/(app)/profile/+page.ts
  apps/console/src/routes/(auth)/signup/+page.gql
  apps/console/src/routes/(auth)/signup/+page.server.ts
  apps/console/src/routes/(auth)/signup/+page.svelte
  apps/smart/src/app.d.ts
  apps/smart/src/lib/ai/nlp/actions.ts
  apps/smart/src/lib/ai/nlp/types.ts
  docs/awesome-sveltekit.md
Labels: console, documentation

fix(console): password reset route now runs on client-side
  apps/console/src/routes/(auth)/reset/+page.server.ts
  apps/console/src/routes/(auth)/reset/+page.svelte
  apps/console/src/routes/(auth)/signup/+page.svelte
Labels: console

fix(console): passwordless and social routes now runs on client-side
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/(auth)/reset/+page.svelte
  apps/console/src/routes/(auth)/signin/+page.server.ts
  apps/console/src/routes/(auth)/signin/+page.svelte
  apps/console/src/routes/(auth)/signin/components/magic-link.svelte
  apps/console/src/routes/(auth)/signin/components/password.svelte
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
  apps/console/src/routes/(auth)/signin/components/social.svelte
Labels: console

fix(console): passwordless and social routes now runs on client-side
  apps/console/src/routes/(app)/dashboard/+page.svelte
Labels: console

fix: added examples for new hooks features
  apps/console/src/hooks.client.ts
  apps/console/src/hooks.server.ts
  apps/console/src/hooks.ts
  apps/console/src/lib/types/index.ts
Labels: console

fix: updated deps
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, workspace

fix: mount GraphQLErrors component only if there is error
  apps/console/src/lib/graphql/client.ts
  apps/console/src/routes/(app)/policies/components/search-policies-form.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

fix(console): removed signout endpoint, auth cookie no more set on server side
  apps/console/src/lib/components/layout/avatar.svelte
  apps/console/src/lib/constants.ts
  apps/console/src/lib/server/hooks/auth.ts
  apps/console/src/lib/server/hooks/houdini.ts
  apps/console/src/lib/server/utils/nhost.ts
  apps/console/src/routes/(auth)/signout/+page.server.ts
  apps/console/src/routes/+layout.svelte
Labels: console

fix(console): workaround for fickle hudini session/accessToken managment on client-side
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/server/hooks/auth.ts
  apps/console/src/lib/stores/nhost.ts
Labels: console

fix: deps updated
  apps/console/package.json
  apps/console/src/routes/(app)/customers/+page.svelte
  apps/console/src/routes/(app)/groups/+page.svelte
  apps/console/src/routes/(app)/organizations/+page.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  apps/console/src/routes/(app)/profile/components/personal-access-tokens.svelte
  apps/console/src/routes/(app)/profile/components/user-org-roles.svelte
  apps/console/src/routes/(app)/users/+page.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/delegation.svelte
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  packages/skeleton-ui/package.json
  packages/skeleton-ui/src/components/table/ctx.ts
  packages/skeleton-ui/src/components/table/table-head-filter.svelte
  packages/skeleton-ui/src/components/table/table-head.svelte
  packages/skeleton-ui/src/components/table/table-pagination.svelte
  packages/skeleton-ui/src/components/table/table-row-count.svelte
  packages/skeleton-ui/src/components/table/table-rows-per-page.svelte
  packages/skeleton-ui/src/components/table/table-search.svelte
  packages/skeleton-ui/src/components/table/table.svelte
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui

fix(console): set cookie expires
  apps/console/src/lib/server/hooks/theme.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/+page.server.ts
  packages/role-houdini/package.json
Labels: console, role-houdini

fix: using credentials include for hasura fetch
  .gitignore
  apps/console/src/lib/graphql/client.ts
  apps/console/src/routes/+layout.server.ts
  apps/console/src/routes/+layout.svelte
  docs/awesome-sveltekit.md
Labels: console, documentation

fix(nhost): added org settings tables
  docs/hasura.md
  nhost/metadata/databases/default/functions/functions.yaml
  nhost/metadata/databases/default/functions/public_org_settings_with_defaults.yaml
  nhost/metadata/databases/default/tables/public_org_settings.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/metadata/databases/default/tables/public_pools.yaml
  nhost/metadata/databases/default/tables/public_setting_keys.yaml
  nhost/metadata/databases/default/tables/public_subscriptions.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1733695951358_add_roles_to_auth_roles/down.sql
  nhost/migrations/default/1733695951358_add_roles_to_auth_roles/up.sql
  nhost/migrations/default/1733695951358_auth_miscellaneous/down.sql
  nhost/migrations/default/1733695951358_auth_miscellaneous/up.sql
  nhost/migrations/default/1733696442327_create_table_public_plan_enum/up.sql
  nhost/migrations/default/1733696468495_create_table_public_status_enum/up.sql
  nhost/migrations/default/1733696529179_create_table_public_action_enum/up.sql
  nhost/migrations/default/1733696550536_create_table_public_direction_enum/up.sql
  nhost/migrations/default/1733696597519_create_table_public_subject_type_enum/up.sql
  nhost/migrations/default/1733776768047_create_table_public_devices/down.sql
  nhost/migrations/default/1733776810389_create_table_public_pools/down.sql
  nhost/migrations/default/1733776913067_create_table_public_device_pools/down.sql
  nhost/migrations/default/1733781905395_auth_miscellaneous/down.sql
  nhost/migrations/default/1733781905395_auth_miscellaneous/up.sql
  nhost/migrations/default/1734581585771_create_table_public_setting_keys/down.sql
  nhost/migrations/default/1734581585771_create_table_public_setting_keys/up.sql
  nhost/migrations/default/1734587932092_create_table_public_org_settings/down.sql
  nhost/migrations/default/1734587932092_create_table_public_org_settings/up.sql
  nhost/seeds/default/007_org_settings.sql
Labels: documentation, hasura

fix: deps updated
  apps/console/package.json
  apps/console/schema.graphql
  apps/console/src/routes/(app)/profile/+page.ts
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, console, ui, skeleton-ui, workspace

fix(console): exposing userId orgId defaultRole for use in load functions
  apps/console/src/routes/(app)/profile/+page.ts
  apps/console/src/routes/+layout.server.ts
Labels: console

fix(console): replace window.location.href with .url to make it work with SSR
  apps/console/src/routes/(auth)/signin/components/social.svelte
Labels: console

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
