Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

fix: upgrade to new turborepo svelte example
  apps/console/src/lib/components/utils/Frame.svelte
  apps/nhapp/src/routes/auth/sign-in/+page.svelte
  apps/nhapp/src/routes/auth/sign-up/+page.svelte
  apps/playground/package.json
  packages/tailwind-config/.eslintrc.cjs
Labels: playground, tailwind-config

fix: add @spectacular namespace for all modules under packages
  apps/console/package.json
  apps/console/src/lib/components/utils/Frame.svelte
  apps/console/tailwind.config.ts
  apps/console2/package.json
  apps/console2/postcss.config.cjs
  apps/console2/tailwind.config.ts
  apps/playground/package.json
  apps/playground/postcss.config.cjs
  apps/playground/tailwind.config.ts
  package.json
  packages/assets/package.json
  packages/helpers/package.json
  packages/helpers/tsconfig.json
  packages/kit/package.json
  packages/kit/tsconfig.json
  packages/tailwind-config/package.json
  packages/tailwind-config/tsconfig.json
  packages/tsconfig/package.json
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/tailwind.config.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  tsconfig.json
Labels: playground, ui, assets, tailwind-config, tsconfig, workspace

fix: create console3 and addted tailwind
  apps/console3/.eslintignore
  apps/console3/.eslintrc.cjs
  apps/console3/.gitignore
  apps/console3/.npmrc
  apps/console3/.prettierignore
  apps/console3/.prettierrc
  apps/console3/README.md
  apps/console3/package.json
  apps/console3/playwright.config.ts
  apps/console3/postcss.config.cjs
  apps/console3/src/app.d.ts
  apps/console3/src/app.html
  apps/console3/src/app.pcss
  apps/console3/src/index.test.ts
  apps/console3/src/lib/index.ts
  apps/console3/src/routes/+layout.svelte
  apps/console3/src/routes/+page.svelte
  apps/console3/static/favicon.png
  apps/console3/svelte.config.js
  apps/console3/tailwind.config.cjs
  apps/console3/tests/test.ts
  apps/console3/tsconfig.json
  apps/console3/vite.config.ts
Labels: documentation

feat: add console3 app with shadcn
  packages/ui/package.json
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Labels: ui

feat: add console3 app with shadcn
  apps/playground/.prettierignore
  packages/skeleton-ui/utils/ui.ts
  packages/ui/utils/ui.ts
Labels: playground, ui

chore: deps updated
  .vscode/settings.json
  apps/console/package.json
  apps/console2/package.json
  apps/console3/package.json
  apps/playground/package.json
  apps/web/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, playground, ui

feat(console2): add layercharts
  apps/console/package.json
  apps/console2/package.json
  apps/console2/src/lib/utils/genData.ts
  apps/console2/src/lib/utils/math.ts
  apps/console2/src/routes/(app)/dashboard/reports/+page.svelte
  apps/console2/tailwind.config.ts
  apps/web/src/components/ui/icons/index.js
  pnpm-lock.yaml
Labels: web

fix: fix tsparticles/svelte import for SSR
  apps/console/package.json
  apps/console2/package.json
  apps/playground/package.json
  apps/playground/src/lib/components/layout/Particles.svelte
  package.json
  pnpm-lock.yaml
Labels: playground, workspace

fix: fix tsparticles/svelte import for SSR
  apps/playground/package.json
  apps/playground/src/lib/components/layout/Particles.svelte
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: playground, ui

fix(playground): fix tsparticles
  apps/playground/src/lib/components/layout/Particles.svelte
  apps/playground/src/routes/+layout.svelte
  apps/playground/src/routes/+page.svelte
Labels: playground

fix: add tailcall
  .vscode/launch.json
  apps/console/.graphqlrc.yaml
  apps/console2/src/app.pcss
  apps/console2/src/routes/+layout.svelte
  apps/web/src/components/Stats.astro
  compose.yml
  docs/astro.md
  docs/awesome-sveltekit.md
  docs/datamodeling.md
  docs/micro-frontends.md
  docs/playbook.md
  docs/starlight.md
  docs/tailcall.md
  docs/turborepo.md
  docs/vercel.md
  nhost/tailcall/.tailcallrc.graphql
  nhost/tailcall/graphql-composition.graphql
  nhost/tailcall/jsonplaceholder.graphql
  package.json
Labels: web, documentation, workspace

fix: move skeleton pcss to packages/skeleton
  apps/console2/.eslintignore
  apps/console2/.prettierignore
  apps/console2/src/app.pcss
  apps/console2/svelte.config.js
  apps/console2/tailwind.config.ts
  apps/console2/turbo.json
  apps/console3/src/app.pcss
  apps/console3/tailwind.config.ts
  apps/playground/tsconfig.json
  apps/playground/turbo.json
  packages/skeleton-ui/package.json
  packages/skeleton-ui/styles/default.pcss
  packages/skeleton-ui/styles/theme.postcss
  packages/skeleton-ui/tailwind.config.ts
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
Labels: playground, ui

fix: move skeleton pcss to packages/skeleton
  packages/skeleton-ui/tailwind.config.ts
  packages/ui/styles/theme.pcss
Labels: ui

chore: deps updated
  apps/console/package.json
  apps/console2/package.json
  apps/console3/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: sideEffects to ui lib packages
  apps/console2/svelte.config.js
  apps/console2/vite.config.ts
  docs/awesome-sveltekit.md
  packages/skeleton-ui/package.json
  packages/ui/package.json
Labels: ui, documentation

fix(console3): enhance layout
  apps/console2/src/lib/stores/stores.ts
  apps/console2/src/routes/(app)/dashboard/+layout.svelte
  apps/console2/src/routes/+layout.svelte
  apps/playground/src/routes/+layout.svelte
Labels: playground

feat(console2): add Datatable
  apps/console2/package.json
  apps/console2/src/lib/links.ts
  apps/console2/src/routes/(app)/dashboard/users/+page.svelte
  apps/console2/src/routes/(app)/dashboard/users/data.ts
  docs/awesome-sveltekit.md
  packages/skeleton-ui/components/table/index.ts
  packages/skeleton-ui/components/table/keys.ts
  packages/skeleton-ui/components/table/table-head-filter.svelte
  packages/skeleton-ui/components/table/table-head.svelte
  packages/skeleton-ui/components/table/table-pagination.svelte
  packages/skeleton-ui/components/table/table-row-count.svelte
  packages/skeleton-ui/components/table/table-rows-per-page.svelte
  packages/skeleton-ui/components/table/table-search.svelte
  packages/skeleton-ui/components/table/table.svelte
  packages/skeleton-ui/package.json
  packages/utils/package.json
  packages/utils/src/context.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: documentation

chore: deps updated
  apps/console3/package.json
  package.json
  packages/ui/package.json
  packages/utils/src/context.ts
  pnpm-lock.yaml
Labels: ui, workspace

fix(console2): style.position
  apps/console2/src/lib/links.ts
  apps/console2/src/routes/(app)/dashboard/customers/+page.svelte
  apps/console2/src/routes/(app)/dashboard/customers/data.ts
  apps/console2/vite.config.ts
  packages/skeleton-ui/components/table/table.svelte
Labels: none

feat(console2): add layercharts
  apps/console2/package.json
  apps/console2/src/lib/components/Preview.svelte
  apps/console2/src/lib/utils/dateSeries.ts
  apps/console2/src/routes/(app)/dashboard/reports/+page.svelte
  apps/console2/tailwind.config.ts
  apps/console2/vite.config.ts
  docs/turborepo.md
  packages/typescript-config/package.json
  pnpm-lock.yaml
Labels: documentation

fix: apply vite pre-bundling-dependencies for monorepo
  apps/console-sc/vite.config.ts
  apps/console/vite.config.ts
  packages/skeleton-ui/index.d.ts
  packages/skeleton-ui/package.json
Labels: none

fix: apply vite pre-bundling-dependencies for monorepo
  apps/console/src/routes/(app)/dashboard/customers/+page.svelte
Labels: none

fix: using local context util
  apps/console/package.json
  apps/nhapp/src/lib/nhost.ts
  packages/skeleton-ui/components/table/ctx.ts
  packages/skeleton-ui/components/table/keys.ts
  packages/skeleton-ui/components/table/table-head-filter.svelte
  packages/skeleton-ui/components/table/table-head.svelte
  packages/skeleton-ui/components/table/table-pagination.svelte
  packages/skeleton-ui/components/table/table-row-count.svelte
  packages/skeleton-ui/components/table/table-rows-per-page.svelte
  packages/skeleton-ui/components/table/table-search.svelte
  packages/skeleton-ui/components/table/table.svelte
  packages/skeleton-ui/package.json
  packages/utils/README.md
  pnpm-lock.yaml
Labels: documentation

fix: update astro version
  apps/docs/package.json
  apps/web/package.json
  docs/astro.md
  packages/utils/src/index.ts
  packages/utils/src/strings.ts
  pnpm-lock.yaml
Labels: web, docs, documentation

chore: update deps
  .vscode/settings.json
  apps/console-fb/package.json
  apps/console-fb/src/lib/blocks/blog/Blog5.svelte
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  docs/astro.md
  docs/i18n.md
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/README.md
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

style: fix format
  apps/console-fb/src/lib/blocks/cta/Cta1.svelte
  apps/console-fb/src/lib/blocks/cta/Cta2.svelte
  apps/console-fb/src/lib/blocks/feature/Feature1.svelte
  apps/console-fb/src/lib/blocks/feature/Feature2.svelte
  apps/console-fb/src/lib/blocks/feature/Feature4.svelte
  apps/console-fb/src/lib/blocks/footer/Footer1.svelte
  apps/console-fb/src/lib/blocks/footer/Footer3.svelte
  apps/console-fb/src/lib/blocks/footer/Footer4.svelte
  apps/console-fb/src/lib/blocks/header/Header1.svelte
  apps/console-fb/src/lib/blocks/header/StickyHeader.svelte
  apps/console-fb/src/lib/blocks/hero/Hero3.svelte
  docs/i18n-old.md
Labels: documentation

style: fix cspell config
  .eslintignore
  .eslintrc.cjs
  .vscode/cspell.json
  .vscode/settings.json
  compose.yml
  docs/astro.md
  docs/awesome-sveltekit.md
  docs/graphql.md
  docs/sveltin.md
  package.json
Labels: documentation, workspace

docs: add docs for inlang i18n
  .meshrc.yml
  .vscode/cspell.json
  .vscode/extensions.json
  .vscode/settings.json
  apps/console/.env.example
  apps/console/package.json
  apps/console/src/app.d.ts
  apps/console/src/lib/components/layout/Drawer.svelte
  apps/console/src/lib/components/layout/Footer.svelte
  apps/console/src/lib/components/layout/app-bar.svelte
  apps/console/src/lib/schema/.gitkeep
  apps/console/src/lib/server/middleware/dead-links.ts
  apps/console/src/lib/server/middleware/detect-tenant.ts
  apps/console/src/lib/server/middleware/detect-theme.ts
  apps/console/src/routes/(app)/dashboard/reports/+page.svelte
  apps/console/src/routes/+layout.server.ts
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/+layout.ts
  apps/console/tailwind.config.ts
  apps/console/vite.config.ts
  apps/playground/package.json
  docs/awesome-sveltekit.md
  docs/i18n.md
  docs/images/inlang-dx-mini.png
  docs/images/inlang-dx.webp
  pnpm-lock.yaml
Labels: playground, documentation

docs: add docs for inlang i18n
  docs/monorepo.md
  docs/turborepo.md
Labels: documentation

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, playground, ui, workspace

fix(console-fb): using shared utils
  apps/console-fb/src/hooks.client.ts
  apps/console-fb/src/hooks.server.ts
  apps/console-fb/src/lib/components/form/DeleteForm.svelte
  apps/console-fb/src/lib/graphql/client.ts
  apps/console-fb/src/lib/server/backend/AuthClient.ts
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/server/middleware/dead-links.ts
  apps/console-fb/src/lib/server/middleware/houdini.old.ts
  apps/console-fb/src/lib/server/middleware/houdini.ts
  apps/console-fb/src/lib/server/middleware/logger.ts
  apps/console-fb/src/lib/server/middleware/role-mapper.ts
  apps/console-fb/src/routes/(app)/dashboard/devices/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/devices/+page.ts
  apps/console-fb/src/routes/(app)/dashboard/devices/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/policies/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/policies/+page.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/+page.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/create/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/+page.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/create/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/houdini/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/houdini/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/houdini/+page.ts
  apps/console-fb/src/routes/(play)/play/houdini/+page.ts
  apps/console-fb/src/routes/api/directory/search/+server.ts
  packages/ui/components/sheet/sheet-header.svelte
  packages/ui/components/table/table-caption.svelte
Labels: ui

chore: update deps
  apps/console/package.json
  apps/console/src/lib/components/layout/Sidebar.svelte
  apps/console/src/lib/i18n/constants.ts
  apps/console/src/lib/i18n/link.ts
  apps/console/src/lib/i18n/validation.ts
  apps/console/src/lib/server/middleware/lang.ts
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/+layout.ts
Labels: none

fix: using latest dotenv-run
  .github/pull_request_template.md
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  docs/playbook.md
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/README.md
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  docs/playbook.md
  docs/turborepo.md
  docs/vercel.md
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

feat(nhost): enable Graphite
  .secrets.example
  nhost/metadata/databases/default/tables/graphite_assistants.yaml
  nhost/metadata/databases/default/tables/graphite_auto_embeddings_configuration.yaml
  nhost/metadata/databases/default/tables/graphite_sessions.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/metadata/remote_schemas.yaml
  nhost/nhost.toml
Labels: none

chore: update deps
  .github/pull_request_template.md
  apps/console-sc/package.json
  apps/console/package.json
  docs/graphql.md
  docs/i18n.md
  docs/monorepo.md
  docs/turborepo.md
  docs/vercel.md
  nhost/nhost.toml
  package.json
  pnpm-lock.yaml
Labels: documentation, workspace

chore: update deps
  .gitignore
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/console/project.inlang/settings.json
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  docs/turborepo.md
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: playground, ui, documentation, workspace

feat(console): add page-load-spinner
  apps/console/src/lib/components/layout/flash-message-toast.svelte
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/components/layout/page-load-spinner.svelte
  apps/console/src/lib/stores/loading.ts
  apps/console/src/routes/+layout.ts
  apps/console/src/routes/[[lang=lang]]/auth/sign-up/+page.svelte
Labels: none

feat(console): add avatar in the Header
  apps/console/src/lib/components/layout/avatar.svelte
  apps/console/src/lib/components/layout/header.svelte
  docs/awesome-sveltekit.md
  packages/skeleton-ui/app.d.ts
  packages/skeleton-ui/components/form/text-field.svelte
  packages/skeleton-ui/package.json
  pnpm-lock.yaml
Labels: documentation

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json
