Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, smart, ui, assets, role-houdini, typescript-config, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
smart:
  - apps/smart/**/*
  - change-notes/**/*smart*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc

fix: using shadcn style imports for shadcn-svelte
  apps/smart/src/app.css
  packages/ui/src/styles/globals.css
Labels: smart, ui

fix: biome tasks for ci,fomrat,lint
  .markuplintrc.cjs
  .vscode/settings.json
  apps/console/biome.jsonc
  apps/console/package.json
  apps/console/turbo.jsonc
  apps/docs/biome.jsonc
  apps/docs/package.json
  apps/smart/biome.jsonc
  apps/smart/package.json
  apps/smart/src/lib/ai/components/settings.svelte
  apps/smart/turbo.jsonc
  apps/web/biome.jsonc
  apps/web/package.json
  apps/web/turbo.jsonc
  biome.jsonc
  docs/awesome-sveltekit.md
  docs/database.md
  package.json
  packages/role-houdini/package.json
  packages/ui/biome.jsonc
  packages/ui/package.json
  packages/ui/turbo.jsonc
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.jsonc
Labels: web, docs, console, smart, ui, role-houdini, documentation, workspace

style: fix lint
  packages/utils/src/constants.ts
  packages/utils/src/index.ts
  packages/utils/src/throttle.ts
  packages/utils/vitest.config.ts
Labels: none

style: fix lint
  packages/utils/src/throttle.ts
Labels: none

style: fix lint
  packages/utils/src/collections.ts
  packages/utils/src/helpers.ts
  packages/utils/src/my-fetch.ts
  packages/utils/src/object.ts
Labels: none

style: fix lint
  apps/console/biome.jsonc
  apps/smart/biome.jsonc
  packages/ui/biome.jsonc
  packages/ui/src/actions/clipboard.svelte.ts
  packages/ui/src/actions/index.ts
  packages/ui/src/attachments/debounce.svelte.ts
  packages/ui/src/components/icons/index.ts
  packages/ui/src/components/icons/spinner.svelte
  packages/ui/src/components/icons/twitter.svelte
  packages/ui/src/styles/gray.css
  packages/ui/src/styles/neutral.css
  packages/ui/src/styles/slate.css
  packages/ui/src/styles/stone.css
  packages/ui/src/styles/zinc.css
  packages/ui/tsconfig.json
  packages/utils/src/context.ts
  packages/utils/src/cookies.ts
  turbo.jsonc
Labels: console, smart, ui

style: fix lint
  apps/web/astro.config.mjs
  apps/web/biome.jsonc
Labels: web

style: fix lint
  apps/console/biome.jsonc
  apps/console/src/lib/ui/components/time.svelte
  apps/docs/biome.jsonc
  apps/smart/biome.jsonc
  apps/web/biome.jsonc
  apps/web/src/components/app-header.astro
  apps/web/src/components/call-to-action.astro
  apps/web/src/components/hero-section.astro
  apps/web/src/components/testimonials.astro
  apps/web/src/layouts/layout.astro
  apps/web/src/pages/about.astro
  apps/web/src/styles/global.css
  biome.jsonc
Labels: web, docs, console, smart, workspace

style: fix lint
  apps/smart/biome.jsonc
  apps/smart/src/app.html
  apps/smart/src/hooks.server.ts
  apps/smart/src/hooks.ts
  apps/smart/src/lib/ai/actions/smart-paste.svelte.ts
  apps/smart/src/lib/ai/components/result.svelte
  apps/smart/src/lib/ai/components/settings.svelte
  apps/smart/src/lib/ai/components/smart-textarea.svelte
  apps/smart/src/lib/ai/nlp/types.ts
  apps/smart/src/lib/ai/smart.svelte.ts
  apps/smart/src/lib/components/layout/app-header.svelte
  apps/smart/src/lib/components/layout/command-menu.svelte
  apps/smart/src/lib/components/layout/mode-toggle.svelte
  apps/smart/src/lib/components/layout/nav-main.svelte
  apps/smart/src/lib/components/layout/nav-projects.svelte
  apps/smart/src/lib/components/layout/nav-user.svelte
  apps/smart/src/lib/components/layout/team-switcher.svelte
  apps/smart/src/lib/registry/index.ts
  apps/smart/src/lib/stores/config.ts
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/demo/paraglide/+page.svelte
  apps/smart/src/routes/examples/click-outside/+page.svelte
  apps/smart/src/routes/examples/data-table/data-table.svelte
  apps/smart/src/routes/examples/debounce/+page.svelte
  apps/smart/src/routes/examples/members/+page.svelte
  apps/smart/src/routes/examples/members/add-member-dialog.svelte
  apps/smart/src/routes/examples/members/member-list.svelte
  apps/smart/turbo.jsonc
  apps/smart/vite.config.ts
Labels: smart

style: fix lint
  apps/console/biome.jsonc
  apps/console/src/app.html
  apps/console/src/lib/components/craft/remote-team-clock.svelte
  apps/console/tailwind.config.ts
  apps/console/turbo.jsonc
  apps/console/vite.config.ts
Labels: console

style: fix lint
  apps/console/biome.jsonc
  apps/console/src/lib/graphql/client.ts
  apps/console/src/routes/api/combobox/+server.ts
  apps/console/src/routes/api/completions/+server.ts
  apps/console/src/routes/api/gql/+server.ts
  apps/console/src/routes/api/gql2/+server.ts
  apps/console/src/routes/api/smartpaste/+server.ts
Labels: console

fix: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/docs/src/content/docs/setup/setup-biome.md
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, smart, ui, documentation, workspace

fix: deps updated
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

style: fix lint
  apps/console/biome.jsonc
  apps/console/src/hooks.server.ts
  apps/console/src/lib/components/organizations/create-organizations-form.svelte
  apps/console/src/lib/server/hooks/guard.ts
  apps/console/src/lib/smart/components/index.ts
  apps/console/src/lib/utils/gen-data.ts
  apps/console/src/lib/utils/turnstile-validate.ts
  apps/console/src/routes/(app)/flows/network/components/network.data.ts
  apps/console/src/routes/(app)/org/groups/[id=uuid]/+page.svelte
  apps/console/src/routes/(auth)/+layout.svelte
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/api/gql/utils.ts
  apps/smart/src/lib/ai/nlp/actions.ts
Labels: console, smart

fix: add autocomplete and well-known/change-password/+server.ts endpoint
  apps/console/src/routes/(app)/user/profile/components/change-password.svelte
  apps/console/src/routes/(app)/user/profile/components/change-password.svelte.bak
  apps/console/src/routes/(auth)/signin/components/password.svelte
  apps/console/src/routes/(auth)/signup/+page.svelte
  apps/console/src/routes/[x+2e]well-known/change-password/+server.ts
  docs/auth.md
Labels: console, documentation

fix: adding mcp tools
  .vscode/mcp.json
  apps/smart/src/lib/stores/pluggable-counter.svelte.ts
  docs/awesome-sveltekit.md
  docs/monorepo.md
  packages/utils/vitest.config.ts
Labels: smart, documentation

fix: add context7 mcp
  .github/copilot-instructions.md
  .vscode/mcp.json
  apps/console/src/routes/[x+2e]well-known/change-password/+server.ts
Labels: console, documentation, workspace

fix: add errors
  packages/utils/src/errors/ai.ts
  packages/utils/src/errors/db.ts
  packages/utils/src/errors/tagged-error.ts
Labels: none

fix: update origin-trial keys
  apps/smart/src/app.html
  docs/awesome-sveltekit.md
Labels: smart, documentation

fix: vitest, biome upgrade
  apps/console/biome.jsonc
  apps/console/package.json
  apps/console/turbo.jsonc
  apps/console/vitest.setup.ts
  apps/docs/biome.jsonc
  apps/docs/package.json
  apps/docs/turbo.jsonc
  apps/smart/biome.jsonc
  apps/smart/package.json
  apps/smart/turbo.jsonc
  apps/smart/vitest.config.ts
  apps/smart/vitest.setup.ts
  apps/web/biome.jsonc
  apps/web/package.json
  apps/web/src/content/newsletter/03-2025-news.md
  apps/web/turbo.jsonc
  biome.jsonc
  docs/awesome-ai.md
  docs/awesome-sveltekit.md
  docs/turborepo.md
  package.json
  packages/role-houdini/turbo.jsonc
  packages/ui/biome.jsonc
  packages/ui/package.json
  packages/ui/turbo.jsonc
  packages/utils/package copy.json
  packages/utils/package.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.jsonc
  vitest.config.ts
  vitest.shared.ts
  vitest.workspaces.ts
Labels: web, docs, console, smart, ui, role-houdini, documentation, workspace

build: deps updated
  apps/console/package.json
  apps/console/turbo.jsonc
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/turbo.jsonc
  apps/web/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: web, docs, console, smart, ui

style: fix lint
  .vscode/mcp.json
  .vscode/project.code-workspace
  .vscode/settings.json
  DEVELOPERS.md
  README.md
  apps/console/src/routes/api/gql/types.ts
  apps/console/turbo.jsonc
  apps/docs/turbo.jsonc
  apps/smart/package.json
  apps/smart/turbo.jsonc
  apps/web/turbo.jsonc
  biome.jsonc
  degit.json
  packages/utils/README.md
  packages/utils/src/collections.ts
  turbo.jsonc
Labels: web, docs, console, smart, documentation, workspace

fix: vitest, biome upgrade
  .gitattributes
  .gitignore
  apps/console/.gitignore
  apps/console/src/lib/components/layout/maybe-error.svelte
  apps/console/src/routes/(app)/reports/access/components/network.data.ts
  apps/console/src/routes/api/gql/gqlpt.ts
  apps/console/src/routes/api/gql/openai.ts
  apps/console/vite.config.ts
  apps/console/vitest.config.ts
  apps/console/vitest.setup.ts
  apps/smart/.gitignore
  apps/smart/e2e/demo.test.ts
  apps/smart/package.json
  apps/smart/playwright.config.ts
  apps/smart/src/app.html
  apps/smart/src/routes/page.svelte.test.ts
  apps/smart/vite.config.ts
  apps/smart/vitest.config.ts
  apps/smart/vitest.setup.ts
  docs/playbook.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: console, smart, documentation

fix: vitest, biome upgrade
  apps/console/e2e/demo.test.ts
  apps/console/e2e/example.spec.ts
  apps/console/package.json
  apps/console/playwright.config.ts
  apps/console/tests/test.ts
  apps/console/vite.config.ts
  vitest.shared.ts
Labels: console

fix: vitest, biome upgrade
  .vscode/settings.json
  apps/console/.gitignore
  apps/smart/.gitignore
  biome.jsonc
  turbo.jsonc
Labels: console, smart, workspace

style: fix lint
  apps/console/e2e/pages.spec.ts
  apps/console/package.json
  apps/console/vitest.setup.ts
  apps/smart/e2e/demo.test.ts
  apps/smart/e2e/pages.spec.ts
  apps/smart/package.json
  apps/smart/src/routes/page.svelte.test.ts
  apps/smart/vite.config.ts
  apps/smart/vitest.setup.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  vitest.shared.ts
Labels: console, smart

build: deps updated [skip ci]
  apps/console/biome.jsonc
  apps/console/package.json
  apps/console/vitest.setup.ts
  apps/docs/biome.jsonc
  apps/docs/package.json
  apps/smart/biome.jsonc
  apps/smart/package.json
  apps/web/biome.jsonc
  apps/web/package.json
  biome.jsonc
  packages/ui/biome.jsonc
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.jsonc
Labels: web, docs, console, smart, ui, workspace

fix(console): added origin-trials for Prompt API [skip ci]
  apps/console/src/app.html
  docs/awesome-ai.md
  docs/awesome-sveltekit.md
Labels: console, documentation

fix(console): added origin-trials for Prompt API [skip ci]
  apps/smart/src/lib/ai/actions/smart-paste.svelte.ts
Labels: smart

fix: added git hooks
  DEVELOPERS.md
  apps/smart/svelte.config.js
  biome.jsonc
  cog.toml
  pnpm-workspace.yaml
  scripts/init.sh
  scripts/post-rewrite.sh
  scripts/pre-commit.sh
  scripts/pre-push.sh
Labels: smart, documentation, workspace

build: updated nhost stack
  nhost/nhost.toml
Labels: hasura

wip: add async and RPC example
  apps/smart/src/lib/components/layout/app-sidebar.svelte
  apps/smart/src/lib/components/layout/skeleton-card.svelte
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/todos/+page.svelte
  apps/smart/src/routes/todos/todos.remote.ts
  apps/smart/svelte.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: smart

build: updated deps
  .vscode/settings.json
  apps/console/package.json
  apps/console/src/lib/smart/components/support.svelte
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: web, docs, console, smart, ui, workspace

build: updated deps
  apps/smart/src/routes/todos/+page.svelte
  apps/smart/src/routes/todos/README.md
  apps/smart/src/routes/todos/todos.remote.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: smart, documentation, workspace

wip(smart): migrating from @testing-library/svelte to vitest-browser-svelte
  README.md
  apps/smart/package.json
  apps/smart/src/routes/page.svelte.test.ts
  apps/smart/src/routes/todos/+page.svelte
  apps/smart/src/routes/todos/todos.remote.ts
  apps/smart/vite.config.ts
  apps/smart/vitest.setup.ts
  docs/playbook.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: smart, documentation, workspace

build: updated deps
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: web

fix: chrome ai
  apps/console/src/lib/smart/components/settings.ts
  apps/console/src/lib/smart/components/smart.ts
  apps/console/src/lib/smart/components/support.svelte
  apps/smart/src/lib/ai/smart.svelte.ts
Labels: console, smart

fix: work in pogress groups
  pnpm-lock.yaml
Labels: none

fix: chrome ai
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: chrome ai
  apps/console/src/lib/smart/components/settings.svelte
  apps/console/src/lib/smart/components/textarea.svelte
  apps/smart/src/lib/ai/components/settings.svelte
  apps/smart/src/lib/ai/components/smart-textarea.svelte
Labels: console, smart
