Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

fix: fix type in migrations sql, missing semicolon
  apps/console/src/lib/server/middleware/auth.ts
  nhost/migrations/default/1684206403640_init/up.sql
Labels: none

fix: trying to fix case-sensitive paths with git
  apps/console/src/lib/components/layout/drawer1.svelte
  apps/console/src/lib/components/preview.svelte
  apps/console/src/lib/components/preview1.svelte
  apps/playground/src/lib/components/layout/Drawer.svelte
  apps/playground/src/lib/components/layout/drawer.svelte
  apps/playground/src/lib/components/layout/drawer1.svelte
  apps/playground/src/lib/components/layout/footer.svelte
  apps/playground/src/lib/components/layout/footer1.svelte
Labels: playground

fix: trying to fix case-sensitive paths with git
  apps/console/src/lib/components/layout/drawer.svelte
  apps/console/src/lib/components/preview.svelte
  apps/playground/src/lib/components/layout/drawer.svelte
  apps/playground/src/lib/components/layout/footer.svelte
Labels: playground

chore(version): v0.2.0
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix(actions): pnpm version missmatch in CI with COREPACK_ENABLE_STRICT=0
  .github/workflows/ci.yml
Labels: workspace

chore(version): v0.2.1
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix(actions): pnpm version missmatch in CI with COREPACK_ENABLE_STRICT=0 [skip ci]
  .github/workflows/ci.yml
  Dockerfile
  docs/docker.md
Labels: documentation, workspace

chore(version): v0.2.2
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix: sidebar links
  apps/console/package.json
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/links.ts
  apps/console/src/lib/stores/stores.ts
  apps/playground/package.json
  apps/playground/src/lib/stores/stores.ts
  docs/playbook.md
Labels: playground, documentation

fix: deps
  pnpm-lock.yaml
Labels: none

fix: remove versions for pnpm/action-setup as we have packageManager in package.json
  .github/ci.yml
  .github/playwright.yml
  .github/workflows/check.yml
  .npmrc
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/links.ts
  apps/docs/.env.prod.example
Labels: docs, workspace

build: deploy docs to GH Pages via GitHub Actions
  .github/workflows/check.yml
  .github/workflows/docs-deploy.yml
  apps/docs/.env.prod.example
  apps/docs/.gitignore
  apps/docs/astro.config.mjs
Labels: docs, workspace

build: deploy docs to GH Pages via GitHub Actions
  .github/workflows/docs-deploy.yml
  apps/docs/astro.config.mjs
Labels: docs, workspace

build: deploy docs to GH Pages via GitHub Actions
  .github/workflows/docs-deploy.yml
  apps/console-fb/turbo.json
  apps/console-sc/turbo.json
  apps/console/src/lib/links.ts
  apps/console/src/lib/types/index.ts
  apps/console/static/robots.txt
  apps/docs/.env.prod.example
  apps/docs/astro.config.mjs
  apps/docs/turbo.json
  apps/playground/src/lib/stores/stores.ts
  apps/web/.env.prod.example
  apps/web/.eslintignore
  packages/skeleton-ui/src/components/form/form-alerts.svelte
  packages/skeleton-ui/src/components/form/text-field.svelte
Labels: web, docs, playground, workspace

build: deploy docs to GH Pages via GitHub Actions
  apps/docs/src/content/docs/index.mdx
Labels: docs

build: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.override.yml
  compose.yml
  nhost/nhost.toml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: refine github actions
  .github/README.md
  .github/actions/ignore/action.yml
  .github/actions/setup/action.yml
  .github/actions/setup/action.yml.bak
  .github/workflows/check.yml
  .github/workflows/deployment.yml.todo
  .github/workflows/docs-deploy.yml
  .github/workflows/integration.yml
  .github/workflows/pull-request.yml
  .github/workflows/report.yml
  docs/playbook.md
  package.json
  pnpm-lock.yaml
Labels: documentation, workspace

fix: refine github actions
  .github/README.md
  .github/workflows/docs-deploy.yml
Labels: documentation, workspace

fix(actions): using cocogitto for PR linting
  .github/workflows/integration.yml
  .github/workflows/pull-request.yml
  DEVELOPERS.md
  apps/console/src/lib/modals/Search.svelte
  docs/playbook.md
  package.json
  packages/skeleton-ui/src/components/form/text-field.svelte
  pnpm-lock.yaml
Labels: documentation, workspace

fix: deps
  .github/workflows/changesets.yml.bak
  .github/workflows/deployment.yml.todo
  .github/workflows/report.yml
Labels: workspace

fix(actions): move README to workflows [skip ci]
  .github/workflows/README.md
Labels: documentation, workspace

(fix) : update
  .github/workflows/report.yml
Labels: workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json
