Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc

fix(console): adding cookie debug
  apps/console/src/hooks.client.ts
  apps/console/src/lib/server/hooks/auth.ts
Labels: console

fix: oauth login and houdini client session refresh now works
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/server/hooks/auth.ts
  apps/console/src/lib/server/hooks/guard.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/+layout.svelte
  docs/hasura-auth.md
  docs/images/token-handler-pattern.webp
  llms.txt
Labels: console, documentation

fix: add biome turbo root task
  apps/console/package.json
  apps/console/turbo.json
  apps/smart/package.json
  apps/smart/turbo.json
  package.json
  turbo.json
Labels: console, workspace

fix: add check check:fix turbo tasks
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  turbo.json
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, workspace

docs: updated docs
  .github/workflows/ci.yml
  Dockerfile
  apps/console/turbo.json
  docs/hasura-auth.md
  docs/turborepo.md
Labels: console, documentation, workspace

fix(console): update org schema and sidnav links W.I.P
  apps/console/houdini.config.js
  apps/console/schema.graphql
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/links.ts
  apps/console/src/lib/modals/search.svelte
  apps/console/src/lib/schema/organization.ts
  apps/console/src/routes/(app)/organizations/create/+page.server.ts
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/organizations/create/+page.ts
  apps/console/src/routes/(app)/organizations/update/+page.server.ts
  apps/console/src/routes/(app)/organizations/update/+page.svelte
  apps/console/src/routes/(app)/organizations/update/+page.ts
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/migrations/default/1733695986269_create_table_public_organizations/up.sql
Labels: console, hasura

fix(console): fxing orgs w.i.p
  .vscode/settings.json
  apps/console/houdini.config.js
  apps/console/src/lib/graphql/MUTATION.AddOrganization.gql
  apps/console/src/lib/graphql/MUTATION.CreateOrg.gql
  apps/console/src/lib/graphql/MUTATION.CreatePolicy.gql
  apps/console/src/lib/graphql/MUTATION.DeleteOrg.gql
  apps/console/src/lib/graphql/MUTATION.UpdateOrgs.gql
  apps/console/src/lib/graphql/MUTATION.UpdatePolicy.gql
  apps/console/src/lib/graphql/MUTATION.UpdateRole.gql
  apps/console/src/lib/graphql/MUTATION.Updatenonhomeroles.gql
  apps/console/src/lib/graphql/QUERY.GetOrganizations.gql
  apps/console/src/lib/graphql/QUERY.GetPolicy.gql
  apps/console/src/lib/graphql/QUERY.SearchOrganizations.gql
  apps/console/src/lib/links.ts
  apps/console/src/lib/schema/organization.ts
  apps/console/src/routes/(app)/organizations/+page.gql
  apps/console/src/routes/(app)/organizations/+page.svelte
  apps/console/src/routes/(app)/organizations/+page.ts
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/organizations/components/search-organizations-form.svelte
  apps/console/src/routes/(app)/organizations/components/search-organizations-result.svelte
  apps/console/src/routes/(app)/organizations/create/+page.server.ts
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/organizations/create/+page.ts
  apps/console/src/routes/(app)/organizations/update/+page.server.ts
  apps/console/src/routes/(app)/organizations/update/+page.ts
  apps/console/src/routes/(app)/policies/+page.svelte
  apps/console/src/routes/(app)/policies/+page.ts
Labels: console

fix(console): fxing orgs w.i.p
  .vscode/settings.json
Labels: none

fix(console): fxing orgs w.i.p
  apps/console/src/lib/api/search-rules.ts
  apps/console/src/lib/links.ts
  apps/console/src/lib/schema/rule.ts
  apps/console/src/routes/(app)/organizations/+page.svelte
  apps/console/src/routes/(app)/organizations/components/search-organizations-form.svelte
  apps/console/src/routes/(app)/organizations/components/search-organizations-result.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/console/src/routes/(app)/rules/+page.gql
  apps/console/src/routes/(app)/rules/+page.svelte
  apps/console/src/routes/(app)/rules/+page.ts
  apps/console/src/routes/(app)/rules/rule.svelte
Labels: console

fix(console): fxing policies and rules w.i.p
  apps/console/src/lib/links.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/console/src/routes/(app)/rules/+page.gql
  apps/console/src/routes/(app)/rules/+page.ts
  apps/console/src/routes/(app)/rules/get.gql.bak
Labels: console

fix(console): w.i.p Organizations
  apps/console/houdini.config.js
  apps/console/schema.graphql
  apps/console/src/routes/(app)/organizations/+page.gql
  apps/console/src/routes/(app)/organizations/components/search-organizations-result.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  apps/console/src/routes/(app)/rules/get.gql.bak
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_rules.yaml
Labels: console, hasura

fix(console): w.i.p Organizations
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

fix(console): w.i.p Organizations
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

fix(console): w.i.p Organizations
  apps/console/project.inlang/es.json
  apps/console/src/lib/schema/organization.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

fix(nhost): deleted_records trigger
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/migrations/default/1733695883620_init/up.sql
  nhost/migrations/default/1733695986269_create_table_public_organizations/up.sql
  nhost/migrations/default/1733696090407_create_table_public_user_org_roles/up.sql
  nhost/migrations/default/1733696364187_create_table_public_groups/up.sql
  nhost/migrations/default/1733696500115_create_table_public_subscriptions/up.sql
  nhost/migrations/default/1733770579830_create_table_public_rules/up.sql
  nhost/migrations/default/1733770610828_create_table_public_policies/up.sql
  nhost/migrations/default/1733776768047_create_table_public_devices/up.sql
  nhost/migrations/default/1733776810389_create_table_public_pools/up.sql
  nhost/migrations/default/1734587932092_create_table_public_org_settings/up.sql
Labels: console, hasura

fix(nhost): deleted_records trigger
  nhost/migrations/default/1733695883620_init/up.sql
Labels: hasura

fix(nhost): deleted_records trigger
  nhost/migrations/default/1733695883620_init/up.sql
Labels: hasura

fix(nhost): deleted_records trigger
  nhost/migrations/default/1733695951358_auth_miscellaneous/down.sql
  nhost/migrations/default/1733695986269_create_table_public_organizations/up.sql
  nhost/migrations/default/1733696090407_create_table_public_user_org_roles/up.sql
  nhost/migrations/default/1733696145344_create_trigger_enforce_single_current_org_per_user/up.sql
  nhost/migrations/default/1733696194204_create_trigger_sync_default_role/up.sql
  nhost/migrations/default/1733696275842_create_trigger_auto_enroll_users_to_org/down.sql
  nhost/migrations/default/1733696275842_create_trigger_auto_enroll_users_to_org/up.sql
  nhost/migrations/default/1733696328444_create_function_user_current_org/down.sql
  nhost/migrations/default/1733696328444_create_function_user_current_org/up.sql
  nhost/migrations/default/1733696364187_create_table_public_groups/up.sql
  nhost/migrations/default/1733696411072_create_table_public_user_groups/up.sql
  nhost/migrations/default/1733696500115_create_table_public_subscriptions/up.sql
  nhost/migrations/default/1733770579830_create_table_public_rules/up.sql
  nhost/migrations/default/1733770610828_create_table_public_policies/up.sql
  nhost/migrations/default/1733776768047_create_table_public_devices/up.sql
  nhost/migrations/default/1733776810389_create_table_public_pools/up.sql
  nhost/migrations/default/1733776913067_create_table_public_device_pools/up.sql
Labels: hasura

fix(console): switch org
  apps/console/src/lib/graphql/MUTATION.MakeCurrentOrg.gql
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/(app)/profile/components/user-org-roles.svelte
  nhost/metadata/databases/default/tables/public_user_org_roles.yaml
  nhost/migrations/default/1733696275842_create_trigger_auto_enroll_users_to_org/up.sql
  nhost/tests/organizations.http
Labels: console, hasura

fix(console): cleanup
  apps/console/src/lib/server/hooks/auth.ts
  apps/console/src/lib/server/utils/nhost.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/(app)/profile/components/user-org-roles.svelte
  nhost/metadata/databases/default/tables/public_organizations.yaml
Labels: console, hasura

fix(console): add org-switcher component
  apps/console/schema.graphql
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/components/layout/org-switcher.svelte
  apps/console/src/lib/graphql/MUTATION.UpdateDefaultOrg.gql
  apps/console/src/lib/links.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/(app)/profile/+page.gql
  apps/console/src/routes/(app)/profile/+page.svelte
  apps/console/src/routes/(app)/profile/components/memberships.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/+page.ts
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/seeds/default/001_users.sql
Labels: console, hasura

fix(console): orgs metadata
  apps/console/houdini.config.js
  apps/console/schema.graphql
  apps/console/src/lib/graphql/MUTATION.UpdateDefaultOrg.gql
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/(app)/users/[id=uuid]/components/delegation.svelte
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_memberships.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/metadata/inherited_roles.yaml
Labels: console, hasura

fix(console): add trigger for org owner change
  apps/console/src/lib/components/layout/org-switcher.svelte
  nhost/metadata/databases/default/tables/public_memberships.yaml
  nhost/migrations/default/1735511471918_create_trigger_update_users_on_org_switch/down.sql
  nhost/migrations/default/1735511471918_create_trigger_update_users_on_org_switch/up.sql
  nhost/migrations/default/1735511471920_create_trigger_update_org_owner_memberships/down.sql
  nhost/migrations/default/1735511471920_create_trigger_update_org_owner_memberships/up.sql
Labels: console, hasura

fix(console): add trigger for org owner change
  apps/console/schema.graphql
Labels: console

fix(console): added maybe-error wrapper comp
  apps/console/houdini.config.js
  apps/console/src/app.d.ts
  apps/console/src/lib/components/layout/maybe-error.svelte
  apps/console/src/lib/server/hooks/houdini.ts
  apps/console/src/routes/(app)/policies/+page.gql
  apps/console/src/routes/(app)/policies/+page.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/console/src/routes/(app)/policies/mutations.ts
  apps/console/src/routes/(app)/users/[id=uuid]/components/delegation.svelte
  apps/console/src/routes/+layout.server.ts
  apps/smart/src/lib/stores/context.ts
  packages/skeleton-ui/src/components/graphql-errors.svelte
  packages/skeleton-ui/src/components/index.ts
  packages/skeleton-ui/src/components/not-found.svelte
  packages/skeleton-ui/src/components/something-went-wrong.svelte
Labels: console, skeleton-ui

fix(console): added org-switcher comp
  apps/console/src/lib/components/layout/org-switcher.svelte
  apps/console/src/routes/(app)/+layout.gql
  apps/console/src/routes/(app)/+layout.svelte
  apps/console/src/routes/(app)/dashboard/+page.svelte
  apps/console/src/routes/(app)/profile/+page.ts
Labels: console

fix(console): using houdini runtimeScalars API to add userId
  apps/console/src/routes/(app)/profile/+page.gql
  apps/console/src/routes/(app)/profile/+page.svelte
  apps/console/src/routes/(app)/profile/+page.ts
  apps/console/src/routes/(app)/profile/components/personal-access-token-form.svelte
  apps/console/src/routes/(app)/profile/components/security-key-form.svelte
  apps/console/src/routes/(app)/profile/components/user-details.svelte
Labels: console

fix(console): add rule houdini session variable
  apps/console/src/app.d.ts
  apps/console/src/hooks.client.ts
  apps/console/src/lib/server/hooks/houdini.ts
  apps/console/src/routes/+layout.server.ts
Labels: console

fix(console): add rule houdini session variable
  apps/console/README.md
  nhost/overlays/local.json
Labels: console, documentation, hasura

fix(console): add rule houdini session variable
  nhost/overlays/local.json
Labels: hasura

fix(console): upgrade hasura-auth to 0.37.0-beta0
  docs/images/multi-tenancy.png
  docs/images/multi-tenant-user.webp
  nhost/nhost.toml
  nhost/overlays/local.json
Labels: documentation, hasura

fix(console): adding Bot Protection with Cloudflare Turnstile w.i.p
  .env.example
  .secrets.example
  .secrets.production.example
  apps/console/package.json
  apps/console/src/lib/flags.ts
  apps/console/src/lib/stores/stores.ts
  apps/console/src/lib/utils/turnstile-validate.ts
  apps/console/src/routes/(app)/users/[id=uuid]/+page.server.ts
  apps/console/src/routes/(app)/users/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/+page.ts
  apps/console/src/routes/(app)/users/[id=uuid]/components/delegation.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  apps/console/src/routes/(auth)/+layout.server.ts
  apps/console/src/routes/(auth)/+layout.svelte
  apps/console/src/routes/(auth)/reset/+page.svelte
  apps/console/src/routes/(auth)/signin/+page.server.ts
  apps/console/src/routes/(auth)/signin/components/password.svelte
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
  apps/console/src/routes/(auth)/signup/+page.svelte
  docs/playbook.md
  nhost/nhost.toml
  pnpm-lock.yaml
Labels: console, documentation, hasura

fix(console): attempt to use turnstileResponse for signup w.i.p
  apps/console/src/routes/(auth)/signup/+page.svelte
Labels: console

fix(console): org update w.i.p
  .vscode/settings.json
  apps/console/src/app.d.ts
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/organizations/components/search-organizations-result.svelte
  apps/console/src/routes/(app)/organizations/components/update-organization-details.svelte
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/organizations/mutations.ts
  apps/console/src/routes/(app)/organizations/page.svelte.bak
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  apps/console/src/routes/(app)/profile/mutations.ts
  docs/hasura-auth.md
  nhost/metadata/databases/default/tables/public_memberships.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/seeds/default/002_user_roles.sql
Labels: console, documentation, hasura

fix(console): using variant-filled for all buttons
  apps/console/src/lib/components/layout/go-to-top.svelte
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/routes/(app)/dashboard/+page.svelte
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/console/src/routes/(app)/profile/components/change-email.svelte
  apps/console/src/routes/(app)/profile/components/change-password.svelte
  apps/console/src/routes/(app)/profile/components/change-password.svelte.bak
  apps/console/src/routes/(app)/profile/components/personal-access-token-form.svelte
  apps/console/src/routes/(app)/profile/components/security-key-form.svelte
  apps/smart/src/lib/stores/context.ts
  nhost/metadata/databases/default/tables/auth_users.yaml
Labels: console, hasura

fix(console): user profile refine
  .vscode/settings.json
  apps/console/src/routes/(app)/profile/components/change-email.svelte
  apps/console/src/routes/(app)/profile/components/change-password.svelte
  apps/console/src/routes/(app)/profile/components/change-password.svelte.bak
  apps/console/src/routes/(app)/profile/components/personal-access-token-form.svelte
  apps/console/src/routes/(app)/profile/components/security-key-form.svelte
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  nhost/nhost.toml
Labels: console, hasura

fix(console): org CRUD
  apps/console/src/routes/(app)/organization/+page.gql
  apps/console/src/routes/(app)/organization/+page.svelte
  apps/console/src/routes/(app)/organization/components/update-organization-details.svelte
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/organizations/components/update-organization-details.svelte
Labels: console

fix(console): memberships, settings w.i.p
  apps/console/schema.graphql
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/features/+page.svelte
  apps/console/src/routes/(app)/memberships/+page.gql
  apps/console/src/routes/(app)/memberships/+page.svelte
  apps/console/src/routes/(app)/memberships/mutations.ts
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/users/+page.gql
  apps/console/src/routes/(app)/users/+page.svelte
  apps/console/src/routes/(app)/users/+page.ts
  apps/console/src/routes/(app)/users/[id=uuid]/+page.svelte
  nhost/metadata/databases/default/tables/public_organizations.yaml
Labels: console, hasura

fix(console): now apply FEATURE_SHOW_BOT_PROTECTION
  apps/console/src/lib/flags.ts
  apps/console/src/lib/stores/stores.ts
Labels: console

fix(console): using env as source for vercel/flags
  apps/console/src/lib/flags.ts
Labels: console
