Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc

fix: added ultracite biome config
  biome.jsonc
  packages/biome-config/root.jsonc
  packages/biome-config/svelte.jsonc
Labels: biome-config, workspace

style: format with biome + ultracite
  apps/console/src/lib/graphql/client.ts
Labels: console

style: format with biome + ultracite
  apps/smart/src/routes/examples/members/add-member-dialog.svelte
  apps/smart/src/routes/examples/members/member-list.svelte
Labels: none

style: format with biome + ultracite
  apps/console/src/lib/utils/turnstile-validate.ts
  apps/console/src/routes/(app)/admin/users/components/search-users-result.svelte
  apps/console/src/routes/(app)/admin/users/mutations.ts
  apps/console/src/routes/(app)/flows/network/components/network.data.ts
  apps/console/src/routes/(app)/org/groups/components/search-groups-result.svelte
  apps/console/src/routes/(auth)/+layout.svelte
  apps/console/src/routes/(auth)/signup/+page.svelte
  apps/smart/src/lib/components/layout/app-sidebar.svelte
  apps/smart/src/routes/examples/members/+page.svelte
  packages/skeleton-ui/src/utils/element.ts
Labels: console, skeleton-ui

style: format with biome + ultracite
  apps/console/src/lib/components/craft/typewriter.svelte
  apps/console/src/routes/(app)/org/members/components/filter.svelte
  functions/echo.ts
  packages/smart/src/components/combo-box.svelte
  packages/ui/src/utils/element.ts
Labels: console, ui

fix: updated pnpm
  docs/playbook.md
  package.json
Labels: documentation, workspace

fix(console): using emailVerified for users list page
  apps/console/src/routes/(app)/admin/users/+page.gql
  apps/console/src/routes/(app)/admin/users/[id=uuid]/components/user-groups.svelte.bak
  apps/console/src/routes/(app)/admin/users/components/search-users-result.svelte
Labels: console

fix(nhost): nhost config remove unauthorizedRole
  nhost/nhost.toml
Labels: hasura

fix(console): adding vite config noExternal to support CommonJS modules nhost and graphql
  apps/console/vite.config.ts
Labels: console

fix(console): updated permissions for org for user role
  apps/console/vite.config.ts
  nhost/metadata/databases/default/tables/public_organizations.yaml
Labels: console, hasura

fix: added ultracite biome config
  docs/awesome-sveltekit.md
Labels: documentation

fix: bug in add/remove groups for user
  apps/console/src/routes/(app)/admin/users/[id=uuid]/components/user-groups.svelte
Labels: console

fix: adding postgres.resources.storage to nhost.toml as per https://github.com/nhost/nhost/discussions/3190
  apps/console/src/lib/server/hooks/guard.ts
  apps/console/src/routes/(app)/admin/users/[id=uuid]/components/user-groups.svelte
  docs/awesome-sveltekit.md
  nhost/nhost.toml
Labels: console, documentation, hasura

docs: updated ai docs
  docs/awesome-ai.md
  docs/awesome-sveltekit.md
  docs/awesome-tailwind.md
Labels: documentation

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/src/lib/components/layout/command-menu.svelte
  apps/web/package.json
  docs/awesome-ai.md
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/hooks/is-mobile.svelte.ts
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, documentation, workspace

fix: order astro plugins keep svelte above starlight
  apps/web/.gitignore
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/tailwind.config.mjs
  pnpm-lock.yaml
Labels: web

fix: order astro plugins keep svelte above starlight
  pnpm-lock.yaml
Labels: none

fix: fix vercel build
  apps/web/astro.config.mjs
Labels: web

chore(version): v0.7.0
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix: capacity = 10 in nhost.toml
  Dockerfile
  nhost/nhost.toml
Labels: hasura

fix: format
  apps/smart/src/lib/components/layout/app-footer.svelte
  apps/web/src/content/newsletter/03-2025-news.md
  docs/awesome-sveltekit.md
  docs/hasura-auth.md
  docs/hasura.md
  nhost/tests/devices.http
  run-console-local.toml
Labels: web, documentation, hasura

fix: update nhost versions
  nhost/nhost.toml
Labels: hasura

fix: update nhost versions
  nhost/nhost.toml
  nhost/overlays/swzucovdccjouwebopwb.json
Labels: hasura

fix: update nhost versions
  apps/console/src/routes/[x+2e]well-known/webauthn/+server.ts
  nhost/nhost.toml
  nhost/overlays/local.json
  nhost/overlays/swzucovdccjouwebopwb.json
Labels: console, hasura

fix: removed pro feature forbidAminSecret for cloud env
  nhost/nhost.toml
  nhost/overlays/swzucovdccjouwebopwb.json
Labels: hasura

fix: removed pro feature maxDepthQueries for cloud env
  nhost/overlays/swzucovdccjouwebopwb.json
Labels: hasura

fix: added languine
  .github/workflows/languine.yml
  apps/console/languine.json
  apps/console/languine.lock
  apps/docs/package.json
  docs/awesome-sveltekit.md
  nhost/nhost.toml
  packages/smart/package.json
  packages/smart/src/use-object.ts
  pnpm-lock.yaml
Labels: docs, console, documentation, hasura, workspace

fix!: adding uuid_nil() as default_org for new users
  .github/workflows/languine.yml
  .vscode/settings.json
  apps/console/languine.json
  apps/console/src/lib/components/layout/org-switcher.svelte
  apps/console/src/routes/(app)/user/profile/components/user-details.svelte
  nhost/migrations/default/1735509246830_init/up.sql
  nhost/migrations/default/1735510636848_auth_miscellaneous/up.sql
  nhost/migrations/default/1735511471917_create_trigger_update_users_on_memberships_change/up.sql
  nhost/seeds/default/003_organizations.sql
  packages/smart/src/use-object.ts
Labels: console, hasura, workspace

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  nhost/seeds/default/004_memberships.sql
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, hasura, workspace

build: nhost postgres.resources.storage.capacity changed to 1
  nhost/nhost.toml
Labels: hasura

fix(smart): upgrade inlang i18n to v2
  apps/console/package.json
  apps/smart/messages/de.json
  apps/smart/messages/en.json
  apps/smart/messages/es.json
  apps/smart/package.json
  apps/smart/project.inlang/settings.json
  apps/smart/src/app.d.ts
  apps/smart/src/app.html
  apps/smart/src/hooks.server.ts
  apps/smart/src/hooks.ts
  apps/smart/src/lib/components/layout/app-header.svelte
  apps/smart/src/lib/components/layout/metadata.svelte
  apps/smart/src/lib/components/layout/nav-main.svelte
  apps/smart/src/lib/components/layout/nav-projects.svelte
  apps/smart/src/lib/i18n.ts
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/demo/+page.svelte
  apps/smart/src/routes/demo/paraglide/+page.svelte
  apps/smart/vite.config.ts
  package.json
  pnpm-lock.yaml
Labels: console, workspace

fix(smart): upgrade inlang i18n to v2
  apps/smart/messages/de.json
  apps/smart/messages/es.json
Labels: none

fix(ui): updated shadcn components
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/ui/avatar/avatar-fallback.svelte
  packages/ui/src/components/ui/avatar/avatar-image.svelte
  packages/ui/src/components/ui/input/input.svelte
  packages/ui/src/components/ui/slider/slider.svelte
  pnpm-lock.yaml
Labels: ui

fix(nhost): schema
  bun.lockb
  docs/database.md
  docs/hasura.md
  nhost/migrations/default/1735509246830_init/down.sql
  nhost/migrations/default/1735510636848_auth_miscellaneous/down.sql
  packages/ui/components.json
Labels: ui, documentation, hasura

fix(docs): updated hasura cli docs
  docs/hasura.md
Labels: documentation

fix: adding text-to-gql example
  apps/console/package.json
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/ai/gql/+page.svelte
  apps/console/src/routes/(app)/ai/rag/+page.svelte
  apps/console/src/routes/api/gql/+server.ts
  apps/console/src/routes/api/gql/README.md
  apps/console/src/routes/api/gql/gqlpt.ts
  apps/console/src/routes/api/gql/openai.ts
  apps/console/src/routes/api/gql/rules.ts
  apps/console/src/routes/api/gql/types.ts
  apps/console/src/routes/api/gql/utils.ts
  apps/console/src/routes/api/gql2/+server.ts
  apps/console/tsconfig.json
  apps/docs/src/content/docs/setup/README.md
  apps/smart/package.json
  apps/smart/tsconfig.json
  nhost/nhost.toml
  package.json
  packages/role-houdini/package.json
  pnpm-lock.yaml
Labels: docs, console, role-houdini, documentation, hasura, workspace

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/docs/src/content/docs/setup/README.md
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, documentation, workspace

chore(version): v0.7.1
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix: moved packages/smart to console
  apps/console/package.json
  apps/console/src/lib/smart/@types/browser-ai.d.ts
  apps/console/src/lib/smart/README.md
  apps/console/src/lib/smart/actions/index.ts
  apps/console/src/lib/smart/actions/smart-paste.ts
  apps/console/src/lib/smart/components/chat.svelte
  apps/console/src/lib/smart/components/combo-box.svelte
  apps/console/src/lib/smart/components/constants.test.ts
  apps/console/src/lib/smart/components/constants.ts
  apps/console/src/lib/smart/components/date-picker.svelte.bak
  apps/console/src/lib/smart/components/date.svelte
  apps/console/src/lib/smart/components/index.ts
  apps/console/src/lib/smart/components/loader-icon.svelte
  apps/console/src/lib/smart/components/magic-spell-textarea.svelte
  apps/console/src/lib/smart/components/result.svelte
  apps/console/src/lib/smart/components/sentiment.svelte
  apps/console/src/lib/smart/components/settings.svelte
  apps/console/src/lib/smart/components/settings.ts
  apps/console/src/lib/smart/components/smart.ts
  apps/console/src/lib/smart/components/stats.svelte
  apps/console/src/lib/smart/components/summary-icon.svelte
  apps/console/src/lib/smart/components/support.svelte
  apps/console/src/lib/smart/components/textarea.svelte
  apps/console/src/lib/smart/components/translate-icon.svelte
  apps/console/src/lib/smart/use-object.ts
  apps/console/src/routes/(app)/ai/pastesmart/+page.svelte
  apps/console/src/routes/(app)/ai/rag/+page.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/writing/+page.svelte
  apps/console/src/routes/(app)/org/billing/+page.svelte
  apps/console/src/routes/(app)/org/invoices/+page.svelte
  apps/console/src/routes/(app)/user/settings/+page.svelte
  packages/skeleton-ui/tailwind.config.ts
  packages/smart/biome.jsonc
  packages/smart/package.json
  packages/smart/tsconfig.json
Labels: console, skeleton-ui, documentation

fix: moved packages/skeleton-ui to console
  apps/console/tailwind.config.ts
  packages/role-houdini/package.json
Labels: console, role-houdini
