Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

fix: moved packages/skeleton-ui to console
  pnpm-lock.yaml
Labels: none

fix: using Monorepo Workspace
  .vscode/extensions.json
Labels: none

feat(docs): added mermaid support to starlight project
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/content/docs/demos/sumo.mdx
  pnpm-lock.yaml
Labels: docs

fix: deps
  apps/console/package.json
  pnpm-lock.yaml
Labels: console

fix(console): adding missing dep cssnano
  apps/console/package.json
  docs/docker.md
  pnpm-lock.yaml
Labels: console, documentation

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/src/hooks.server.ts
  apps/web/package.json
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, workspace

build: deps updated
  apps/console/package.json
  package.json
  pnpm-lock.yaml
Labels: console, workspace

fix(docs): remove landuine and add Playwright Browsers for githuib actions
  .github/workflows/docs-deploy.yml
  .github/workflows/languine.yml
  .vscode/settings.json
  apps/console/languine.json
  apps/console/languine.lock
  apps/docs/README.md
  docs/awesome-sveltekit.md
Labels: docs, console, documentation, workspace

fix: testing CustomClaimsDefaults
  nhost/migrations/default/1735510636848_auth_miscellaneous/up.sql
  nhost/migrations/default/1735511471917_create_trigger_update_users_on_memberships_change/up.sql
  nhost/nhost.toml
  nhost/seeds/default/003_organizations.sql
  nhost/seeds/default/004_memberships.sql
Labels: hasura

fix: auth schema change
  apps/console/schema.graphql
Labels: console

docs: update seeds section
  docs/hasura.md
Labels: documentation

fix: updated deps
  apps/console/README.md
  apps/console/package.json
  apps/console/src/routes/(auth)/signup/+page.svelte
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  docs/hasura.md
  docs/playbook.md
  nhost/nhost.toml
  package.json
  packages/biome-config/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, documentation, hasura, workspace

fix: upgrade to turborepo 2.5 bun support for prune
  Dockerfile
  apps/console/turbo.jsonc
  apps/docs/turbo.jsonc
  apps/smart/turbo.jsonc
  apps/web/turbo.jsonc
  bun.Dockerfile
  packages/role-houdini/turbo.jsonc
  packages/ui/turbo.jsonc
  turbo.jsonc
Labels: web, docs, console, ui, role-houdini

fix: sync with main
  Dockerfile
  apps/console/README.md
  apps/console/package.json
  apps/console/src/routes/(auth)/signup/+page.svelte
  apps/console/turbo.jsonc
  apps/docs/package.json
  apps/docs/turbo.jsonc
  apps/smart/package.json
  apps/smart/turbo.jsonc
  apps/web/package.json
  apps/web/turbo.jsonc
  bun.Dockerfile
  docs/playbook.md
  nhost/nhost.toml
  package.json
  packages/biome-config/package.json
  packages/role-houdini/turbo.jsonc
  packages/ui/package.json
  packages/ui/turbo.jsonc
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.jsonc
Labels: web, docs, console, ui, biome-config, role-houdini, documentation, hasura, workspace

fix: deps sync
  pnpm-lock.yaml
Labels: none

docs: update documentation with new references and links
  apps/console/src/routes/api/gql/README.md
  docs/awesome-ai.md
  docs/database.md
Labels: console, documentation

docs: update README to remove deprecated cert download method
  apps/console/README.md
Labels: console, documentation

chore: update dependencies and adjust AI model configurations
  apps/console/package.json
  apps/console/src/routes/(app)/ai/gql/+page.svelte
  apps/console/src/routes/api/combobox/+server.ts
  apps/console/src/routes/api/completions/+server.ts
  apps/console/src/routes/api/date/+server.ts
  apps/console/src/routes/api/gql/openai.ts
  apps/console/src/routes/api/gql2/+server.ts
  apps/console/src/routes/api/smartpaste/+server.ts
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/role-houdini/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, workspace

build: update package.json dependencies and pnpm config
  package.json
  pnpm-lock.yaml
Labels: workspace

build: update pnpm-lock.yaml to reflect dependency changes
  pnpm-lock.yaml
Labels: none

fix: deps updated
  apps/console/package.json
  apps/console/src/routes/api/gql/gqlpt.ts
  apps/docs/package.json
  apps/smart/package.json
  package.json
  packages/role-houdini/package.json
  pnpm-lock.yaml
Labels: docs, console, role-houdini, workspace

feat: add font support and update configurations in astro setup
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/light-switcher.svelte
  apps/web/src/layouts/layout.astro
  apps/web/src/styles/global.css
Labels: web

fix: adding llms.txt
  .github/copilot-instructions.md
  apps/smart/llms.txt
  docs/awesome-ai.md
  llms.txt
  packages/role-houdini/package.json
Labels: role-houdini, documentation, workspace

feat: update configurations and dependencies across the project, including Tailwind and Astro integrations
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/styles/global.css
  apps/docs/tailwind.config.mjs
  apps/docs/tsconfig.json
  apps/web/astro.config.mjs
  apps/web/package.json
  pnpm-lock.yaml
Labels: web, docs, documentation

fix: remove speedInsights configuration from Astro setup
  apps/docs/astro.config.mjs
  apps/docs/src/styles/global.css
  apps/web/astro.config.mjs
Labels: web, docs

chore: update dependencies across multiple packages, including mode-watcher and svelte
  apps/console/package.json
  apps/smart/package.json
  apps/web/package.json
  apps/web/src/components/light-switcher.svelte
  package.json
  packages/ui/package.json
  packages/ui/src/components/ui/sonner/sonner.svelte
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, console, ui, workspace

feat: update Svelte extensions and add new resources to awesome-sveltekit documentation
  .vscode/extensions.json
  docs/awesome-sveltekit.md
Labels: documentation

chore: update dependencies across multiple packages including @inlang/cli, lucide-svelte, openai, svelte, and astro
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, workspace

build: deps updated
  apps/console/package.json
  apps/console/src/lib/smart/components/support.svelte
  apps/console/src/lib/smart/components/textarea.svelte
  apps/console/src/routes/(app)/ai/chat/README.md
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/src/lib/ai/components/smart-textarea.svelte
  apps/web/package.json
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, documentation, workspace

fix: deps updated
  .dockerignore
  .vscode/settings.json
  apps/console/package.json
  apps/docs/package.json
  apps/smart/README.md
  apps/smart/package.json
  apps/web/package.json
  docs/awesome-ai.md
  docs/awesome-sveltekit.md
  package.json
  packages/biome-config/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, documentation, workspace

fix: deps updated
  apps/console/package.json
  apps/console/src/hooks.server.ts
  apps/console/src/lib/flags.ts
  apps/docs/package.json
  apps/smart/README.md
  apps/smart/package.json
  apps/web/package.json
  docs/awesome-ai.md
  docs/awesome-sveltekit.md
  docs/feature-flags.md
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/ui/package.json
  packages/ui/src/components/ui/command/command-group.svelte
  packages/ui/src/components/ui/command/command-link-item.svelte
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, documentation, workspace

fix: using pnpm catalogs
  apps/console/package.json
  apps/smart/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: console

docs: revert to kit 2.21.0 https://github.com/sveltejs/kit/issues/13804
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: deps updated
  apps/console/package.json
  apps/smart/package.json
  apps/web/package.json
  packages/role-houdini/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: web, console, ui, role-houdini

fix: added origin-trial for Writer , Rewriter Prompt API for Chrome Extensions
  apps/console/src/app.html
Labels: console

fix: types
  apps/console/src/lib/smart/actions/smart-paste.ts
  apps/console/src/lib/smart/components/combo-box.svelte
  apps/console/src/lib/smart/components/date-picker.svelte.bak
  apps/console/src/lib/smart/components/date.svelte
  apps/console/src/lib/smart/components/settings.svelte
  apps/console/src/lib/smart/components/settings.ts
  apps/console/src/lib/smart/components/smart.ts
  apps/console/src/lib/smart/components/stats.svelte
  apps/console/src/lib/smart/components/textarea.svelte
  apps/console/src/routes/(app)/ai/chat/README.md
  apps/smart/src/lib/ai/smart.svelte.ts
  apps/smart/tsconfig.json
Labels: console, documentation

fix: types
  apps/console/src/lib/smart/components/combo-box.svelte
  apps/console/src/lib/smart/components/date.svelte
  apps/console/src/lib/smart/components/smart.ts
  apps/smart/src/app.css
  apps/smart/src/lib/ai/smart.svelte.ts
  apps/smart/src/lib/components/icons/index.ts
  packages/biome-config/package.json
  packages/role-houdini/package.json
Labels: console, biome-config, role-houdini

fix: fix tialwind4 for UI/Smart package
  apps/smart/src/app.css
  apps/smart/src/routes/examples/debounce-runed/+page.svelte
  apps/smart/src/routes/examples/debounce/+page.svelte
  apps/smart/turbo.jsonc
  package.json
  packages/ui/package.json
  packages/ui/src/attachments/debounce.svelte.ts
  packages/ui/src/attachments/index.ts
Labels: ui, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
