Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

fix: just name mailpit as mailhog to use without tls
  .env.example
  .secrets.example
  .secrets.prod.example
  apps/console/README.md
  compose.override.yml
  compose.yml
Labels: documentation

chore: deps updated
  .secrets.example
  .secrets.prod.example
  apps/console/README.md
  compose.yml
Labels: documentation

fix: use dotenv-run correctly
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/playground/package.json
  docs/turborepo.md
Labels: playground, documentation

chore: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

chore: deps updated
  apps/console/package.json
Labels: none

fix: env settings
  .env.example
  .secrets.example
  .secrets.prod.example
  apps/console/turbo.json
  compose.yml
  docs/docker.md
  docs/turborepo.md
  nhost/tests/devices.http
  nhost/tests/rules.http
Labels: documentation

chore: deps updated
  README.md
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.override.yml
  compose.yml
  nhost/metadata/databases/databases.yaml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: deps updated
  Makefile
Labels: none

fix: setting default_org in metadata
  apps/console/src/routes/auth/signin/+page.server.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  compose.yml
  docs/hasura.md
  infra/base/postgres/initdb.d/0001-create-schema.sql
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/nhost.toml
  nhost/seeds/default/001_users.sql
Labels: documentation

chore: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  compose.yml
  nhost/nhost.toml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix: env settings
  .env.example
  .env.prod.example
  .secrets.example
  .secrets.prod.example
  apps/web/package.json
Labels: web

fix(hasura): fix orgs schema
  apps/console-fb/src/lib/graphql/client.ts
  apps/console/README.md
  apps/console/package.json
  apps/console/schema.graphql
  apps/console/src/lib/graphql/QUERY.ListOrganizations.gql
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  apps/console/src/routes/auth/signup/+page.svelte
  compose.override.yml
  compose.yml
  docs/hasura.md
  infra/base/hasura/kustomization.yaml
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_organization.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/metadata/databases/default/tables/public_user_org_roles.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/migrations/default/1686378049757_insert_seed_type_data/down.sql
  nhost/migrations/default/1686378049757_insert_seed_type_data/up.sql
  nhost/seeds/default/001_users.sql
  package.json
  pnpm-lock.yaml
Labels: documentation, workspace

fix: remove anonymous access and use adminSecret to get orgs
  apps/console/src/lib/graphql/client.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  apps/console/src/routes/auth/signup/+page.svelte
  nhost/metadata/databases/default/tables/public_organizations.yaml
Labels: none

fix: move getOrg to lib/server/utils
  apps/console/src/lib/server/utils/getOrgs.ts
  apps/console/src/routes/auth/signup/+page.server.ts
Labels: none

fix: update github actions versions
  .github/ci.yml
  .github/workflows/check.yml
  Dockerfile
  bun.Dockerfile
Labels: workspace

fix: bypass test:unit:coverage for docs and fb
  apps/console-fb/package.json
  apps/console-fb/schema.graphql
  apps/console-sc/package.json
  apps/docs/package.json
  pnpm-lock.yaml
Labels: docs

chore: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

fix(utils): add myFetch util function
  apps/docs/package.json
  packages/utils/src/myFetch.ts
  packages/utils/src/object.ts
Labels: docs

fix(hasura): add triggers to automatically add remove rows in user_org_roles table
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/seeds/default/001_users.sql
Labels: none

fix(hasura): cleanup schema
  .github/workflows/ci.yml
  apps/console/src/lib/graphql/client.ts
  nhost/metadata/databases/default/tables/public_user_org_groups.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/migrations/default/1686378049757_insert_seed_type_data/down.sql
Labels: workspace

fix: fix github actions
  .github/workflows/check.yml
  nhost/nhost.toml
Labels: workspace

fix: fix hasura migrations scripts
  docs/hasura.md
  nhost/migrations/default/1686378049757_insert_seed_type_data/down.sql
Labels: documentation

fix: lock node engines node>=20 and pnpm >=8
  package.json
Labels: workspace

fix: lock node engines node>=20 and pnpm >=8
  .github/workflows/check.yml
  package.json
  pnpm-lock.yaml
Labels: workspace

chore: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/console/schema.graphql
  apps/console/vite.config.ts
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  packages/eslint-config/all.js
  packages/eslint-config/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui

fix: fix BASE_HOSTNAME for apps
  apps/console-fb/.env.example
  apps/console-fb/package.json
  apps/console-fb/schema.graphql
  apps/console-fb/turbo.json
  apps/console/.env.example
  apps/console/turbo.json
Labels: none

fix(docker): bypass .git copy restriction in dockerfile
  Dockerfile
Labels: none

fix: using user_allowed_orgs database function to retrieve allowed orgs
  .env.prod.example
  apps/console-fb/schema.graphql
  apps/console-fb/src/lib/server/middleware/guard.ts
  apps/console-fb/src/lib/utils/cookies.ts
  apps/console-fb/src/lib/utils/encrypt.ts
  apps/console-fb/src/lib/utils/index.ts
  apps/console-fb/src/lib/utils/logger.ts
  apps/console-fb/src/lib/utils/object.ts
  apps/console-fb/src/lib/utils/pkce.ts
  apps/console-fb/src/routes/(app)/dashboard/devices/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/create/+page.server.ts
  apps/console/schema.graphql
  apps/console/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  apps/console/src/routes/auth/signin/+page.server.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  compose.yml
  docs/hasura-auth.md
  docs/hasura.md
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_user_org_roles.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/migrations/default/1686378049757_insert_seed_type_data/down.sql
  nhost/migrations/default/1686378049757_insert_seed_type_data/up.sql
  nhost/nhost.toml
  nhost/seeds/default/001_organizations.sql
  nhost/seeds/default/002_users.sql
  packages/utils/src/helper.ts
  packages/utils/src/index.ts
  packages/utils/src/myFetch.ts
  packages/utils/src/object.ts
Labels: documentation

chore: deps updated
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui

fix: fix eslint config
  apps/console/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  docs/hasura.md
  nhost/overlays/bggkthwysdvphygfecpa.json
  packages/eslint-config/package.json
Labels: documentation

fix: nhost subdomain change
  .env.prod.example
  .secrets.example
  docs/hasura.md
  docs/nhost.md
  nhost/overlays/mscymynlefhgknffvdzk.json
Labels: documentation

docs: hasure setup docs
  docs/hasura.md
Labels: documentation

fix(console-fb): using redirectWithFlash and remove throw
  apps/console-fb/src/lib/components/form/DeleteForm.svelte
  apps/console-fb/src/routes/(app)/dashboard/devices/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/houdini/+page.server.ts
  apps/console/src/app.d.ts
Labels: none

feat(console): signup form now take terms and verify conform password
  .env.example
  .env.prod.example
  apps/console-fb/src/lib/models/schema/policy.schema.ts
  apps/console/project.inlang/de.json
  apps/console/project.inlang/en.json
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  apps/console/src/routes/auth/signup/+page.svelte
  compose.yml
  nhost/nhost.toml
Labels: none

feat(hasura): adding is_default_role to user_org_roles table
  apps/console/src/app.d.ts
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/server/middleware/houdini.ts
  docs/hasura-auth.md
  nhost/metadata/databases/default/tables/public_user_org_roles.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/seeds/default/002_users.sql
Labels: documentation

feat: add auth guard for app routes, handling session expires for graphql
  apps/console-fb/schema.graphql
  apps/console/schema.graphql
  apps/console/src/lib/components/layout/flash-message-toast.svelte
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/nhost.ts
  apps/console/src/lib/server/middleware/auth.ts
  apps/console/src/routes/(app)/dashboard/+layout.svelte
  apps/console/src/routes/auth/signin/+page.server.ts
  apps/console/src/routes/auth/signin/signin.test.ts
  apps/console/src/routes/auth/signout/+page.server.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  packages/utils/src/helper.ts
Labels: none

fix: nhost new project
  .env.prod.example
  nhost/overlays/srguexguxglrkvawhywy.json
Labels: none

fix: workarround for https://github.com/nhost/nhost/issues/2028
  apps/console/src/lib/server/middleware/houdini.ts
  docs/hasura.md
  docs/nhost.md
Labels: documentation

feat: allow setting preload option for links in sidenav
  .env.prod.example
  apps/console-fb/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  apps/console-fb/turbo.json
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/links.ts
  compose.yml
  docs/hasura-auth.md
  docs/hasura.md
  nhost/migrations/default/1684206403640_init/up.sql
Labels: documentation

fix: session cookie expire time to same as refreshToken
  apps/console/src/lib/nhost.ts
Labels: none

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json
