Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

fix(console): turnstile enabled for nhsot auth and sending x-cf-turnstile-response header for signup
  apps/console/src/routes/(auth)/signup/+page.svelte
  nhost/nhost.toml
  nhost/overlays/local.json
Labels: console, hasura

fix(ui): update shadcn-svelte comps
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/ui/alert-dialog/alert-dialog-content.svelte
  packages/ui/src/components/ui/badge/badge.svelte
  packages/ui/src/components/ui/button/button.svelte
  packages/ui/src/components/ui/card/card-title.svelte
  packages/ui/src/components/ui/checkbox/checkbox.svelte
  packages/ui/src/components/ui/command/command-dialog.svelte
  packages/ui/src/components/ui/command/command-input.svelte
  packages/ui/src/components/ui/context-menu/context-menu-checkbox-item.svelte
  packages/ui/src/components/ui/context-menu/context-menu-content.svelte
  packages/ui/src/components/ui/data-table/flex-render.svelte
  packages/ui/src/components/ui/dialog/dialog-content.svelte
  packages/ui/src/components/ui/drawer/drawer-content.svelte
  packages/ui/src/components/ui/dropdown-menu/dropdown-menu-checkbox-item.svelte
  packages/ui/src/components/ui/dropdown-menu/dropdown-menu-content.svelte
  packages/ui/src/components/ui/hover-card/hover-card-content.svelte
  packages/ui/src/components/ui/input/input.svelte
  packages/ui/src/components/ui/menubar/menubar-checkbox-item.svelte
  packages/ui/src/components/ui/menubar/menubar-content.svelte
  packages/ui/src/components/ui/popover/popover-content.svelte
  packages/ui/src/components/ui/select/select-content.svelte
  packages/ui/src/components/ui/sheet/sheet-content.svelte
  packages/ui/src/components/ui/sidebar/sidebar-provider.svelte
  packages/ui/src/components/ui/sidebar/sidebar.svelte
  packages/ui/src/components/ui/slider/slider.svelte
  packages/ui/src/components/ui/textarea/textarea.svelte
  packages/ui/src/components/ui/toggle-group/toggle-group-item.svelte
  packages/ui/src/components/ui/toggle/toggle.svelte
  pnpm-lock.yaml
Labels: ui

fix(console): add member mockup. thanke to svelte0
  apps/console/src/routes/(app)/memberships/+page.svelte
  apps/console/src/routes/(app)/memberships/MemberForm.svelte
  apps/console/static/assets/avatars/01.png
  apps/console/static/assets/avatars/02.png
  apps/console/static/assets/avatars/03.png
  apps/console/static/assets/avatars/04.png
  apps/console/static/assets/avatars/05.png
  apps/console/static/assets/avatars/shadcn.jpg
  apps/smart/src/lib/components/layout/command-menu.svelte
  apps/smart/src/routes/examples/members/+page.svelte
  apps/smart/src/routes/examples/members/AddMemberDialog.svelte
  apps/smart/src/routes/examples/members/MemberList.svelte
Labels: console

fix(console): settings
  .env.example
  .env.production.example
  apps/console/src/lib/stores/stores.ts
Labels: console

feat:added membership functions
  apps/console/src/routes/(app)/memberships/+page.gql
  apps/console/src/routes/(app)/memberships/+page.svelte
  apps/console/src/routes/(app)/memberships/MemberForm.svelte
  apps/console/src/routes/(app)/memberships/components/MemberForm.svelte
  apps/console/src/routes/(app)/memberships/components/search-members-result.svelte
  apps/console/src/routes/(app)/memberships/mutations.ts
Labels: console

feat(ui): added input-pairs comp
  apps/console/src/routes/(app)/policies/create/+page.svelte
  packages/skeleton-ui/src/components/form/index.ts
  packages/skeleton-ui/src/components/form/input-pairs.svelte
Labels: console, skeleton-ui

fix(console): enable google origin-trial for ai
  .gitignore
  apps/console/src/app.html
  apps/smart/.gitignore
Labels: console

fix(ui): using InputChipWrapper
  apps/console/houdini.config.js
  apps/console/src/lib/schema/organization.ts
  apps/console/src/routes/(app)/organization/components/update-organization-details.svelte
  docs/database.md
  nhost/migrations/default/1735510636848_auth_miscellaneous/up.sql
  nhost/nhost.toml
  packages/skeleton-ui/src/components/form/index.ts
  packages/skeleton-ui/src/components/form/input-chip-wrapper.svelte
Labels: console, skeleton-ui, documentation, hasura

fix(ui): using InputChipWrapper
  apps/console/src/lib/schema/organization.ts
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  packages/skeleton-ui/src/components/form/input-chip-wrapper.svelte
Labels: console, skeleton-ui

fix(ui): improve InputChip comp
  apps/console/src/lib/schema/policy.ts
  apps/console/src/lib/stores/stores.ts
  apps/console/src/routes/(app)/organization/components/update-organization-details.svelte
  packages/skeleton-ui/src/components/form/input-chip-wrapper.svelte
  packages/skeleton-ui/src/components/form/input-pairs.svelte
Labels: console, skeleton-ui

fix(ui): improve InputChip comp
  apps/console/src/lib/schema/organization.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/lib/schema/rule.ts
  apps/console/src/routes/(app)/organization/components/update-organization-details.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  packages/skeleton-ui/src/components/form/index.ts
  packages/skeleton-ui/src/components/form/input-chip-wrapper.svelte
  packages/skeleton-ui/src/components/form/input-pairs.svelte
Labels: console, skeleton-ui

fix(ui): improve InputChip comp
  apps/console/src/routes/(app)/organization/components/update-organization-details.svelte
  apps/console/src/routes/(app)/organizations/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

style: format
  apps/console/src/lib/schema/organization.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/lib/schema/rule.ts
  apps/console/src/routes/(app)/organization/components/update-organization-details.svelte
  apps/console/src/routes/(app)/organizations/create/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  packages/skeleton-ui/src/components/form/input-pairs.svelte
Labels: console, skeleton-ui

style: format
  docs/playbook.md
  package.json
Labels: documentation, workspace

fix: deps updated
  Dockerfile
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, workspace

fix: deps updated
  packages/role-houdini/package.json
Labels: role-houdini

fix(console): refine
  apps/console/src/routes/(app)/memberships/+page.gql
  apps/console/src/routes/(app)/memberships/components/search-members-result.svelte
  apps/console/src/routes/(app)/memberships/mutations.ts
  nhost/metadata/databases/default/tables/public_memberships.yaml
Labels: console, hasura

fix(nhost): adding invitations table
  apps/console/src/routes/(app)/memberships/+page.gql
  apps/console/src/routes/(app)/memberships/components/add-members-form.svelte
  apps/console/src/routes/(app)/memberships/components/filter.svelte
  apps/console/src/routes/(app)/memberships/components/invites.svelte
  apps/console/src/routes/(app)/memberships/components/members.svelte
  apps/console/src/routes/(app)/memberships/mutations.ts
  nhost/metadata/databases/default/tables/public_invitations.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1735510979748_create_table_public_invitations/down.sql
  nhost/migrations/default/1735510979748_create_table_public_invitations/up.sql
Labels: console, hasura

fix(nhost): adding invitations table
  apps/console/schema.graphql
Labels: console

fix(nhost): adding invitations table
  apps/console/houdini.config.js
  apps/console/schema.graphql
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/members/+page.gql
  apps/console/src/routes/(app)/members/+page.svelte
  apps/console/src/routes/(app)/members/components/filter.svelte
  apps/console/src/routes/(app)/members/components/invitations.svelte
  apps/console/src/routes/(app)/members/components/invite-members-form.svelte
  apps/console/src/routes/(app)/members/components/members.svelte
  apps/console/src/routes/(app)/members/mutations.ts
  apps/console/src/routes/(app)/members1/+page.svelte
  apps/console/src/routes/(app)/members1/MemberForm.svelte
  apps/console/src/routes/(app)/memberships/+page.gql
  apps/console/src/routes/(app)/memberships/components/add-members-form.svelte
  apps/console/src/routes/(app)/memberships/components/invites.svelte
  apps/console/src/routes/(app)/memberships/components/members.svelte
  apps/console/src/routes/(app)/policies/+page.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  nhost/metadata/databases/default/tables/public_organizations.yaml
Labels: console, hasura

fix(nhost): adding invitations table
  apps/console/src/routes/(app)/billing/+page.svelte
  apps/console/src/routes/(app)/invoices/+page.svelte
Labels: console

fix(nhost): adding invitations table
  apps/console/src/routes/(app)/members/+page.gql
  apps/console/src/routes/(app)/members/+page.svelte
Labels: console

feat:added settings
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/(app)/settings/components/default-settings.svelte
  apps/console/src/routes/(app)/settings/components/setting-keys.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
Labels: console

feat:added fragments to settings
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/(app)/settings/components/default-settings.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
Labels: console

fix(nhost): adding invitations table
  apps/console/src/routes/(app)/members/components/filter.svelte
  apps/console/src/routes/(app)/members/components/invitations.svelte
  apps/console/src/routes/(app)/members/components/members.svelte
Labels: console

fix:fixed format
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/(app)/settings/components/default-settings.svelte
  apps/console/src/routes/(app)/settings/components/setting-keys.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
Labels: console

fix(nhost): refactor settings schema
  apps/console/schema.graphql
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/(app)/settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
  docs/hasura.md
  nhost/metadata/databases/default/functions/functions.yaml
  nhost/metadata/databases/default/functions/public_org_settings_with_defaults.yaml
  nhost/metadata/databases/default/functions/public_settings_with_defaults.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/metadata/databases/default/tables/public_settings.yaml
  nhost/metadata/databases/default/tables/public_settings_metadata.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1735511040501_create_table_public_setting_keys/down.sql
  nhost/migrations/default/1735511040501_create_table_public_settings_metadata/down.sql
  nhost/migrations/default/1735511040501_create_table_public_settings_metadata/up.sql
  nhost/migrations/default/1735511095098_create_table_public_org_settings/down.sql
  nhost/migrations/default/1735511095098_create_table_public_org_settings/up.sql
  nhost/migrations/default/1735511095098_create_table_public_settings/down.sql
  nhost/migrations/default/1735511095098_create_table_public_settings/up.sql
  nhost/seeds/default/007_org_settings.sql
  nhost/tests/auth.http
  nhost/tests/devices.http
  nhost/tests/policies.http
  nhost/tests/pools.http
  nhost/tests/rules.http
  nhost/tests/settings.http
Labels: console, documentation, hasura

fix(nhost): refactor settings schema
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/(app)/settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
  nhost/tests/settings.http
Labels: console, hasura

fix(nhost): refactor settings schema
  apps/console/schema.graphql
  apps/console/src/routes/(app)/settings/+page.gql
  apps/console/src/routes/(app)/settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/settings/components/settings-with-defaults.svelte
  nhost/metadata/databases/default/tables/public_settings.yaml
  nhost/metadata/databases/default/tables/public_settings_metadata.yaml
  nhost/tests/settings.http
Labels: console, hasura

fix(nhost): refactor settings schema
  apps/console/schema.graphql
  apps/console/src/routes/(app)/settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
  nhost/metadata/databases/default/functions/functions.yaml
  nhost/metadata/databases/default/functions/public_settings_with_defaults.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/metadata/databases/default/tables/public_settings_with_defaults.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1735511095098_create_table_public_settings/down.sql
  nhost/migrations/default/1735511095098_create_table_public_settings/up.sql
Labels: console, hasura

fix(nhost): refactor settings schema
  apps/console/schema.graphql
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/(app)/settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/settings/components/settings.svelte
Labels: console

fix: using nhost initWithSession method that help removing xstate npm dependency
  apps/console/package.json
  apps/console/src/lib/server/hooks/auth.ts
  apps/console/src/lib/server/hooks/guard.ts
  apps/console/src/lib/server/hooks/tenant.ts
  docs/awesome-sveltekit.md
  nhost/nhost.toml
  package.json
  pnpm-lock.yaml
Labels: console, documentation, hasura, workspace

chore: deps updated
  README.md
  apps/console/package.json
  apps/console/src/routes/(app)/organization/+page.svelte
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/src/routes/examples/members/+page.svelte
  apps/smart/src/routes/examples/members/AddMemberDialog.svelte
  apps/smart/src/routes/examples/members/MemberList.svelte
  apps/web/package.json
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/skeleton-ui/src/components/form/input-pairs.svelte
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, documentation, workspace

fix(console): move user/org settings url paths
  .vscode/settings.json
  apps/console/src/lib/components/layout/avatar.svelte
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/org-settings/+page.gql
  apps/console/src/routes/(app)/org-settings/+page.svelte
  apps/console/src/routes/(app)/org-settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/org-settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/org-settings/components/settings.svelte
  apps/console/src/routes/(app)/user-settings/+page.svelte
  apps/console/src/routes/(app)/user-settings/components/feature-flags.svelte
Labels: console

fix(console): move user/org settings url paths
  .vscode/settings.json
Labels: none

fix: opt-in root clean task for turborepo
  turbo.json
Labels: workspace

fix(console): using signin security key with user handle
  apps/console/src/lib/components/layout/avatar.svelte
  apps/console/src/lib/flags.ts
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
  apps/console/src/routes/+layout.svelte
Labels: console

fix(nhost): refactor settings schema
  docs/images/notifications.webp
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_org_settings.yaml
  nhost/metadata/databases/default/tables/public_org_settings_with_defaults.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
  nhost/metadata/databases/default/tables/public_setting_type.yaml
  nhost/metadata/databases/default/tables/public_settings_metadata.yaml
  nhost/metadata/databases/default/tables/public_user_settings.yaml
  nhost/metadata/databases/default/tables/public_user_settings_with_defaults.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1735511040501_create_table_public_setting_type_enum/down.sql
  nhost/migrations/default/1735511040501_create_table_public_setting_type_enum/up.sql
  nhost/migrations/default/1735511040501_create_table_public_settings_metadata/up.sql
  nhost/migrations/default/1735511040502_create_table_public_settings_metadata/down.sql
  nhost/migrations/default/1735511040502_create_table_public_settings_metadata/up.sql
  nhost/migrations/default/1735511095098_create_table_public_org_settings/down.sql
  nhost/migrations/default/1735511095098_create_table_public_org_settings/up.sql
  nhost/migrations/default/1735511095098_create_table_public_settings/down.sql
  nhost/migrations/default/1735511095098_create_table_public_settings/up.sql
  nhost/migrations/default/1735511095099_create_table_public_user_settings/down.sql
  nhost/migrations/default/1735511095099_create_table_public_user_settings/up.sql
  nhost/migrations/default/1735511401062_create_trigger_auto_enroll_new_users/up.sql
  nhost/migrations/default/1735511651698_create_table_public_plan_enum/up.sql
  nhost/migrations/default/1735511682267_create_table_public_status_enum/up.sql
  nhost/seeds/default/007_org_settings.sql
  nhost/seeds/default/008_user_settings.sql
Labels: documentation, hasura

fix(console): using signin security key with user handle
  apps/console/schema.graphql
  apps/console/src/routes/(app)/org-settings/+page.gql
  nhost/tests/settings.http
Labels: console, hasura

feat(console): added user settings ui
  apps/console/schema.graphql
  apps/console/src/routes/(app)/org-settings/+page.gql
  apps/console/src/routes/(app)/org-settings/+page.svelte
  apps/console/src/routes/(app)/org-settings/components/settings.svelte
  apps/console/src/routes/(app)/user-settings/+page.gql
  apps/console/src/routes/(app)/user-settings/+page.svelte
  apps/console/src/routes/(app)/user-settings/components/feature-flags.svelte
  apps/console/src/routes/(app)/user-settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/user-settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/user-settings/components/settings.svelte
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_settings_metadata.yaml
  nhost/metadata/databases/default/tables/public_user_settings_with_defaults.yaml
  nhost/tests/settings.http
Labels: console, hasura

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
