Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: app, home, playground, documentation, test, api, users, groups, workspace

fix: svelte-heros-v2 lib updated [skip ci]
  apps/web/src/lib/blocks/side/SideMenu.svelte
  apps/web/tailwind.config.cjs
  compose.yml
  docs/awesome-sveltekit.md
  packages/tailwind-config/tailwind.config.ts
Labels: documentation

feat: remove dependency on daisyui
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  .gitignore
  CONTRIBUTION.md
  apps/basic/package.json
  apps/basic/pnpm-lock.yaml
  apps/docs/package.json
  apps/docs/pnpm-lock.yaml
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/app.pcss
  apps/web/src/lib/components/form/RadioDU.svelte
  apps/web/src/lib/components/form/RadioFB.svelte
  apps/web/src/lib/components/form/ToggleDU.svelte
  apps/web/src/lib/components/form/ToggleFB.svelte
  apps/web/src/lib/components/form/index.ts
  apps/web/src/mocks/README.md
  apps/web/src/mocks/browser.ts
  apps/web/src/routes/(app)/dashboard/policies/[id]/+page.svelte
  apps/web/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/web/src/routes/(app)/dashboard/rules/[id]/+page.svelte
  apps/web/src/routes/(app)/dashboard/rules/create/+page.svelte
  apps/web/tailwind.config.cjs
  apps/web/tailwind.config.ts
  docs/awesome-sveltekit.md
  docs/awesome-tailwind.md
  docs/playbook.md
  docs/wip.md
  package.json
  packages/eslint-config-custom/pnpm-lock.yaml
  packages/tailwind-config/package.json
  packages/tailwind-config/pnpm-lock.yaml
  packages/tailwind-config/tailwind.config.ts
  packages/ui/tailwind.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: documentation, workspace

fix: add ui-flowbite module
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/tailwind.config.ts
  docs/awesome-sveltekit.md
  package.json
  packages/ui-flowbite/.eslintrc.cjs
  packages/ui-flowbite/package.json
  packages/ui-flowbite/pnpm-lock.yaml
  packages/ui-flowbite/postcss.config.cjs
  packages/ui-flowbite/src/components/MyCounterButton.svelte
  packages/ui-flowbite/src/index.ts
  packages/ui-flowbite/tailwind.config.ts
  packages/ui-flowbite/tsconfig.json
Labels: documentation, workspace

fix: switch to flowbite-svelte-icons
  .vscode/settings.json
  apps/basic/package.json
  apps/basic/pnpm-lock.yaml
  apps/docs/package.json
  apps/docs/pnpm-lock.yaml
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  apps/web/src/lib/blocks/dashboard/Header.svelte
  apps/web/src/lib/blocks/side/SideMenu.svelte
  apps/web/src/lib/blocks/stats/Stats.svelte
  apps/web/src/lib/components/DeleteButton.svelte
  apps/web/src/lib/components/DeleteButton2.svelte
  apps/web/src/lib/components/form/DeleteForm.svelte
  apps/web/src/lib/components/form/Form.svelte
  apps/web/src/lib/components/table/DataTable.svelte
  apps/web/src/lib/components/toast/Toasts.svelte
  apps/web/src/routes/(app)/dashboard/+layout.svelte
  apps/web/src/routes/(app)/dashboard/devices/+page.svelte
  apps/web/src/routes/(app)/dashboard/policies/+page.svelte
  apps/web/src/routes/(app)/dashboard/policies/[id]/+page.svelte
  apps/web/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/web/src/routes/(app)/dashboard/pools/+page.svelte
  apps/web/src/routes/(app)/dashboard/pools/[id]/+page.svelte
  apps/web/src/routes/(app)/dashboard/pools/[id]/AddDevicePoolButton.svelte
  apps/web/src/routes/(app)/dashboard/pools/[id]/RemoveDevicePoolButton.svelte
  apps/web/src/routes/(app)/dashboard/rules/+page.svelte
  apps/web/src/routes/(app)/dashboard/rules/houdini/+page.svelte
  apps/web/src/routes/(app)/dashboard/tenants/+page.svelte
  apps/web/src/routes/(app)/dashboard/users/+page.svelte
  apps/web/tailwind.config.ts
  apps/web/turbo.json
  apps/web/turbo.json5
  docs/awesome-sveltekit.md
  package.json
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/pnpm-lock.yaml
  packages/tailwind-config/pnpm-lock.yaml
  packages/ui-flowbite/pnpm-lock.yaml
  packages/ui/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: documentation, workspace

fix: add view-transition css for layout
  .eslintrc.cjs
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .vscode/extensions.json
  apps/web/src/app.pcss
  apps/web/src/lib/models/types/accounts.ts
  apps/web/src/lib/models/types/auth.ts
  apps/web/src/routes/(app)/dashboard/+layout.svelte
  docs/awesome-sveltekit.md
  docs/playbook.md
  docs/wip.md
  packages/assets/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  tsconfig.base.json
  turbo.json
  vitest.config.ts
Labels: documentation, workspace

fix: add view-transition css for layout
  packages/eslint-config-custom/package.json
Labels: none

fix: deps updated [skip ci]
  apps/basic/package.json
  apps/basic/pnpm-lock.yaml
  apps/docs/pnpm-lock.yaml
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  package.json
  packages/eslint-config-custom/package.json
  packages/eslint-config-custom/pnpm-lock.yaml
  packages/tailwind-config/package.json
  packages/tailwind-config/pnpm-lock.yaml
  packages/ui-flowbite/pnpm-lock.yaml
  packages/ui/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: workspace

fix: workspace update [skip ci]
  .changeset/README.md
  .changeset/config.json
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull-request-template.md
  .github/pull_request_template.md
  .vscode/settings.json
  LICENSE
  README.md
  docs/awesome-sveltekit.md
  docs/playbook.md
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: documentation, workspace

style: fix lint [skip ci]
  apps/docs/package.json
  apps/playground/src/app.postcss
  apps/playground/src/theme.postcss
  packages/helpers/README.md
  packages/helpers/package.json
  packages/tailwind-config/package.json
  packages/ui/package.json
Labels: documentation

style: fix lint [skip ci]
  .prettierignore
Labels: none

style: fix add vercel/analytics [skip ci]
  apps/docs/package.json
  apps/docs/pnpm-lock.yaml
  apps/playground/package.json
  apps/playground/pnpm-lock.yaml
  apps/playground/src/routes/+layout.svelte
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  docs/playbook.md
Labels: documentation

style: fix add vercel/analytics [skip ci]
  .vscode/settings.json
  apps/playground/src/routes/+layout.svelte
Labels: none

fix(seo): add SEO svelte-meta-tags [skip ci]
  apps/playground/src/routes/(play)/utilities/movies/+page.svelte
  apps/playground/src/routes/(play)/utilities/picture/+page.svelte
  apps/playground/src/routes/(play)/utilities/scroll/+page.svelte
  apps/playground/src/routes/+layout.svelte
Labels: none

fix: playbook updated [skip ci]
  .npmrc
  docs/playbook.md
Labels: documentation

fix: update deps [skip ci]
  .gitignore
  apps/playground/package.json
  apps/playground/pnpm-lock.yaml
  apps/web/pnpm-lock.yaml
  packages/eslint-config-custom/pnpm-lock.yaml
  packages/tailwind-config/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

fix: add formsnap [skip ci]
  .changeset/config.json
  .github/ISSUE_TEMPLATE/docs_issue.yml
  .github/pull_request_template.md
  apps/playground/package.json
  apps/playground/pnpm-lock.yaml
  apps/playground/src/lib/links.ts
  apps/playground/src/routes/(play)/utilities/settings/+page.server.ts
  apps/playground/src/routes/(play)/utilities/settings/+page.svelte
  apps/playground/src/routes/(play)/utilities/settings/schema.ts
  docs/playbook.md
Labels: documentation, workspace

fix: add transitions [skip ci]
  apps/playground/src/lib/links.ts
  apps/playground/src/routes/(play)/utilities/transitions/+layout.js
  apps/playground/src/routes/(play)/utilities/transitions/+layout.svelte
  apps/playground/src/routes/(play)/utilities/transitions/+page.svelte
  apps/playground/src/routes/(play)/utilities/transitions/+page.ts
  apps/playground/src/routes/(play)/utilities/transitions/README.md
  apps/playground/src/routes/(play)/utilities/transitions/TransitionableImage.svelte
  apps/playground/src/routes/(play)/utilities/transitions/[id]/+page.svelte
  apps/playground/src/routes/(play)/utilities/transitions/crossfade.ts
  apps/playground/src/routes/(play)/utilities/transitions/styles.css
Labels: documentation

fix: add offline [skip ci]
  apps/offline/.eslintignore
  apps/offline/.eslintrc.cjs
  apps/offline/.gitignore
  apps/offline/.npmrc
  apps/offline/.prettierignore
  apps/offline/.prettierrc
  apps/offline/.vscode/settings.json
  apps/offline/README.md
  apps/offline/TODO1.md
  apps/offline/package.json
  apps/offline/playwright.config.ts
  apps/offline/postcss.config.cjs
  apps/offline/src/app.d.ts
  apps/offline/src/app.html
  apps/offline/src/app.postcss
  apps/offline/src/index.test.ts
  apps/offline/src/lib/index.ts
  apps/offline/src/routes/+layout.svelte
  apps/offline/src/routes/+page.svelte
  apps/offline/src/sumo.ts
  apps/offline/static/favicon.png
  apps/offline/static/fonts/AbrilFatface.ttf
  apps/offline/static/fonts/PlayfairDisplay-Italic.ttf
  apps/offline/static/fonts/Quicksand.ttf
  apps/offline/static/fonts/SpaceGrotesk.ttf
  apps/offline/svelte.config.js
  apps/offline/tailwind.config.ts
  apps/offline/tests/test.ts
  apps/offline/tsconfig.json
  apps/offline/vite.config.ts
Labels: documentation

fix: Update node version
  package.json
Labels: workspace

fix(playground): desable prerender crawl
  apps/docs/package.json
  apps/docs/pnpm-lock.yaml
  apps/offline/package.json
  apps/offline/pnpm-lock.yaml
  apps/playground/package.json
  apps/playground/pnpm-lock.yaml
  apps/playground/svelte.config.js
  apps/web/package.json
  apps/web/pnpm-lock.yaml
  docs/turbo.md
  package.json
  packages/eslint-config-custom/pnpm-lock.yaml
  packages/helpers/package.json
  packages/helpers/pnpm-lock.yaml
  packages/tailwind-config/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: documentation, workspace

.github/labeler.yml:

app:
  - src/routes/(app)/**/*
  - change-notes/**/*app*
home:
  - src/routes/(home)/**/*
  - change-notes/**/*home*
playground:
  - src/routes/(play)/**/*
  - change-notes/**/*playground*
documentation:
  - '**/*.md'
  - docs/**/*
test:
  - tests/**/*
  - change-notes/**/*tests*
api:
  - src/routes/api/**/*
  - change-notes/**/*api*
users:
  - src/routes/dashboard/users/**/*
  - change-notes/**/*users*
groups:
  - src/routes/dashboard/groups/**/*
  - change-notes/**/*groups*
workspace:
  - .github/**/*
  - Dockerfile*.*
  - package.json
