Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json

feat(console): adding sveltekit-view-transition
  apps/console/src/lib/components/layout/flash-message-toast.svelte
  apps/console/src/routes/+layout.svelte
Labels: none

feat(console): adding loading indicators spinner and bar
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/components/layout/loading-indicator-bar.svelte
  apps/console/src/lib/components/layout/loading-indicator-spinner.svelte
  apps/console/src/routes/[[lang=lang]]/auth/sign-up/+page.server.ts
Labels: none

feat(console): adding loading indicators spinner and bar
  .github/pull_request_template.md
  apps/docs/README.md
  nhost/nhost.toml
Labels: docs, documentation, workspace

feat(console): adding Rate Limiter middleware
  README.md
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/.env.example
  apps/console/package.json
  apps/console/project.inlang/project_id
  apps/console/src/lib/server/limiter/limiter.ts
  apps/console/src/lib/server/middleware/links.ts
  apps/console/src/lib/server/middleware/rate-limiter.ts
  apps/console/src/routes/[[lang=lang]]/auth/sign-up/+page.server.ts
  apps/docs/README.md
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  docs/nhost.md
  nhost/nhost.toml
  nhost/overlays/bggkthwysdvphygfecpa.json
  package.json
  packages/skeleton-ui/components/form/text-field.svelte
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

fix(console-fb): add AUTH_REDIRECT_PROXY_URL
  apps/console-fb/.env.example
  apps/console-fb/package.json
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/variables/variables.server.ts
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  apps/web/src/components/AppFooter.astro
  apps/web/src/components/AppHeader.astro
  apps/web/src/components/Blog.astro
  apps/web/src/components/CallToAction.astro
  apps/web/src/components/Features.astro
  apps/web/src/components/HeroSection.astro
  apps/web/src/components/Stats.astro
  apps/web/src/components/Testimonials.astro
  docs/turborepo.md
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/playground/package.json
  apps/web/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, playground, ui

chore: update deps
  apps/console-fb/.env.example
  apps/console-fb/.secrets.example
  apps/console-fb/houdini.config.js
  apps/console-fb/package.json
  apps/console-fb/src/app.d.ts
  apps/console-fb/src/lib/components/form/DeleteForm.svelte
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/server/middleware/guard.ts
  apps/console-fb/src/lib/server/middleware/houdini.old.ts
  apps/console-fb/src/lib/server/middleware/houdini.ts
  apps/console-fb/src/routes/(app)/dashboard/+layout.server.ts
  apps/console-fb/src/routes/(app)/dashboard/devices/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/pools/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/reports/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/[id]/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/create/+page.server.ts
  apps/console-fb/src/routes/(app)/dashboard/rules/houdini/+page.server.ts
  apps/console-fb/src/routes/(play)/play/hyperui/+page.svelte
  nhost/nhost.toml
Labels: none

fix(console): login refine
  apps/console/README.md
  apps/console/src/hooks.ts.bak
  apps/console/src/lib/components/layout/avatar.svelte
  apps/console/src/lib/components/layout/drawer.svelte
  apps/console/src/lib/components/layout/footer.svelte
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/components/preview.svelte
  apps/console/src/lib/links.ts
  apps/console/src/lib/schema/user.ts
  apps/console/src/lib/server/middleware/guard.ts
  apps/console/src/lib/server/middleware/rate-limiter.ts
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/[[lang=lang]]/(app)/dashboard/settings/+page.svelte
  apps/console/src/routes/[[lang=lang]]/auth/+layout.svelte
  apps/console/src/routes/[[lang=lang]]/auth/login/+page.server.ts
  apps/console/src/routes/[[lang=lang]]/auth/login/+page@.svelte
  apps/console/src/routes/[[lang=lang]]/auth/sign-in/+page.server.ts
  apps/console/src/routes/[[lang=lang]]/auth/sign-in/+page.svelte
  apps/console/src/routes/[[lang=lang]]/auth/signin/+page.server.ts
  apps/console/src/routes/[[lang=lang]]/auth/signin/+page.svelte
  apps/console/src/routes/[[lang=lang]]/auth/signout/+page.server.ts
  apps/console/src/routes/[[lang=lang]]/auth/signup/+page.server.ts
  apps/console/src/routes/[[lang=lang]]/auth/signup/+page.svelte
  apps/playground/src/lib/components/layout/drawer.svelte
  apps/playground/src/lib/components/layout/footer.svelte
  apps/playground/src/lib/components/layout/page.svelte
  apps/playground/src/lib/components/layout/particles.svelte
  apps/playground/src/lib/components/layout/sidebar.svelte
  nhost/metadata/remote_schemas.yaml
  packages/skeleton-ui/components/Debug.svelte
  packages/skeleton-ui/components/debug-shell.svelte
  packages/skeleton-ui/components/debug.svelte
  packages/skeleton-ui/components/icons/icon.svelte
  packages/skeleton-ui/components/icons/icons.ts
  packages/skeleton-ui/components/index.ts
Labels: playground, documentation

fix(console): add houdinigraphql
  apps/console/.eslintignore
  apps/console/.graphqlrc.yaml
  apps/console/houdini.config.js
  apps/console/package.json
  apps/console/project.inlang/en.json
  apps/console/schema.graphql
  apps/console/src/app.d.ts
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/[[lang=lang]]/auth/signup/+page.server.ts
  apps/console/src/routes/[[lang=lang]]/auth/signup/+page.svelte
  apps/console/svelte.config.js
  apps/console/tsconfig.json
  apps/console/vite.config.ts
  docs/playbook.md
  nhost/nhost.toml
  pnpm-lock.yaml
Labels: documentation

fix(console): use i18n.resolveRoute for all server-side redirect)
  apps/console/src/hooks.server.ts
  apps/console/src/lib/server/middleware/auth.ts
  apps/console/src/lib/server/middleware/guard.ts
  apps/console/src/lib/server/middleware/rate-limiter.ts
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/auth/signin/+page.server.ts
  apps/console/src/routes/auth/signout/+page.server.ts
  apps/console/src/routes/auth/signup/+page.server.ts
Labels: none

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/playground/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: playground, ui, workspace

fix(console): add details for App.Error
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console/package.json
  apps/console/src/app.d.ts
  apps/console/src/hooks.client.ts
  apps/console/src/hooks.server.ts
  apps/console/src/lib/server/middleware/guard.ts
  apps/console/src/routes/+error.svelte
  apps/console/svelte.config.js
  pnpm-lock.yaml
Labels: none

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  docs/playbook.md
  package.json
  packages/prettier-config/all.js
  packages/prettier-config/node.js
  packages/prettier-config/package.json
  packages/prettier-config/svelte.js
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, playground, ui, documentation, workspace

style: sort keys in package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/nhapp/package.json
  packages/eslint-config/package.json
  packages/prettier-config/all.js
  packages/prettier-config/package.json
  packages/ui/package.json
  packages/utils/package.json
Labels: ui

fix: add go-to-top button
  apps/console-fb/package.json
  apps/console/src/lib/components/layout/go-to-top.svelte
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/schema/user.ts
  apps/console/src/lib/stores/index.ts
  apps/console/src/lib/stores/stores.ts
  apps/console/src/routes/+layout.svelte
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/src/lib/components/layout/app-bar.svelte
  apps/playground/src/lib/stores/index.ts
  apps/playground/src/routes/(auth)/sign-out/+page.server.ts
  apps/playground/src/routes/+layout.svelte
  apps/web/package.json
  packages/skeleton-ui/package.json
Labels: web, docs, playground

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

feat: adding Kustomize config
  apps/console-fb/src/routes/(app)/dashboard/+layout.svelte
  config/HINTS.md
  config/README.md
  config/base/hasura/deployment.yaml
  config/base/hasura/ingress.yaml
  config/base/hasura/kustomization.yaml
  config/base/hasura/service.yaml
  config/base/kconfig.yaml
  config/base/kustomization.yaml
  config/base/postgres/deployment.yaml
  config/base/postgres/initdb.sql
  config/base/postgres/kustomization.yaml
  config/base/postgres/replacement.yaml
  config/base/postgres/service.yaml
  config/base/secrets/.dockerconfigjson
  config/base/secrets/.dockerconfigjson.example
  config/base/secrets/kustomization.yaml
  config/components/console/deployment-patch.yaml
  config/components/console/kustomization.yaml
  config/components/postgres/deployment-patch.yaml
  config/components/postgres/kustomization.yaml
  config/overlays/default/kustomization.yaml
  config/overlays/default/namespace.yaml
  config/overlays/prod/kustomization.yaml
  config/overlays/prod/namespace.yaml
Labels: documentation

fix: update @inlang/paraglide-js-adapter-sveltekit and apply changes
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/console/src/app.d.ts
  apps/console/src/app.html
  apps/console/src/lib/components/layout/go-to-top.svelte
  apps/console/src/lib/components/layout/loading-indicator-bar.svelte
  apps/console/src/lib/i18n.ts
  apps/console/src/lib/server/middleware/auth.ts
  apps/console/src/lib/server/middleware/index.ts
  apps/console/src/lib/server/middleware/lang.ts
  apps/console/src/lib/server/middleware/lang0.ts
  apps/console/src/routes/+layout.server.ts
  apps/console/src/routes/auth/signin/+page.server.ts
  apps/console/src/routes/auth/signout/+page.server.ts
  apps/console/src/routes/auth/signup/+page.server.ts
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, workspace

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/console/src/app.d.ts
  apps/console/src/lib/i18n.ts
  apps/docs/package.json
  apps/nhapp/package.json
  apps/playground/package.json
  apps/web/package.json
  docs/conductor.md
  docs/turborepo.md
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: update deps
  apps/console/README.md
Labels: documentation

fix(console-fb): remove preloadStrategy: preload-mjs which fixed https://github.com/sveltejs/kit/issues/11390
  .npmrc
  apps/console-fb/package.json
  apps/console-fb/src/app.html
  apps/console-fb/src/app.pcss
  apps/console-fb/src/lib/components/ReloadPrompt.svelte
  apps/console-fb/src/lib/components/form/RadioFB.svelte
  apps/console-fb/src/routes/(app)/dashboard/+layout.svelte
  apps/console-fb/src/routes/+layout.svelte
  apps/console-fb/static/site.webmanifest
  apps/console-fb/svelte.config.js
  apps/console-fb/vite.config.ts
  apps/console/svelte.config.js
  apps/playground/svelte.config.js
  nhost/nhost.toml
  pnpm-lock.yaml
Labels: playground

refactor(playground): using inlang for i18n
  .eslintignore
  .prettierignore.all
  README.md
  docs/i18n-old.md
  docs/playbook.md
  pnpm-lock.yaml
Labels: documentation

refactor(playground): using inlang for i18n
  apps/playground/package.json
  apps/playground/src/lib/components/layout/Particles.svelte
  apps/playground/src/lib/components/layout/particles.svelte
  pnpm-lock.yaml
Labels: playground

refactor(playground): using inlang for i18n
  apps/playground/package.json
  apps/playground/src/lib/components/layout/particles.svelte
  pnpm-lock.yaml
Labels: playground

fix(console-fb): move missing icons
  apps/console-fb/src/lib/blocks/side/SideMenu.svelte
  apps/console-fb/src/lib/components/toast/Toasts.svelte
Labels: none

fix: adding infra
  .env.example
  .gitignore
  .prettierignore
  .secrets.example
  .secrets.prod
  .vscode/settings.json
  apps/console-fb/src/hooks.server.ts
  apps/console-fb/svelte.config.js
  apps/console/README.md
  apps/console/src/hooks.server.ts
  apps/console/svelte.config.js
  apps/console/vite.config.ts
  compose.yml
  docs/hasura.md
  infra/README.md
  infra/Taskfile.yml
  infra/base/kconfig.yaml
  infra/base/kustomization.yaml
  infra/base/postgres/initdb.d/0001-create-schema.sql
  infra/base/tailcall/.tailcallrc.graphql
  infra/base/tailcall/graphql-composition.graphql
  infra/base/tailcall/jsonplaceholder.graphql
  infra/base/traefik/.htpasswd
  infra/base/traefik/certs/localhost.direct.zip
  infra/base/traefik/dynamic.yml
  infra/base/traefik/traefik.yml
  nhost/metadata/databases/default/tables/graphite_assistants.yaml
  nhost/metadata/databases/default/tables/graphite_auto_embeddings_configuration.yaml
  nhost/metadata/databases/default/tables/graphite_sessions.yaml
  nhost/metadata/databases/default/tables/public_todos.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/metadata/remote_schemas.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/migrations/default/1695806949187_create_table_public_todos/down.sql
  nhost/migrations/default/1695806949187_create_table_public_todos/up.sql
  nhost/nhost.bak.toml
  nhost/seeds/default/0_users.sql
Labels: documentation

fix: adding infra
  apps/console/README.md
  apps/console/package.json
  apps/console/vite.config.ts
Labels: documentation

fix: adding infra
  .secrets.example
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/playground/package.json
  compose.yml
  nhost/metadata/remote_schemas.yaml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: playground, ui, workspace

fix: adding infra
  apps/playground/package.json
Labels: playground

fix(nhost): comment out user_org_groups SQL
  compose.yml
  nhost/migrations/default/1684206403640_init/up.sql
Labels: none

feat: move set_current_timestamp_updated_at back to up.sql file
  infra/base/postgres/initdb.d/0001-create-schema.sql
  nhost/migrations/default/1684206403640_init/up.sql
Labels: none

fix: move user_org_groups to new migration
  .env.example
  apps/console-fb/turbo.json
  apps/console/README.md
  compose.yml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/migrations/default/1707178110553_alter_user_org_groups/down.sql
  nhost/migrations/default/1707178110553_alter_user_org_groups/up.sql
  nhost/nhost.bak.toml
  nhost/nhost.toml
  nhost/overlays/bggkthwysdvphygfecpa.json
  nhost/overlays/local.json
  nhost/seeds/default/0_users.sql
Labels: documentation

fix(nhost): comment out user_org_groups SQL
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/migrations/default/1707178110553_alter_user_org_groups/down.sql
  nhost/migrations/default/1707178110553_alter_user_org_groups/up.sql
Labels: none

fix(nhost): comment out user_org_groups SQL
  .env.example
Labels: none

fix(nhost): remove ai overlay from nhost
  nhost/overlays/bggkthwysdvphygfecpa.json
Labels: none

feat: upgrade hasura version to v2.37.0
  compose.yml
Labels: none

fix(console): using absolute path for form actions in signin route
  apps/console/README.md
  apps/console/src/routes/auth/signin/+page.svelte
  compose.yml
Labels: documentation

fix: updated markuplintrc
  .markuplintrc.cjs
  .vscode/settings.json
  apps/console-fb/package.json
  apps/web/package.json
  package.json
Labels: web, workspace

chore: update deps
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/console/src/routes/auth/signin/+page.svelte
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace
