Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

feat(console): added notifications database schema
  README.md
  docs/hasura.md
  nhost/metadata/databases/default/tables/public_notification_status.yaml
  nhost/metadata/databases/default/tables/public_notification_type.yaml
  nhost/metadata/databases/default/tables/public_notifications.yaml
  nhost/metadata/databases/default/tables/public_user_notifications.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1735511040502_create_table_public_settings_metadata/up.sql
  nhost/migrations/default/1735511651655_create_table_public_notification_type_enum/down.sql
  nhost/migrations/default/1735511651655_create_table_public_notification_type_enum/up.sql
  nhost/migrations/default/1735511651656_create_table_public_notification_status_enum/down.sql
  nhost/migrations/default/1735511651656_create_table_public_notification_status_enum/up.sql
  nhost/migrations/default/1735511651657_create_table_public_notifications/down.sql
  nhost/migrations/default/1735511651657_create_table_public_notifications/up.sql
  nhost/migrations/default/1735511651658_create_table_public_user_notifications/down.sql
  nhost/migrations/default/1735511651658_create_table_public_user_notifications/up.sql
  nhost/migrations/default/1735511705954_create_table_public_subscriptions/up.sql
  nhost/migrations/default/1735511845378_create_table_public_rules/up.sql
  nhost/seeds/default/009_notifications.sql
  nhost/seeds/default/010_user_notifications.sql
Labels: documentation, hasura

feat(console): added notifications database schema
  nhost/metadata/databases/default/tables/public_notifications.yaml
  nhost/metadata/databases/default/tables/public_user_notifications.yaml
  nhost/migrations/default/1735511651657_create_table_public_notifications/up.sql
  nhost/seeds/default/009_notifications.sql
  nhost/seeds/default/010_user_notifications.sql
Labels: hasura

fix(console): update notifications ui
  apps/console/schema.graphql
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/notifications/+page.gql
  apps/console/src/routes/(app)/notifications/+page.svelte
  apps/console/src/routes/(app)/user-notifications/+page.gql
  apps/console/src/routes/(app)/user-notifications/+page.svelte
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_notifications.yaml
  nhost/metadata/databases/default/tables/public_organizations.yaml
Labels: console, hasura

fix(console): add member ui w.i.p
  apps/console/src/lib/schema/member.ts
  apps/console/src/lib/types/index.ts
  apps/console/src/routes/(app)/members/components/invitations.svelte
  apps/console/src/routes/(app)/members/components/invite-members-form.svelte
  apps/console/src/routes/(app)/members/components/members.svelte
  apps/console/src/routes/(app)/members/mutations.ts
Labels: console

feat: added crud for groups
  apps/console/src/lib/api/search-subjects.ts
  apps/console/src/lib/graphql/QUERY.SearchGroups.gql
  apps/console/src/lib/schema/group.ts
  apps/console/src/routes/(app)/groups/+page.gql
  apps/console/src/routes/(app)/groups/+page.svelte
  apps/console/src/routes/(app)/groups/+page.ts
  apps/console/src/routes/(app)/groups/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/groups/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/groups/components/search-groups-form.svelte
  apps/console/src/routes/(app)/groups/components/search-groups-result.svelte
  apps/console/src/routes/(app)/groups/create/+page.svelte
  apps/console/src/routes/(app)/groups/mutations.ts
Labels: console

fix: fixed format
  apps/console/src/routes/(app)/groups/+page.gql
  apps/console/src/routes/(app)/groups/components/search-groups-result.svelte
Labels: console

fix: biome useSortedClasses
  docs/ai-swarm.md
  packages/biome-config/root.jsonc
  packages/biome-config/svelte-library.jsonc
  packages/biome-config/svelte.jsonc
Labels: biome-config, documentation

fix(console): refine
  apps/console/src/lib/api/search-subjects.ts
  apps/console/src/routes/(app)/groups/+page.gql
  apps/console/src/routes/(app)/groups/+page.svelte
  apps/console/src/routes/(app)/groups/+page.ts
  apps/console/src/routes/(app)/groups/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/groups/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/groups/components/search-groups-result.svelte
  apps/console/src/routes/(app)/groups/create/+page.svelte
  apps/console/src/routes/(app)/groups/mutations.ts
  apps/console/src/routes/(app)/organizations/+page.svelte
  apps/console/src/routes/(app)/organizations/+page.ts
  apps/console/src/routes/(app)/organizations/components/search-organizations-result.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  packages/biome-config/svelte-library.jsonc
Labels: console, biome-config

fix(console): refine
  apps/console/src/routes/(app)/groups/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/members/components/invite-members-form.svelte
  apps/console/src/routes/(app)/members/mutations.ts
Labels: console

feat: added user details and user groups
  apps/console/package.json
  apps/console/src/lib/graphql/QUERY.GetUserById.gql
  apps/console/src/lib/schema/delegation.ts
  apps/console/src/routes/(app)/users/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/users/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/addgroups.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/mutations.ts
Labels: console

fix: fixed text
  apps/console/src/routes/(app)/users/[id=uuid]/components/addgroups.svelte
Labels: console

docs: updated docs
  .cursorrules
  docs/awesome-ai.md
Labels: documentation

style: format
  .editorconfig
Labels: none

fix(console): refine
  .vscode/settings.json
  apps/console/package.json
  apps/console/src/lib/graphql/MUTATION.UpdateDefaultOrg.gql
  apps/console/src/lib/graphql/QUERY.GetUserById.gql
  apps/console/src/lib/graphql/QUERY.GetUsers.gql
  apps/console/src/lib/graphql/QUERY.SearchSecurityKeys.gql
  apps/console/src/lib/schema/user.ts
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/routes/(app)/organizations/+page.svelte
  apps/console/src/routes/(app)/profile/components/connect-socials.svelte
  apps/console/src/routes/(app)/profile/components/personal-access-tokens.svelte
  apps/console/src/routes/(app)/profile/components/security-key.svelte
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  apps/console/src/routes/(app)/profile/mutations.ts
  apps/console/src/routes/(app)/users/+page.gql
  apps/console/src/routes/(app)/users/+page.svelte
  apps/console/src/routes/(app)/users/+page.ts
  apps/console/src/routes/(app)/users/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/users/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/mutations.ts
  apps/console/src/routes/(app)/users/components/search-users-form.svelte
  apps/console/src/routes/(app)/users/components/search-users-result.svelte
  apps/console/src/routes/(app)/users/mutations.ts
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_groups.yaml
  nhost/metadata/databases/default/tables/public_user_groups.yaml
  package.json
  pnpm-lock.yaml
Labels: console, hasura, workspace

fix(console): using metadata for user profile
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
  nhost/metadata/databases/default/tables/public_groups.yaml
  nhost/metadata/databases/default/tables/public_user_groups.yaml
Labels: console, hasura

fix(console): using metadata for user profile
  apps/console/schema.graphql
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte.bak
  nhost/metadata/databases/default/tables/auth_users.yaml
Labels: console, hasura

fix(console): using metadata for user profile
  apps/console/houdini.config.js
  apps/console/src/routes/(app)/users/[id=uuid]/+page.gql
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/mutations.ts
  nhost/metadata/databases/default/tables/public_user_groups.yaml
Labels: console, hasura

fix(console): using metadata for user profile
  apps/console/src/routes/(app)/members/components/members.svelte
  nhost/metadata/databases/default/tables/public_user_groups.yaml
Labels: console, hasura

fix(console): using metadata for user profile
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
Labels: console

fix(console): using metadata for user profile
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
Labels: console

fix(console): adding sys-admin org, role etc
  nhost/seeds/default/001_users.sql
  nhost/seeds/default/002_user_roles.sql
  nhost/seeds/default/003_organizations.sql
  nhost/seeds/default/004_memberships.sql
Labels: hasura

fix(nhost): let invites to accept or reject the invitation
  nhost/metadata/databases/default/tables/public_invitations.yaml
  nhost/migrations/default/1735510636849_create_table_public_status_enum/down.sql
  nhost/migrations/default/1735510636849_create_table_public_status_enum/up.sql
  nhost/migrations/default/1735510979748_create_table_public_invitations/up.sql
  nhost/migrations/default/1735511623565_create_table_public_user_groups/up.sql
  nhost/migrations/default/1735511940726_create_table_public_device_pools/up.sql
Labels: hasura

fix(nhost): let invites to accept or reject the invitation
  apps/console/houdini.config.js
  apps/console/schema.graphql
  apps/console/src/routes/(app)/members/components/members.svelte
  apps/console/src/routes/(app)/members1/+page.svelte
  apps/console/src/routes/(app)/profile/+page.gql
  apps/console/src/routes/(app)/profile/+page.svelte
  apps/console/src/routes/(app)/profile/components/filter.svelte
  apps/console/src/routes/(app)/profile/components/invitations.svelte
  apps/console/src/routes/(app)/profile/mutations.ts
  docs/awesome-ai.md
  nhost/metadata/databases/default/tables/auth_users.yaml
  nhost/metadata/databases/default/tables/public_invitations.yaml
Labels: console, documentation, hasura

feat(console): user now can accept/reject invitations and leave membership
  apps/console/src/routes/(app)/members/+page.svelte
  apps/console/src/routes/(app)/profile/+page.svelte
  apps/console/src/routes/(app)/profile/components/filter.svelte
  apps/console/src/routes/(app)/profile/components/invitations.svelte
  apps/console/src/routes/(app)/profile/components/memberships.svelte
  apps/console/src/routes/(app)/profile/components/user-details.svelte
  apps/console/src/routes/(app)/profile/mutations.ts
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
  nhost/metadata/databases/default/tables/public_memberships.yaml
  nhost/migrations/default/1735510979748_create_table_public_invitations/up.sql
  nhost/seeds/default/015_invitations.sql
Labels: console, hasura

fix(console): handle decline invitation
  apps/console/src/routes/(app)/profile/components/invitations.svelte
  apps/console/src/routes/(app)/profile/components/memberships.svelte
  nhost/migrations/default/1735510979748_create_table_public_invitations/up.sql
Labels: console, hasura

build: deps updated
  apps/console/package.json
  apps/console/src/routes/(app)/profile/components/invitations.svelte
  apps/console/src/routes/(app)/profile/components/memberships.svelte
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/styles/global.css
  apps/docs/src/styles/tailwind.css
  apps/smart/package.json
  apps/web/astro.config.mjs
  apps/web/package.json
  apps/web/src/components/app-header.astro
  apps/web/src/layouts/layout.astro
  apps/web/src/styles/global.css
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, workspace

fix: trying to add o3-mini , sorry not avaiable for tire 1 yet
  apps/console/src/hooks.client.ts
  apps/console/src/routes/api/combobox/+server.ts
  apps/console/src/routes/api/completions/+server.ts
  apps/console/src/routes/api/date/+server.ts
  apps/console/src/routes/api/smartpaste/+server.ts
  docs/awesome-sveltekit.md
Labels: console, documentation

fix(console): UpdateDefaultOrg mutation removed @role
  apps/console/src/lib/stores/nhost.ts
Labels: console

fix(console): remove page-containe class for tables
  apps/console/src/routes/(app)/groups/components/search-groups-result.svelte
  apps/console/src/routes/(app)/org-settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/org-settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/org-settings/components/settings.svelte
  apps/console/src/routes/(app)/organizations/components/search-organizations-result.svelte
  apps/console/src/routes/(app)/policies/components/search-policies-result.svelte
  apps/console/src/routes/(app)/profile/components/invitations.svelte
  apps/console/src/routes/(app)/profile/components/memberships.svelte
  apps/console/src/routes/(app)/profile/components/personal-access-tokens.svelte
  apps/console/src/routes/(app)/user-settings/components/settings-metadata.svelte
  apps/console/src/routes/(app)/user-settings/components/settings-with-defaults.svelte
  apps/console/src/routes/(app)/user-settings/components/settings.svelte
  apps/console/src/routes/(app)/users/components/search-users-result.svelte
Labels: console

fix(console): refine member invite and member managment
  apps/console/src/routes/(app)/members/components/filter.svelte
  apps/console/src/routes/(app)/members/components/invitations.svelte
  apps/console/src/routes/(app)/members/components/members.svelte
  apps/console/src/routes/(app)/members/mutations.ts
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-groups.svelte
  packages/skeleton-ui/src/components/listbox/index.ts
  packages/skeleton-ui/src/components/listbox/list-box-item.svelte
  packages/skeleton-ui/src/components/listbox/list-box.svelte
Labels: console, skeleton-ui

fix(console): now using node:23
  .github/workflows/ci.yml
  Dockerfile
  nhost/nhost.toml
  pnpm-lock.yaml
Labels: hasura, workspace

build: deps updated
  package.json
  pnpm-lock.yaml
Labels: workspace

build: deps updated
  apps/console/package.json
  apps/console/src/lib/links.ts
  apps/console/src/routes/(app)/ai/speech/+page.svelte
  apps/smart/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, console, ui, skeleton-ui, workspace

build: deps updated
  apps/console/package.json
  apps/smart/package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: console, ui, skeleton-ui

build: deps updated
  apps/smart/package.json
  packages/skeleton-ui/postcss.config.cjs
  packages/smart/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: ui, skeleton-ui

build: deps updated
  apps/docs/package.json
  apps/web/package.json
  pnpm-lock.yaml
Labels: web, docs

refactor: group routes
  apps/console/src/lib/server/hooks/guard.ts
Labels: console

fix: added ultracite biome config
  .vscode/settings.json
  README.md
  apps/console/tsconfig.json
  biome.jsonc
  package.json
  packages/biome-config/package.json
  pnpm-lock.yaml
Labels: console, biome-config, documentation, workspace

fix: added ultracite biome config
  apps/console/schema.graphql
Labels: console

fix: added ultracite biome config
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
