Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, offline, playground, ui, assets, tailwind-config, tsconfig, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
offline:
  - apps/offline/**/*
  - change-notes/**/*offline*
playground:
  - apps/playground/**/*
  - change-notes/**/*playground*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
tailwind-config:
  - packages/tailwind-config/**/*
  - change-notes/**/*tailwind-config*
tsconfig:
  - packages/tsconfig/**/*
  - change-notes/**/*tsconfig*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - infra/hasura/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.local'
  - '**/.env.test'
workspace:
  - .github/**/*
  - .prettierrc
  - config.yaml
  - turbo.json
  - package.json

feat(console): setting houdini session
  apps/console/src/app.d.ts
  apps/console/src/hooks.server.ts
  apps/console/src/lib/graphql/MUTATION.CreatePolicy.gql
  apps/console/src/lib/graphql/MUTATION.DeletePolicy.gql
  apps/console/src/lib/graphql/MUTATION.UpdatePolicy.gql
  apps/console/src/lib/graphql/QUERY.GetPolicy.gql
  apps/console/src/lib/graphql/QUERY.ListPolicies.gql
  apps/console/src/lib/graphql/client.ts
  apps/console/src/lib/links.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/lib/server/middleware/guard.ts
  apps/console/src/lib/server/middleware/index.ts
  apps/console/src/routes/(app)/dashboard/policies/+page.svelte
  apps/console/src/routes/(app)/dashboard/policies/+page.ts
  packages/skeleton-ui/components/form/error-message.svelte
  packages/skeleton-ui/components/form/form-alerts.svelte
  packages/skeleton-ui/components/form/form.svelte
  packages/skeleton-ui/components/form/index.ts
Labels: none

fix: enable nhost dashboard in compose file
  compose.yml
  nhost/nhost.toml
Labels: none

chore: update deps
  apps/console-fb/package.json
  apps/console-fb/vite.config.ts
  apps/console-sc/package.json
  apps/console/package.json
  apps/console/project.inlang/de.json
  apps/console/project.inlang/en.json
  apps/console/src/lib/i18n.ts
  apps/docs/package.json
  apps/playground/package.json
  apps/web/package.json
  nhost/nhost.bak.toml
  package.json
  packages/assets/images/.gitkeep
  packages/assets/images/avatars/01.png
  packages/assets/images/avatars/02.png
  packages/assets/images/avatars/03.png
  packages/assets/images/avatars/04.png
  packages/assets/images/avatars/05.png
  packages/skeleton-ui/components/form/form-alerts.svelte
  packages/skeleton-ui/components/form/index.ts
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  scripts/init.sh
Labels: web, docs, playground, ui, assets, workspace

revert(console-fb): rollback @auth/sveltekit to 0.11.1
  apps/console-fb/package.json
  apps/console-fb/src/lib/server/middleware/authjs.ts
  pnpm-lock.yaml
Labels: none

refactor: improve trubo config
  .vscode/settings.json
  apps/console-fb/package.json
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/lib/server/middleware/index.ts
  apps/console-fb/turbo.json
  apps/console-sc/package.json
  apps/console-sc/turbo.json
  apps/console/package.json
  apps/console/turbo.json
  apps/docs/turbo.json
  apps/playground/package.json
  apps/web/turbo.json
  docs/turborepo.md
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: web, docs, playground, documentation, workspace

fix: added mock logins for testing
  apps/console-fb/src/lib/server/middleware/authjs.ts
  apps/console-fb/src/mocks/data/users.ts
  apps/console-fb/turbo.json
  apps/playground/turbo.json
Labels: playground

fix(console-fb): update onError() and use SelectFB for forms
  apps/console-fb/src/lib/components/form/FloatingTextInput.svelte
  apps/console-fb/src/lib/components/form/Select.svelte
  apps/console-fb/src/lib/components/form/SelectFB.svelte
  apps/console-fb/src/lib/components/toast/Toasts.svelte
  apps/console-fb/src/routes/(app)/dashboard/devices/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/devices/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/policies/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/policies/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/policies/create/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/pools/create/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/[id]/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/create/+page.svelte
  apps/console-fb/src/routes/(app)/dashboard/rules/houdini/+page.svelte
Labels: none

fix(console-fb): update onError() and use SelectFB for forms
  apps/console-fb/src/lib/blocks/side/SideMenu.svelte
Labels: none

fix: add kustomize env [skip ci]
  apps/console-fb/src/lib/blocks/stats/Stats.svelte
  infra/components/.gitkeep
  infra/envs/development/kustomization.yaml
  infra/envs/local/kustomization.yaml
  infra/envs/production/kustomization.yaml
  nhost/tests/msgraph.http
Labels: none

feat: tryig kustomize
  docs/images/arch.png
  infra/README.md
  infra/base/app/console/deployment.yaml
  infra/base/app/console/kustomization.yaml
  infra/base/app/console/service.yaml
  infra/base/app/docs/deployment.yaml
  infra/base/app/docs/kustomization.yaml
  infra/base/app/docs/service.yaml
  infra/base/app/kustomization.yaml
  infra/base/app/web/deployment.yaml
  infra/base/app/web/kustomization.yaml
  infra/base/app/web/service.yaml
  infra/base/hasura-auth/deployment.yaml
  infra/base/hasura-auth/kustomization.yaml
  infra/base/hasura-auth/service.yaml
  infra/base/hasura/deployment.yaml
  infra/base/hasura/ingress.yaml
  infra/base/hasura/kustomization.yaml
  infra/base/hasura/service.yaml
  infra/base/kustomization.yaml
  infra/base/postgres/deployment.yaml
  infra/base/postgres/kustomization.yaml
  infra/base/postgres/pvc.yaml
  infra/base/postgres/service.yaml
  infra/components/.gitkeep
  infra/components/basic-auth/kustomization.yaml
  infra/components/cacerts/cacerts.yaml
  infra/components/cacerts/kustomization.yaml
  infra/components/limitranges/default/kustomization.yaml
  infra/components/limitranges/default/limitrange.yaml
  infra/components/otel/kustomization.yaml
  infra/components/otel/otel.yaml
  infra/envs/development/kustomization.yaml
  infra/overlays/development/kustomization.yaml
  infra/overlays/local/kustomization.yaml
  infra/overlays/production/delete-pg.yaml
  infra/overlays/production/kustomization.yaml
  infra/overlays/production/patch-replicas.yaml
Labels: documentation

feat: tryig kustomize
  docs/images/arch.png
  infra/README.md
  infra/base/app/console/deployment.yaml
  infra/base/app/console/kustomization.yaml
  infra/base/app/console/service.yaml
  infra/base/app/docs/deployment.yaml
  infra/base/app/docs/kustomization.yaml
  infra/base/app/docs/service.yaml
  infra/base/app/kustomization.yaml
  infra/base/app/web/deployment.yaml
  infra/base/app/web/kustomization.yaml
  infra/base/app/web/service.yaml
  infra/base/hasura-auth/deployment.yaml
  infra/base/hasura-auth/kustomization.yaml
  infra/base/hasura-auth/service.yaml
  infra/base/hasura/deployment.yaml
  infra/base/hasura/ingress.yaml
  infra/base/hasura/kustomization.yaml
  infra/base/hasura/service.yaml
  infra/base/kustomization.yaml
  infra/base/postgres/deployment.yaml
  infra/base/postgres/kustomization.yaml
  infra/base/postgres/pvc.yaml
  infra/base/postgres/service.yaml
  infra/components/.gitkeep
  infra/components/basic-auth/kustomization.yaml
  infra/components/cacerts/ca-certificates.crt
  infra/components/cacerts/cacerts.yaml
  infra/components/cacerts/kustomization.yaml
  infra/components/limitranges/default/kustomization.yaml
  infra/components/limitranges/default/limitrange.yaml
  infra/components/otel/kustomization.yaml
  infra/components/otel/otel.yaml
  infra/envs/development/kustomization.yaml
  infra/overlays/development/kustomization.yaml
  infra/overlays/local/kustomization.yaml
  infra/overlays/production/delete-pg.yaml
  infra/overlays/production/kustomization.yaml
  infra/overlays/production/patch-replicas.yaml
Labels: documentation

fix: replace mailhog with mailpit, upgrade vite-pwa and add pwa/assets-generator
  apps/console-fb/package.json
  apps/console-fb/pwa-assets.config.ts
  apps/console-fb/src/app.d.ts
  apps/console-fb/src/app.html
  apps/console-fb/src/lib/utils/zod.utils.ts
  apps/console-fb/src/routes/+layout.svelte
  apps/console-fb/static/icons/circle/README.md
  apps/console-fb/static/icons/circle/html_code.html
  apps/console-fb/tests/pwa/offline.spec.ts
  apps/console-fb/tests/pwa/sw.spec.ts
  apps/console-fb/vite.config.ts
  apps/console-sc/README.md
  apps/console/README.md
  compose.yml
  docs/playbook.md
  pnpm-lock.yaml
Labels: documentation

fix: replace mailhog with mailpit, upgrade vite-pwa and add pwa/assets-generator
  apps/console-fb/package.json
  apps/console-fb/pwa-assets.config.ts
  apps/console-fb/src/app.d.ts
  apps/console-fb/src/app.html
  apps/console-fb/src/lib/utils/zod.utils.ts
  apps/console-fb/src/routes/+layout.svelte
  apps/console-fb/static/icons/circle/README.md
  apps/console-fb/static/icons/circle/html_code.html
  apps/console-fb/tests/pwa/offline.spec.ts
  apps/console-fb/tests/pwa/sw.spec.ts
  apps/console-fb/vite.config.ts
  apps/console-sc/README.md
  apps/console/README.md
  compose.yml
  docs/playbook.md
  pnpm-lock.yaml
Labels: documentation

chore: upgrade deps
  .secrets.example
  .secrets.prod
  .vscode/settings.json
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/components/Card.astro
  apps/docs/src/pages/custom/example.astro
  apps/playground/package.json
  apps/web/package.json
  compose.yml
  nhost/nhost.ai.toml
  nhost/nhost.toml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: upgrade deps
  .secrets.example
  .secrets.prod
  .vscode/settings.json
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/README.md
  apps/console/package.json
  apps/docs/astro.config.mjs
  apps/docs/package.json
  apps/docs/src/components/Card.astro
  apps/docs/src/pages/custom/example.astro
  apps/playground/package.json
  apps/web/package.json
  compose.yml
  nhost/nhost.ai.toml
  nhost/nhost.toml
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: upgrade github actions
  .github/ci.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
Labels: workspace

chore: upgrade github actions
  .github/ci.yml
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
Labels: workspace

chore: upgrade deps
  .vscode/extensions.json
  Dockerfile
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/console/src/lib/components/layout/Sidebar.svelte
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/i18n.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/lib/server/middleware/guard.ts
  apps/console/src/routes/(app)/dashboard/policies/+page.svelte
  apps/console/src/routes/(app)/dashboard/policies/+page.ts
  apps/console/svelte.config.js
  apps/console/turbo.json
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/src/lib/components/layout/Sidebar.svelte
  apps/playground/src/lib/components/layout/sidebar.svelte
  apps/playground/src/routes/(play)/experiments/settings/+page.server.ts
  apps/playground/src/routes/(play)/experiments/settings/+page.svelte
  apps/playground/src/routes/(play)/experiments/settings/schema.ts
  apps/playground/svelte.config.js
  apps/web/package.json
  bun.Dockerfile
  docs/docker.md
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/skeleton-ui/components/form/form-alerts.svelte
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/src/context.ts
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: upgrade deps
  .vscode/extensions.json
  Dockerfile
  apps/console-fb/package.json
  apps/console-sc/package.json
  apps/console/package.json
  apps/console/src/lib/components/layout/Sidebar.svelte
  apps/console/src/lib/components/layout/sidebar.svelte
  apps/console/src/lib/i18n.ts
  apps/console/src/lib/schema/policy.ts
  apps/console/src/lib/server/middleware/guard.ts
  apps/console/src/routes/(app)/dashboard/policies/+page.svelte
  apps/console/src/routes/(app)/dashboard/policies/+page.ts
  apps/console/svelte.config.js
  apps/console/turbo.json
  apps/docs/package.json
  apps/playground/package.json
  apps/playground/src/lib/components/layout/Sidebar.svelte
  apps/playground/src/lib/components/layout/sidebar.svelte
  apps/playground/src/routes/(play)/experiments/settings/+page.server.ts
  apps/playground/src/routes/(play)/experiments/settings/+page.svelte
  apps/playground/src/routes/(play)/experiments/settings/schema.ts
  apps/playground/svelte.config.js
  apps/web/package.json
  bun.Dockerfile
  docs/docker.md
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/skeleton-ui/components/form/form-alerts.svelte
  packages/skeleton-ui/package.json
  packages/ui/package.json
  packages/utils/src/context.ts
  pnpm-lock.yaml
Labels: web, docs, playground, ui, documentation, workspace

chore: build fix
  .env.example
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/console/.env.example
  apps/console/.secrets.example
  apps/console/svelte.config.js
  apps/docs/src/components/Card.astro
  apps/docs/src/pages/custom/example.astro
  apps/playground/src/routes/(play)/experiments/settings/+page.svelte
  apps/playground/svelte.config.js
  compose.all.yml
  infra/README.md
  infra/base/app/console/kustomization.yaml
  infra/base/app/console/replacement.yaml
Labels: docs, playground, documentation, workspace

chore: build fix
  .env.example
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/console/.env.example
  apps/console/.secrets.example
  apps/console/svelte.config.js
  apps/docs/src/components/Card.astro
  apps/docs/src/pages/custom/example.astro
  apps/playground/src/routes/(play)/experiments/settings/+page.svelte
  apps/playground/svelte.config.js
  compose.all.yml
  infra/README.md
  infra/base/app/console/kustomization.yaml
  infra/base/app/console/replacement.yaml
Labels: docs, playground, documentation, workspace

fix: add Paneforge lib
  apps/playground/package.json
  apps/playground/src/lib/links.ts
  apps/playground/src/routes/(play)/experiments/paneforge/+page.svelte
  pnpm-lock.yaml
Labels: playground

fix: add Paneforge lib
  apps/playground/package.json
  apps/playground/src/lib/links.ts
  apps/playground/src/routes/(play)/experiments/paneforge/+page.svelte
  pnpm-lock.yaml
Labels: playground

build: fix github action: ci
  .github/workflows/ci.yml
  README.md
  docs/awesome-sveltekit.md
Labels: documentation, workspace

build: fix github action: ci
  .github/workflows/ci.yml
  README.md
  docs/awesome-sveltekit.md
Labels: documentation, workspace

build: fix deps
  apps/playground/src/routes/(play)/experiments/settings/+page.svelte
  pnpm-lock.yaml
  scripts/init.sh
Labels: playground

build: fix deps
  apps/playground/src/routes/(play)/experiments/settings/+page.svelte
  pnpm-lock.yaml
  scripts/init.sh
Labels: playground

build: fix deps
  .github/workflows/ci.yml
  apps/console-fb/src/lib/components/toast/Toasts.svelte
Labels: workspace

build: fix deps
  .github/workflows/ci.yml
  apps/console-fb/src/lib/components/toast/Toasts.svelte
Labels: workspace

build: fix deps
  .github/workflows/ci.yml
  apps/console-fb/src/hooks.client.ts
  apps/console-fb/src/hooks.server.ts
  apps/console-fb/src/lib/components/toast/Toasts.svelte
  apps/console-fb/src/lib/utils/zod.utils.ts
  apps/console-fb/src/routes/+layout.svelte
  apps/console-fb/tests/pwa/offline.spec.ts
  apps/console-fb/tests/pwa/sw.spec.ts
  apps/console-fb/vite.config.ts
  apps/console/.env.example
  apps/console/src/hooks.server.ts
Labels: workspace

build: fix deps
  .github/workflows/ci.yml
  apps/console-fb/src/hooks.client.ts
  apps/console-fb/src/hooks.server.ts
  apps/console-fb/src/lib/components/toast/Toasts.svelte
  apps/console-fb/src/lib/utils/zod.utils.ts
  apps/console-fb/src/routes/+layout.svelte
  apps/console-fb/tests/pwa/offline.spec.ts
  apps/console-fb/tests/pwa/sw.spec.ts
  apps/console-fb/vite.config.ts
  apps/console/.env.example
  apps/console/src/hooks.server.ts
Labels: workspace

build: fix deps
  .github/workflows/ci.yml
Labels: workspace

build: fix deps
  .github/workflows/ci.yml
Labels: workspace

build: fix deps
  .dockerignore
  .gitignore
  .vscode/settings.json
  Dockerfile
Labels: none

build: fix deps
  .dockerignore
  .gitignore
  .vscode/settings.json
  Dockerfile
Labels: none

build: fix deps [skip ci]
  Dockerfile
  scripts/init.sh
Labels: none

build: fix deps [skip ci]
  Dockerfile
  scripts/init.sh
Labels: none

build: fix deps [skip ci]
  .github/workflows/ci.yml
  docs/docker.md
Labels: documentation, workspace

build: fix deps [skip ci]
  .github/workflows/ci.yml
  docs/docker.md
Labels: documentation, workspace

build: fix deps [skip ci]
  .github/workflows/ci.yml
Labels: workspace
