Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.bak
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.bak
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts.working
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.working
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.working
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.working
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts.working
  apps/console/src/lib/components/smart/settings.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.bak
  packages/utils/src/object.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.working
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/src/lib/components/smart/chrome-ai.ts
  apps/console/src/lib/components/smart/chrome-ai.ts.bak
  apps/console/src/lib/components/smart/chrome-ai.ts.working
  apps/console/src/lib/components/smart/settings.ts
Labels: console

fix(console): set ChromeAI only on client side
  apps/console/package.json
  apps/console/src/lib/components/smart/chrome-ai.ts.bak
  apps/console/src/lib/components/smart/chrome-ai.ts.working
  apps/console/src/routes/+layout.svelte
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: console, ui, skeleton-ui

refactor(smart): move smart components to its own package
  apps/console/biome.jsonc
  apps/console/package.json
  apps/console/src/routes/(app)/ai/chromeai/+page.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/speech/+page.svelte
  apps/console/src/routes/(app)/settings/+page.svelte
  apps/console/src/routes/+layout.svelte
  apps/docs/biome.jsonc
  apps/web/biome.jsonc
  biome.jsonc
  docs/awesome-sveltekit.md
  package.json
  packages/biome-config/library.jsonc
  packages/biome-config/root.jsonc
  packages/biome-config/svelte-library.jsonc
  packages/biome-config/svelte.jsonc
  packages/role-houdini/biome.jsonc
  packages/smart/README.md
  packages/smart/biome.jsonc
  packages/smart/package.json
  packages/smart/src/@types/chrome-ai.d.ts
  packages/smart/src/components/assistant-stats.svelte
  packages/smart/src/components/chrome-ai.ts
  packages/smart/src/components/combo-box.svelte
  packages/smart/src/components/constants.ts
  packages/smart/src/components/index.ts
  packages/smart/src/components/loader-icon.svelte
  packages/smart/src/components/magic-spell-textarea.svelte
  packages/smart/src/components/settings.svelte
  packages/smart/src/components/settings.ts
  packages/smart/src/components/smart-date-picker.svelte
  packages/smart/src/components/smart-date.svelte
  packages/smart/tsconfig.json
  packages/ui/biome.jsonc
  packages/utils/biome.jsonc
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, documentation, workspace

fix(console): add online/offline store, playing with webauthn
  apps/console/src/lib/components/layout/avatar.svelte
  apps/console/src/lib/components/layout/header.svelte
  apps/console/src/lib/stores/nhost.ts
  apps/console/src/lib/stores/window.ts
  apps/console/src/routes/+layout.svelte
  apps/console/src/routes/[x+2e]well-known/webauthn/+server.ts
  nhost/nhost.toml
  nhost/overlays/local.json
  nhost/overlays/swzucovdccjouwebopwb.json
Labels: console, hasura

fix(console): playing with webauthn
  nhost/nhost.toml
  nhost/overlays/local.json
Labels: hasura

fix(console): playing with webauthn
  apps/console/src/routes/[x+2e]well-known/webauthn/+server.ts
Labels: console

fix(console): playing with webauthn
  apps/console/src/routes/[x+2e]well-known/webauthn/+server.ts
  nhost/nhost.toml
  nhost/overlays/local.json
Labels: console, hasura

fix(console): playing with webauthn
  apps/console/src/routes/[x+2e]well-known/webauthn/+server.ts
Labels: console

fix(console): playing with webauthn
  apps/console/src/routes/[x+2e]well-known/webauthn/+server.ts
Labels: console

fix(smart): adding init smart-textarea w.i.p
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  packages/smart/src/components/index.ts
  packages/smart/src/components/magic-spell-textarea.svelte
  packages/smart/src/components/settings.ts
  packages/smart/src/components/smart-textarea.svelte
Labels: console

fix(nhost): adding composite pkey for user_groups table with user_id, group_id
  nhost/migrations/default/1684206403640_init/up.sql
Labels: hasura

build: deps updated
  .vscode/cspell.json
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  docs/awesome-sveltekit.md
  nhost/nhost.toml
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/skeleton-ui/tailwind.config.ts
  packages/smart/package.json
  packages/smart/src/components/magic-spell-textarea.svelte
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, documentation, hasura, workspace

feat(smart): added smart-textarea component
  apps/console/src/lib/modals/search.svelte
  apps/console/src/routes/(app)/ai/smart/+page.server.ts
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/ai/smart/schema.ts
  docs/awesome-sveltekit.md
  packages/role-houdini/package.json
  packages/skeleton-ui/src/components/icons/icons.ts
  packages/smart/package.json
  packages/smart/src/components/magic-spell-textarea.svelte
  packages/smart/src/components/result.svelte
  packages/smart/src/components/settings.svelte
  packages/smart/src/components/smart-textarea.svelte
  packages/smart/src/components/summary-icon.svelte
  packages/smart/src/components/translate-icon.svelte
  pnpm-lock.yaml
Labels: console, role-houdini, skeleton-ui, documentation

feat(smart): added smart-textarea component
  .vscode/cspell.json
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/smart/package.json
  packages/smart/src/components/smart-textarea.svelte
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, workspace

fix(smart): clearPreviousResults
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  packages/smart/src/components/settings.ts
  packages/smart/src/components/smart-date.svelte
  packages/smart/src/components/smart-textarea.svelte
Labels: console

build: deps updated
  apps/console/biome.jsonc
  apps/console/package.json
  apps/docs/biome.jsonc
  apps/docs/package.json
  apps/web/biome.jsonc
  apps/web/package.json
  biome.jsonc
  package.json
  packages/biome-config/library.jsonc
  packages/biome-config/package.json
  packages/biome-config/root.jsonc
  packages/biome-config/svelte-library.jsonc
  packages/biome-config/svelte.jsonc
  packages/role-houdini/biome.jsonc
  packages/role-houdini/package.json
  packages/skeleton-ui/biome.jsonc
  packages/skeleton-ui/package.json
  packages/smart/biome.jsonc
  packages/smart/package.json
  packages/ui/biome.jsonc
  packages/ui/package.json
  packages/utils/biome.jsonc
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, workspace

fix(console): cleanup
  apps/console/schema.graphql
  apps/console/src/lib/schema/user.ts
  apps/console/src/routes/(app)/users/[id=uuid]/components/delegation.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  docs/playbook.md
Labels: console, documentation

fix(nhost): remove allowed emails and emailDomains in prod
  apps/console/src/routes/(auth)/signin/+page.server.ts
  apps/console/src/routes/(auth)/signin/components/magic-link.svelte
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
  nhost/nhost.toml
  nhost/overlays/swzucovdccjouwebopwb.json
  nhost/tests/.env.example
  nhost/tests/auth.http
Labels: console, hasura

fix(console): seting full url for password reset redirect url
  apps/console/src/routes/(auth)/reset/+page.server.ts
Labels: console

fix(console): seting full url for password reset redirect url
  apps/console/schema.graphql
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
Labels: console

fix(console): seting full url for password reset redirect url
  apps/console/src/routes/(auth)/reset/+page.server.ts
  apps/console/src/routes/(auth)/signin/components/passwordless.svelte
Labels: console

fix: deps updated
  .vscode/settings.json
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  docs/ai-swarm.md
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/smart/README.md
  packages/smart/package.json
  packages/smart/src/components/helpers.ts
  packages/smart/tsconfig.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, documentation, workspace

fix(smart): add smart-app with svelte5 - part1
  apps/smart/.gitignore
  apps/smart/.npmrc
  apps/smart/README.md
  apps/smart/biome.jsonc
  apps/smart/e2e/demo.test.ts
  apps/smart/package.json
  apps/smart/playwright.config.ts
  apps/smart/postcss.config.js
  apps/smart/project.inlang/.gitignore
  apps/smart/project.inlang/de.json
  apps/smart/project.inlang/en.json
  apps/smart/project.inlang/es.json
  apps/smart/project.inlang/project_id
  apps/smart/project.inlang/settings.json
  apps/smart/src/app.css
  apps/smart/src/app.d.ts
  apps/smart/src/app.html
  apps/smart/src/demo.spec.ts
  apps/smart/src/hooks.server.ts
  apps/smart/src/hooks.ts
  apps/smart/src/lib/i18n.ts
  apps/smart/src/lib/index.ts
  apps/smart/src/routes/+layout.svelte
  apps/smart/src/routes/+page.svelte
  apps/smart/static/favicon.png
  apps/smart/svelte.config.js
  apps/smart/tailwind.config.ts
  apps/smart/tsconfig.json
  apps/smart/turbo.json
  apps/smart/vite.config.ts
  packages/smart/src/actions/index.ts
  packages/smart/src/actions/smart-past.ts
  pnpm-lock.yaml
Labels: documentation

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc
