Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, ui, assets, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
biome-config:
  - packages/biome-config/**/*
  - change-notes/**/*biome-config*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
skeleton-ui:
  - packages/skeleton-ui/**/*
  - change-notes/**/*skeleton-ui*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc

fix: deps updated
  docs/clone.md
Labels: documentation

docs: fix git clean command [skip ci]
  docs/wip.md
Labels: documentation

fix(nhost): update email templates
  docs/hasura-auth.md
  functions/package-lock.json
  functions/package.json
  nhost/console-webapp.toml
  nhost/emails/bg/email-confirm-change/body.html
  nhost/emails/bg/email-verify/body.html
  nhost/emails/bg/password-reset/body.html
  nhost/emails/bg/signin-passwordless/body.html
  nhost/emails/cs/email-confirm-change/body.html
  nhost/emails/cs/email-verify/body.html
  nhost/emails/cs/password-reset/body.html
  nhost/emails/cs/signin-passwordless/body.html
  nhost/emails/en/email-confirm-change/body.html
  nhost/emails/en/email-verify/body.html
  nhost/emails/en/password-reset/body.html
  nhost/emails/en/signin-passwordless/body.html
  nhost/emails/es/email-confirm-change/body.html
  nhost/emails/es/email-verify/body.html
  nhost/emails/es/password-reset/body.html
  nhost/emails/es/signin-passwordless/body.html
  nhost/emails/fr/email-confirm-change/body.html
  nhost/emails/fr/email-verify/body.html
  nhost/emails/fr/password-reset/body.html
  nhost/emails/fr/signin-passwordless/body.html
  nhost/emails/generator/README.md
  nhost/emails/generator/email-confirm-change.tsx
  nhost/emails/generator/email-verify.tsx
  nhost/emails/generator/password-reset.tsx
  nhost/emails/generator/render-emails.ts
  nhost/emails/generator/signin-passwordless.tsx
  nhost/emails/test/email-verify/body.html
  nhost/emails/test/email-verify/subject.txt
  nhost/nhost.toml
  nhost/overlays/local.json
  nhost/overlays/swzucovdccjouwebopwb.json
Labels: documentation, hasura

fix: docs updated [skip ci]
  docs/awesome-sveltekit.md
  docs/nhost.md
  nhost/overlays/run-f27908df-3586-4d02-bb44-a762412d3912.json
Labels: documentation, hasura

fix(nhost): nhost config
  docs/hasura.md
  nhost/nhost.toml
Labels: documentation, hasura

adding device frontend
  apps/console/src/routes/(app)/devices/+page.svelte
Labels: console

fix: update reset hasura on cloud
  docs/hasura.md
Labels: documentation

fix(workspace): workspace files
  .vscode/extensions.json
  .vscode/settings.json
  apps/console/package.json
  apps/console/turbo.json
  apps/docs/package.json
  apps/docs/turbo.json
  apps/web/package.json
  apps/web/turbo.json
  docs/awesome-sveltekit.md
  docs/turborepo.md
  nhost/migrations/default/1684206403640_init/up.sql
  package.json
  packages/biome-config/package.json
  packages/role-houdini/package.json
  packages/role-houdini/turbo.json
  packages/skeleton-ui/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, typescript-config, documentation, hasura, workspace

fix(workspace): workspace files
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
Labels: ui, role-houdini, skeleton-ui, typescript-config, workspace

style: fix lint issues
  .vscode/settings.json
  nhost/overlays/local.json
  nhost/overlays/swzucovdccjouwebopwb.json
  package.json
  packages/biome-config/root.jsonc
  packages/role-houdini/package.json
  packages/typescript-config/package.json
Labels: biome-config, role-houdini, typescript-config, hasura, workspace

fix: prefix @spectacular for all apps
  DEVELOPERS.md
  Dockerfile
  README.md
  apps/console/README.md
  apps/console/package.json
  apps/console/turbo.json
  apps/docs/package.json
  apps/web/README.md
  apps/web/astro.config.mjs
  apps/web/package.json
  bun.Dockerfile
  docs/astro.md
  docs/playbook.md
  docs/turborepo.md
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
  turbo.json
Labels: web, docs, console, ui, skeleton-ui, documentation, workspace

fix: prefix @spectacular for all apps
  Dockerfile
  docs/docker.md
Labels: documentation

fix: prefix @spectacular for all apps
  bun.Dockerfile
  docs/wip.md
Labels: documentation

fix: prefix @spectacular for all apps
  .github/workflows/docs-deploy.yml
Labels: workspace

fix: deps updated
  pnpm-lock.yaml
Labels: none

fix(console): w.i.p device pool fix 1
  nhost/metadata/databases/default/tables/public_devices.yaml
  nhost/metadata/databases/default/tables/public_pools.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/seeds/default/011_devices.sql
Labels: hasura

fix(console): w.i.p device pool fix 2
  nhost/metadata/databases/default/functions/functions.yaml
  nhost/metadata/databases/default/functions/public_devices_not_in_pool.yaml
  nhost/metadata/databases/default/functions/public_dissociated_pools.yaml
  nhost/metadata/databases/default/tables/public_device_pool.yaml
  nhost/metadata/databases/default/tables/public_device_pools.yaml
  nhost/metadata/databases/default/tables/public_devices.yaml
  nhost/metadata/databases/default/tables/public_pools.yaml
  nhost/metadata/databases/default/tables/tables.yaml
  nhost/migrations/default/1684206403640_init/up.sql
  nhost/seeds/default/013_pools.sql
Labels: hasura

fix(console): w.i.p device pool fix 3
  nhost/metadata/databases/databases.yaml
  nhost/metadata/databases/default/functions/functions.yaml
  nhost/metadata/databases/default/functions/public_dissociated_pools.yaml
  nhost/metadata/databases/default/tables/public_devices.yaml
  nhost/migrations/default/1684206403640_init/up.sql
Labels: hasura

fix(console): w.i.p device pool fix 4
  nhost/metadata/databases/default/functions/functions.yaml
  nhost/migrations/default/1684206403640_init/up.sql
Labels: hasura

fix(console): w.i.p device pool fix 5
  nhost/metadata/databases/default/tables/public_devices.yaml
  nhost/migrations/default/1684206403640_init/up.sql
Labels: hasura

fix(console): w.i.p device pool fix 5
  apps/console/schema.graphql
Labels: console

fix(console): w.i.p device pool fix 6
  docs/hasura.md
Labels: documentation

fix(utils): add hasIntersection isSubset utils
  apps/console/src/lib/schema/user.ts
  apps/console/src/lib/server/utils/nhost.ts
  nhost/nhost.toml
  packages/utils/src/collections.ts
Labels: console, hasura

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, skeleton-ui, workspace

refactor(console): user edit page
  apps/console/README.md
  apps/console/src/routes/(app)/profile/components/connect-socials.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/+page.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/delegation.svelte
  apps/console/src/routes/(app)/users/[id=uuid]/components/user-details.svelte
  docs/nhost.md
Labels: console, documentation

refactor(console): restructure chrome-ai store
  apps/console/src/lib/components/smart/assistant-stats.svelte
  apps/console/src/lib/components/smart/index.ts
  apps/console/src/lib/components/smart/smart-date.svelte
  apps/console/src/lib/stores/chrome-ai.ts
  apps/console/src/lib/stores/index.ts
  apps/console/src/lib/stores/stores.ts
  apps/console/src/routes/(app)/ai/chromeai/+page.svelte
  apps/console/src/routes/(app)/ai/smart/+page.svelte
  apps/console/src/routes/(app)/dashboard/+page.svelte
  apps/console/src/routes/(app)/profile/components/connect-socials.svelte
  apps/console/src/routes/+layout.svelte
  docs/awesome-sveltekit.md
Labels: console, documentation

refactor(console): restructure chrome-ai store
  apps/console/package.json
  apps/console/src/ai.d.ts
  apps/console/src/app.d.ts
  apps/console/src/lib/components/smart/assistant-stats.svelte
  apps/console/src/lib/components/smart/lang.ts
  apps/console/src/lib/components/smart/smart-date.svelte
  apps/console/src/lib/links.ts
  apps/console/src/lib/stores/chrome-ai.ts
  apps/console/src/routes/(app)/ai/chat/+page.svelte
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, workspace

fix(console): adding unmarshal marshal for graphql bigint snd bytea types
  apps/console/houdini.config.js
  apps/console/package.json
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/docs/package.json
  apps/web/package.json
  nhost/tests/devices.http
  nhost/tests/policies.http
  nhost/tests/pools.http
  nhost/tests/rules.http
  package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, skeleton-ui, hasura, workspace

fix(console): style svelte-select component to match to skeleton-ui
  apps/console/src/lib/components/craft/remote-team-clock.svelte
  apps/console/src/lib/components/smart/magic-spell-textarea.svelte
  apps/console/src/routes/(app)/ai/chromeai/+page.svelte
  apps/console/src/routes/(app)/policies/create/+page.svelte
  apps/console/src/routes/(legal)/+layout@.svelte
Labels: console

style(console): fix alignment for preate policy
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

style(console): fix alignment for preate policy
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

style(console): fix alignment for preate policy
  apps/console/src/routes/(app)/policies/create/+page.svelte
Labels: console

fix(nhsot): add refresh_tokens_metadata_name_unique to nhost schema
  apps/console/src/routes/(app)/ai/chat/README.md
  apps/console/src/routes/(app)/policies/create/+page.svelte
  nhost/migrations/default/1684206403640_init/up.sql
Labels: console, documentation, hasura

build: deps updated
  apps/console/package.json
  apps/docs/package.json
  apps/web/package.json
  package.json
  packages/role-houdini/package.json
  packages/skeleton-ui/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, role-houdini, skeleton-ui, workspace

fix(console): add svelte-plugins/datepicker lib [skip ci]
  apps/console/package.json
  pnpm-lock.yaml
Labels: console

build: deps updated [skip ci]
  apps/console/biome.jsonc
  apps/console/package.json
  apps/docs/biome.jsonc
  apps/docs/package.json
  apps/web/biome.jsonc
  apps/web/package.json
  biome.jsonc
  package.json
  packages/biome-config/library.jsonc
  packages/biome-config/package.json
  packages/biome-config/root.jsonc
  packages/biome-config/svelte-library.jsonc
  packages/biome-config/svelte.jsonc
  packages/role-houdini/biome.jsonc
  packages/role-houdini/package.json
  packages/skeleton-ui/biome.jsonc
  packages/skeleton-ui/package.json
  packages/ui/biome.jsonc
  packages/ui/package.json
  packages/utils/biome.jsonc
  packages/utils/package.json
  pnpm-lock.yaml
Labels: web, docs, console, ui, biome-config, role-houdini, skeleton-ui, workspace

fix: upgrade biome to 1.9.0
  .editorconfig
  .vscode/settings.json
  apps/console/src/lib/graphql/MUTATION.AddOrganization.gql
  apps/console/src/lib/graphql/MUTATION.CreateOrg.gql
  apps/console/src/lib/graphql/MUTATION.UpdateOrgs.gql
  apps/console/src/lib/graphql/MUTATION.UpdateRole.gql
  apps/console/src/lib/graphql/MUTATION.Updatehomeroles.gql
  apps/console/src/lib/graphql/MUTATION.Updatenonhomeroles.gql
  apps/console/src/lib/graphql/QUERY.GetOrganizations.gql
  apps/console/src/lib/graphql/QUERY.GetOrgsbyOrg.gql
  apps/console/src/lib/graphql/QUERY.GetUserById.gql
  apps/console/src/lib/graphql/QUERY.GetUsers.gql
  apps/console/src/lib/graphql/QUERY.SearchGroups.gql
  apps/console/src/lib/stores/stores.ts
  apps/console/src/routes/(app)/policies/+page.gql
  apps/console/src/routes/(app)/profile/+page.gql
  apps/docs/astro.config.mjs
  apps/web/tailwind.config.mjs
  nhost/metadata/actions.graphql
  package.json
  packages/biome-config/library.jsonc
  packages/biome-config/root.jsonc
  packages/biome-config/svelte-library.jsonc
  packages/biome-config/svelte.jsonc
  packages/role-houdini/package.json
Labels: web, docs, console, biome-config, role-houdini, hasura, workspace

fix(console): add permissions for user to query their own data
  nhost/metadata/actions.graphql
  nhost/metadata/databases/default/tables/auth_users.yaml
  packages/biome-config/root.jsonc
Labels: biome-config, hasura

fix(nhost): update postgres version
  nhost/nhost.toml
Labels: hasura

fix: switch from env/static to env/dynamic for most of env variables
  apps/console/src/lib/stores/chat.ts
  apps/console/src/routes/(app)/ai/chat/README.md
Labels: console, documentation
