Repository xmlking/spectacular, changes with the labels that .github/labeler.yml gives for each.
All labels: web, docs, console, smart, ui, assets, role-houdini, typescript-config, documentation, hasura, test, env, workspace

.github/labeler.yml:

web:
  - apps/web/**/*
  - change-notes/**/*web*
docs:
  - apps/docs/**/*
  - change-notes/**/*docs*
console:
  - apps/console/**/*
  - change-notes/**/*console*
smart:
  - apps/smart/**/*
  - change-notes/**/*smart*
ui:
  - packages/ui/**/*
  - change-notes/**/*ui*
assets:
  - packages/assets/**/*
  - change-notes/**/*assets*
role-houdini:
  - packages/role-houdini/**/*
  - change-notes/**/*role-houdini*
typescript-config:
  - packages/typescript-config/**/*
  - change-notes/**/*typescript-config*
documentation:
  - '**/*.md'
  - docs/**/*
hasura:
  - nhost/**/*
  - change-notes/**/*hasura*
test:
  - /**/tests/**/*
  - change-notes/**/*tests*
env:
  - '**/.env'
  - '**/.env.production'
  - '**/.secrets'
  - '**/.secrets.production'
workspace:
  - .github/**/*
  - config.yaml
  - turbo.json
  - package.json
  - biome.jsonc

refactor: move @repo/typescript-config to @repo/tsconfig
  .vscode/project.code-workspace
  .vscode/settings.json
  apps/console/package.json
  apps/console/tsconfig.json
  apps/smart/package.json
  apps/smart/tsconfig.json
  package.json
  packages/role-houdini/package.json
  packages/role-houdini/tsconfig.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/svelte-kit.json
  packages/tsconfig/svelte-library.json
  packages/tsconfig/svelte.json
  packages/ui/package.json
  packages/ui/tsconfig.json
  packages/utils/package copy.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Labels: console, smart, ui, role-houdini, workspace

fix(smart): add vite-plugin-devtools-json
  apps/smart/package.json
  apps/smart/src/app.html
  apps/smart/vite.config.ts
  apps/smart/vitest-setup-client.ts
  packages/tsconfig/svelte-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: smart

style: format
  pnpm-lock.yaml
Labels: none

style: format
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

build: updated deps
  apps/console/package.json
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/svelte.config.js
  apps/web/package.json
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: web, docs, console, smart, ui, workspace

build: updated deps
  pnpm-lock.yaml
Labels: none

build: updated deps
  pnpm-lock.yaml
Labels: none

build: updated deps
  .vscode/settings.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: workspace

build: updated deps
  .gitignore
  apps/console/package.json
  apps/console/src/lib/smart/actions/smart-paste.ts
  apps/console/src/routes/(app)/org/groups/+page.ts
  apps/console/src/routes/(app)/user/profile/components/security-key-form.svelte
  apps/docs/package.json
  apps/smart/package.json
  apps/smart/src/lib/ai/actions/smart-paste.svelte.ts
  apps/web/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: web, docs, console, smart

fix(smart): using vite rolldown
  apps/smart/package.json
  apps/smart/vite.config.ts
  bun.lock
  docs/awesome-sveltekit.md
Labels: smart, documentation

docs: added deps Maintenance
  README.md
Labels: documentation

docs: added deps Maintenance
  .npmrc
Labels: none

chore(version): v0.8.0
  CHANGELOG.md
  package.json
Labels: documentation, workspace

fix(smart): remove pnpm files, and optimizeDeps from vite
  apps/smart/vite.config.ts
  bun.lock
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: smart

fix(smart): enable Use Local for SmartPast when LanguageModel is in window
  apps/console/package.json
  apps/console/src/routes/(app)/ai/pastesmart/+page.svelte
  apps/docs/package.json
  apps/smart/package.json
  apps/web/package.json
  bun.lock
  package.json
  packages/ui/package.json
  packages/utils/package.json
Labels: web, docs, console, smart, ui, workspace

fix(smart): enable Use Local for SmartPast when LanguageModel is in window
  apps/smart/package.json
  bun.lock
  package.json
Labels: smart, workspace

build: updated deps
  .vscode/settings.json
  apps/console/biome.jsonc
  apps/console/package.json
  apps/docs/package.json
  apps/smart/.gitignore
  apps/smart/biome.jsonc
  apps/smart/package.json
  apps/smart/src/lib/ai/actions/smart-paste.svelte.ts
  apps/smart/src/lib/ai/smart.svelte.ts
  apps/smart/src/routes/todos/+page.svelte
  apps/smart/src/routes/todos/todos.remote.ts
  apps/web/biome.jsonc
  apps/web/package.json
  bun.lock
  functions/package-lock.json
  functions/package.json
  package.json
  packages/ui/biome.jsonc
  packages/ui/package.json
  packages/utils/biome.jsonc
Labels: web, docs, console, smart, ui, workspace

fix(web): fix playground style
  apps/console/src/lib/smart/components/support.svelte
Labels: console
